Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

docs: remove suspended option from docs
  docs/reference/kumo/make_egress_path/suspended.md
Due: build-docs

new: ip_lookup_strategy option in make_egress_path
  crates/dns-resolver/src/lib.rs
  crates/kumo-api-types/Cargo.toml
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mod-dns-resolver/src/lib.rs
  crates/mod-dns-resolver/test-strategy.lua
  docs/changelog/main.md
  docs/faq/how_do_I_skip_ipv6_mx_hosts_for_outbound_smtp.md
  docs/reference/kumo.dns/lookup_addr.md
  docs/reference/kumo/make_egress_path/ip_lookup_strategy.md
  docs/reference/kumo/make_egress_path/skip_hosts.md
Due: build-rust, build-docs

Modify kumo-proxy.md to reflect latest functions.
  docs/userguide/operation/kumo-proxy.md
Due: build-docs

sources.lua: fix defining empty egress pools
  assets/policy-extras/sources.lua
  docs/changelog/main.md
Due: build-rust, build-docs

update rust-openssl to dane-openssl-v0.10.75
  Cargo.lock
  Cargo.toml
Due: none

cargo update
  Cargo.lock
Due: none

integration-test: fixup a test flake
  crates/integration-tests/src/test/tsa_campaign_suspension.rs
Due: build-rust

mx_list_refresh: fix a test flake
  crates/integration-tests/src/test/mx_list_refresh.rs
Due: build-rust

log hooks: add more error context
  crates/kumod/src/logging/hooks.rs
Due: build-rust

lifecycle: add label to Activity::get error case
  Cargo.lock
  crates/kumo-server-lifecycle/Cargo.toml
  crates/kumo-server-lifecycle/src/lib.rs
Due: build-rust

add /api/admin/task-dump api endpoint
  Cargo.lock
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumo-server-runtime/Cargo.toml
  crates/kumo-server-runtime/src/lib.rs
  docs/reference/http/kumod/api_admin_task_dump_get.md
  docs/reference/http/proxy-server/api_admin_task_dump_get.md
  docs/reference/kumod.openapi.json
  docs/reference/proxy-server.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

refactor: move ShuttingDownError into lifecycle
  Cargo.lock
  crates/kumo-server-lifecycle/Cargo.toml
  crates/kumo-server-lifecycle/src/lib.rs
  crates/kumod/src/queue/maintainer.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/spool.rs
Due: build-rust

lruttl: add consistency/robustness check
  Cargo.lock
  crates/lruttl/src/lib.rs
  crates/mod-memoize/Cargo.toml
  crates/mod-memoize/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

use correct option add_auth_results_header
  docs/reference/policy-extras.mail_auth/check.md
Due: build-docs

initial report building
  Cargo.lock
  Cargo.toml
  assets/policy-extras/mail_auth.lua
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/date_range.rs
  crates/kumo-dmarc/src/types/feedback.rs
  crates/kumo-dmarc/src/types/identifier.rs
  crates/kumo-dmarc/src/types/mode.rs
  crates/kumo-dmarc/src/types/policy.rs
  crates/kumo-dmarc/src/types/policy_override.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/report_failure.rs
  crates/kumo-dmarc/src/types/report_metadata.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-server-runtime/Cargo.toml
  crates/kumo-server-runtime/src/lib.rs
  crates/kumo-spf/src/lib.rs
  crates/kumod/src/dmarc.rs
  docs/generate-toc.py
Due: build-rust, build-docs

rfc5965: fix an issue with addressed enclosed in <>
  crates/kumo-log-types/src/rfc5965.rs
  docs/changelog/main.md
Due: build-rust, build-docs

rfc3464: fix issue with addresses enclosed in <>
  crates/kumo-log-types/data/rfc3464/6.eml
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/rfc5321/src/parser.rs
  crates/rfc5321/src/rfc5321.pest
  docs/changelog/main.md
Due: build-rust, build-docs

resolve-xxx: allow use with http:// special tsa/xfer queues
  assets/resolve-shaping-domain
  assets/resolve-site-name
Due: none

mod-serde: sort pretty-printed json object keys
  crates/mod-serde/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Update FUNDING.yml
  .github/FUNDING.yml
Due: none

test
  Cargo.lock
  crates/mod-filesystem/Cargo.toml
  crates/mod-filesystem/src/lib.rs
  crates/mod-time/Cargo.toml
Due: build-rust

load intermidiate cert
  crates/kumo-tls-helper/src/lib.rs
  crates/lruttl/src/lib.rs
  crates/rfc5321/src/client.rs
Due: build-rust

recommended
  crates/kumo-tls-helper/src/lib.rs
  crates/lruttl/src/lib.rs
  crates/rfc5321/src/client.rs
Due: build-rust

adding kumo.fs.stat
  Cargo.lock
  crates/mod-filesystem/Cargo.toml
  crates/mod-filesystem/src/lib.rs
  docs/reference/kumo.fs/stat.md
Due: build-rust, build-docs

some desc in read me
  docs/reference/kumo.fs/stat.md
Due: build-docs

add convenient for ends_with, starts_with
  crates/mod-string/src/lib.rs
  crates/mod-string/test_ends_with.lua
  docs/reference/string/ends_with.md
  docs/reference/string/starts_with.md
Due: build-rust, build-docs

typo in doc
  docs/reference/string/ends_with.md
  docs/reference/string/starts_with.md
Due: build-docs

Added unit test for testing 2 recipients, one with substitution for To header and one with not
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

Updating API index in refman to reflect changes to ACL.
  assets/acls/default.toml
  docs/reference/http/kumod/_index.md
Due: build-docs

Link tweak.
  docs/reference/http/kumod/_index.md
Due: build-docs

tests: capture what happens if we can't connect to ha proxy
  crates/integration-tests/broken-proxy-source.lua
  crates/integration-tests/src/test/proxy_protocol.rs
Due: build-rust

summarize when connection failures are due to proxy issues
  crates/integration-tests/src/test/proxy_protocol.rs
  crates/kumod/src/egress_source.rs
  crates/kumod/src/ready_queue.rs
Due: build-rust

summarize when connection errors are due to unplumbed ip on proxy
  crates/integration-tests/source_with_proxy.lua
  crates/integration-tests/src/test/proxy_basic.rs
  crates/kumod/src/egress_source.rs
  crates/kumod/src/ready_queue.rs
Due: build-rust

summarize when connection failures are due to unplumbed ips
  crates/integration-tests/broken-source.lua
  crates/integration-tests/src/test/bad_source_address.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/egress_source.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

dkim: remove implicit policy status for mismatching From/Signing domains
  crates/dkim/src/lib.rs
  crates/dkim/src/roundtrip_test.rs
  crates/message/src/message.rs
  docs/changelog/main.md
Due: build-rust, build-docs

kumo-wrap: enable operating on bytes
  Cargo.lock
  crates/kumo-wrap/Cargo.toml
  crates/kumo-wrap/src/lib.rs
  crates/mailparsing/src/header.rs
  crates/mod-string/Cargo.toml
  crates/mod-string/src/lib.rs
Due: build-rust

mailparsing: refactor SharedString for binary data
  Cargo.lock
  Cargo.toml
  crates/mailparsing/Cargo.toml
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/strings.rs
  crates/mod-mimepart/src/mimepart.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
