Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

add support for compressing http body in message injection api
  Cargo.lock
  Cargo.toml
  crates/kumod/Cargo.toml
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/http_server/mod.rs
Due: build-rust

recommended changes except unit test
  Cargo.lock
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/Cargo.toml
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  crates/tls-probe/src/main.rs
Due: build-rust

add timeout because we would wait indefinitly if there's no proxyv2 header
  crates/kumod/src/smtp_server.rs
Due: build-rust

docs: kumo.disconnect
  docs/reference/kumo/disconnect.md
Due: build-docs

spool: fix build on macos
  crates/spool/src/local_disk.rs
Due: build-rust

Update User Guide references to log_arf and log_oob to use the new LogThenRelay and LogThenDrop directives.
  docs/userguide/configuration/bounce.md
  docs/userguide/configuration/domains.md
  docs/userguide/configuration/fbl.md
Due: build-docs

implement aes-cbc block with examples . The key need to be in binary format
  Cargo.lock
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-crypto/Cargo.toml
  crates/mod-crypto/src/lib.rs
  simple_policy.lua
Due: build-rust

Add CBC and ecb Block mode aes encryption/decryption
  Cargo.lock
  crates/mod-crypto/Cargo.toml
  crates/mod-crypto/src/lib.rs
  crates/mod-crypto/test.lua
  simple_policy.lua
Due: build-rust

Add Mint to OS list
  docs/userguide/installation/operatingsystem.md
Due: build-docs

format, add test in integration-test dir
  crates/integration-tests/gen_cert.sh
  crates/integration-tests/test-client-cert.lua
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/tls.rs
Due: build-rust

adjusting unit test
  Cargo.toml
  crates/integration-tests/Cargo.toml
  crates/integration-tests/gen_cert.sh
  crates/integration-tests/source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/tls_client_certificate.rs
  crates/integration-tests/test-client-cert.lua
Due: build-rust

adding rust client side cert handling
  Cargo.toml
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/Cargo.toml
  crates/rfc5321/src/tls.rs
Due: build-rust

fix cache bug, update doc
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  docs/reference/kumo/make_egress_path/tls_certificate.md
  docs/reference/kumo/make_egress_path/tls_private_key.md
Due: build-rust, build-docs

typo...
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

use KeySource
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  crates/tls-probe/src/main.rs
Due: build-rust

add caching
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

test cleanup
  crates/integration-tests/test-client-cert.lua
Due: build-rust

adding client_cert
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  crates/tls-probe/src/main.rs
Due: build-rust

fix bug, fix unit test
  Cargo.lock
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/tls_client_certificate.rs
  crates/integration-tests/src/test/tls_opportunistic_reconnect.rs
  crates/kumo-api-types/src/shaping.rs
  crates/rfc5321/src/client.rs
Due: build-rust

Update links to Comcast docs
  assets/policy-extras/shaping.toml
Due: build-rust

We miss you Mister Rogers.
  assets/policy-extras/queue.lua
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/sink.lua
  crates/integration-tests/src/test/auth_deliver.rs
  crates/integration-tests/src/test/auth_deliver_invalid_password.rs
  docs/reference/events/http_server_validate_auth_basic.md
  docs/reference/events/smtp_server_auth_plain.md
  docs/reference/kumo/make_egress_path/smtp_auth_plain_password.md
  docs/reference/kumo/make_egress_path/smtp_auth_plain_username.md
  docs/reference/kumo/make_listener_domain/relay_to.md
  docs/reference/kumo/memoize.md
  docs/userguide/configuration/queuemanagement.md
  docs/userguide/operation/outbound_auth.md
  docs/userguide/policy/inbound_auth.md
  inject-test.js
  simple_policy.lua
Due: build-rust, build-docs

dns-resolver & EnvelopeAddress: explicitly check and deny ports in domain
  Cargo.lock
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/no_ports_in_rcpt_domain.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/message/Cargo.toml
  crates/message/src/address.rs
Due: build-rust

allow setting destination smtp port via mx_list
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/disconnect_in_data.rs
  crates/integration-tests/src/test/suspend_delivery_ready_q.rs
  crates/integration-tests/src/test/suspend_delivery_ready_q_and_deliver.rs
  crates/kumo-log-types/src/lib.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/smtp_port.md
  docs/reference/kumo/make_egress_source/remote_port.md
  docs/reference/kumo/make_queue_config/protocol.md
Due: build-rust, build-docs

message: unit tests for parsing routing_domain with port
  crates/message/src/queue_name.rs
Due: build-rust

allow specify port number in queue and routing_domain meta
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/rebind_port.rs
  docs/changelog/main.md
Due: build-rust, build-docs

add kumo.dns.lookup_ptr (#390)
  assets/run-lua-test
  crates/mod-dns-resolver/src/lib.rs
  crates/mod-dns-resolver/test-dns-ptr.lua
  docs/reference/kumo.dns/lookup_ptr.md
Due: build-rust, build-docs

cargo update
  Cargo.lock
Due: none

docs: update for #390
  docs/changelog/main.md
  docs/reference/kumo.dns/lookup_ptr.md
Due: build-docs

docs: update json file versions
  docs/reference/kumod.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-docs

Update list of command line tools
  docs/userguide/operation/command-line-index.md
Due: build-docs

removed duplication
  docs/userguide/operation/command-line-index.md
Due: build-docs

Add support for custom key names in HashiCorp Vault secrets
  crates/data-loader/src/lib.rs
  docs/reference/keysource.md
  docs/reference/kumo.secrets/load.md
  docs/reference/kumo/make_egress_path/smtp_auth_plain_password.md
  docs/reference/kumo/start_esmtp_listener/tls_certificate.md
  docs/reference/kumo/start_esmtp_listener/tls_private_key.md
  docs/reference/kumo/start_http_listener/tls_certificate.md
  docs/reference/kumo/start_http_listener/tls_private_key.md
  docs/userguide/configuration/dkim.md
  docs/userguide/configuration/httplisteners.md
  docs/userguide/operation/outbound_auth.md
  docs/userguide/policy/hashicorp_vault.md
  docs/userguide/policy/inbound_auth.md
  simple_policy.lua
Due: build-rust, build-docs

add kumo.mpsc.define
  Cargo.lock
  Cargo.toml
  assets/run-lua-test
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-mpsc/Cargo.toml
  crates/mod-mpsc/src/lib.rs
  crates/mod-mpsc/test.lua
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.mpsc/_index.md
  docs/reference/kumo.mpsc/define.md
Due: build-rust, build-docs

fixing unit test and formatting error
  crates/data-loader/src/lib.rs
Due: build-rust

Update crates/mod-crypto/src/lib.rs
  crates/mod-crypto/src/lib.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
