Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

refactor: extract kumo-tls-helper crate from rfc5321
  Cargo.lock
  Cargo.toml
  crates/kumo-tls-helper/Cargo.toml
  crates/kumo-tls-helper/src/lib.rs
  crates/kumo-tls-helper/src/traits.rs
  crates/rfc5321/Cargo.toml
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/lib.rs
Due: build-rust

feat: add TLS and RFC 1929 auth to KumoProxy
  Cargo.lock
  crates/integration-tests/proxy_with_auth.lua
  crates/integration-tests/source_with_proxy.lua
  crates/integration-tests/src/kumoproxy.rs
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/proxy_basic.rs
  crates/kumo-tls-helper/src/lib.rs
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/changelog/main.md
Due: build-rust, build-docs

proxy: restore no-splice functionality
  Cargo.lock
  crates/kumo-tls-helper/src/traits.rs
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
Due: build-rust

proxy: fixup config.put in lua callback error case
  crates/proxy-server/src/proxy_handler.rs
Due: build-rust

proxy: refine TcpStream conversion
  crates/kumo-tls-helper/src/traits.rs
  crates/proxy-server/src/proxy_handler.rs
Due: build-rust

smtp_server: add support for using SNI to resolve certs
  crates/kumod/src/smtp_server.rs
Due: build-rust

cargo update
  Cargo.lock
  rust-toolchain.toml
Due: none

fixup build after cargo update
  Cargo.toml
Due: none

fix the first few TODO issues
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

first pass
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-audit-series/Cargo.toml
  crates/mod-audit-series/src/lib.rs
  crates/mod-audit-series/test.lua
Due: build-rust

http inject: add integration test for request_body_limit
  crates/integration-tests/src/test/http_inject_size_limit.rs
  crates/integration-tests/src/test/mod.rs
  docs/reference/kumo/start_http_listener/request_body_limit.md
Due: build-rust, build-docs

docs: add kumo.start_proxy_listener and changelog entry
  docs/changelog/main.md
  docs/reference/events/proxy_server_auth_rfc1929.md
  docs/reference/kumo/start_proxy_listener/_index.md
  docs/reference/kumo/start_proxy_listener/hostname.md
  docs/reference/kumo/start_proxy_listener/listen.md
  docs/reference/kumo/start_proxy_listener/no_splice.md
  docs/reference/kumo/start_proxy_listener/require_auth.md
  docs/reference/kumo/start_proxy_listener/timeout.md
  docs/reference/kumo/start_proxy_listener/tls_certificate.md
  docs/reference/kumo/start_proxy_listener/tls_private_key.md
  docs/reference/kumo/start_proxy_listener/use_tls.md
Due: build-docs

readme
  Cargo.lock
  crates/mod-audit-series/Cargo.toml
  crates/mod-audit-series/src/lib.rs
  crates/mod-audit-series/test.lua
  docs/reference/kumo.audit_series/_index.md
  docs/reference/kumo.audit_series/add.md
  docs/reference/kumo.audit_series/define.md
  docs/reference/kumo.audit_series/get.md
  docs/reference/kumo.audit_series/reset.md
Due: build-rust, build-docs

remove unused dependency
  Cargo.lock
  crates/mod-audit-series/Cargo.toml
  crates/mod-audit-series/src/lib.rs
Due: build-rust

Fix an issue when rebuilding mailbox list headers with wrapped contents
  crates/kumod/test_http_display_name_wrapping.lua
  crates/mailparsing/src/rfc5322_parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

feat: add TLS and RFC 1929 auth to KumoProxy
  Cargo.lock
  crates/integration-tests/proxy_with_auth.lua
  crates/integration-tests/source_with_proxy.lua
  crates/integration-tests/src/kumoproxy.rs
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/proxy_basic.rs
  crates/kumo-tls-helper/src/lib.rs
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/changelog/main.md
  docs/reference/lruttl-caches.json
Due: build-rust, build-docs

proxy: flip no_splice to use_splice in proxy policy file
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/reference/kumo/start_proxy_listener/use_splice.md
Due: build-rust, build-docs

docs: refine recent proxy server doc changes
  docs/changelog/main.md
  docs/reference/events/proxy_server_auth_rfc1929.md
  docs/reference/kumo/start_proxy_listener/_index.md
  docs/reference/kumo/start_proxy_listener/hostname.md
  docs/reference/kumo/start_proxy_listener/listen.md
  docs/reference/kumo/start_proxy_listener/require_auth.md
  docs/reference/kumo/start_proxy_listener/timeout.md
  docs/reference/kumo/start_proxy_listener/tls_certificate.md
  docs/reference/kumo/start_proxy_listener/tls_private_key.md
  docs/reference/kumo/start_proxy_listener/use_splice.md
  docs/reference/kumo/start_proxy_listener/use_tls.md
Due: build-docs

docs: metrics: note about pruning out metrics
  docs/reference/http/metrics.json.md
  docs/reference/http/metrics.md
Due: build-docs

Update docs/reference/kumo.audit_series/_index.md
  docs/reference/kumo.audit_series/_index.md
Due: build-docs

make recommended changes
  Cargo.lock
  crates/mod-audit-series/Cargo.toml
  crates/mod-audit-series/src/lib.rs
  crates/mod-audit-series/test.lua
  docs/reference/kumo.audit_series/add.md
  docs/reference/kumo.audit_series/define.md
  docs/reference/kumo.audit_series/get.md
  docs/reference/kumo.audit_series/reset.md
Due: build-rust, build-docs

reset can use BorrowedAuditCounterKey too
  crates/mod-audit-series/src/lib.rs
Due: build-rust

tidying up
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

fix generating multiple To headers with http injection API
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
  docs/reference/http/api_inject_v1.md
Due: build-rust, build-docs

exposing memory config parameters
  crates/kumo-server-common/src/lib.rs
  crates/kumo-server-common/test_get_memory_limit.lua
  crates/kumo-server-memory/src/lib.rs
  docs/reference/kumo/get_memory_hard_limit.md
  docs/reference/kumo/get_memory_low_thresh.md
  docs/reference/kumo/get_memory_soft_limit.md
Due: build-rust, build-docs

add per-message xfer functionality
  Makefile
  crates/integration-tests/source-xfer.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/xfer.rs
  crates/kumo-api-types/src/xfer.rs
  crates/kumod/src/main.rs
  crates/kumod/src/xfer/lua.rs
  crates/kumod/src/xfer/mod.rs
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.xfer/_index.md
  docs/reference/kumo.xfer/cancel_xfer.md
  docs/reference/kumo.xfer/get_xfer_target.md
  docs/reference/kumo.xfer/xfer.md
Due: build-rust, build-docs

docs: add tags to kcli commands
  crates/kcli/src/main.rs
  docs/generate-toc.py
  docs/reference/kcli/bounce-cancel.md
  docs/reference/kcli/bounce-list.md
  docs/reference/kcli/bounce.md
  docs/reference/kcli/inspect-message.md
  docs/reference/kcli/inspect-sched-q.md
  docs/reference/kcli/provider-summary.md
  docs/reference/kcli/queue-summary.md
  docs/reference/kcli/set-log-filter.md
  docs/reference/kcli/suspend-cancel.md
  docs/reference/kcli/suspend-list.md
  docs/reference/kcli/suspend-ready-q-cancel.md
  docs/reference/kcli/suspend-ready-q-list.md
  docs/reference/kcli/suspend-ready-q.md
  docs/reference/kcli/suspend.md
  docs/reference/kcli/top.md
  docs/reference/kcli/trace-smtp-client.md
  docs/reference/kcli/trace-smtp-server.md
  docs/reference/kcli/xfer-cancel.md
  docs/reference/kcli/xfer.md
Due: build-rust, build-docs

http injection: fix auth_info regression for deferred_generation
  crates/integration-tests/src/test/http_inject_deferred.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

jsonschema: refine some metadata
  crates/kumo-api-types/src/lib.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

remove dead code
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/http_server/mod.rs
  docs/reference/http/kumod/schemas/Header.md
  docs/reference/http/kumod/schemas/MessageInformation.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

docs: flesh out more of the JSON Schema metadata
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/http_server/mod.rs
  docs/reference/http/kumod/api_admin_bounce_v1_get.md
  docs/reference/http/kumod/api_admin_bounce_v1_post.md
  docs/reference/http/kumod/api_admin_inspect_message_v1_get.md
  docs/reference/http/kumod/api_admin_inspect_sched_q_v1_get.md
  docs/reference/http/kumod/api_admin_suspend_ready_q_v1_get.md
  docs/reference/http/kumod/api_admin_suspend_ready_q_v1_post.md
  docs/reference/http/kumod/api_admin_suspend_v1_get.md
  docs/reference/http/kumod/api_admin_suspend_v1_post.md
  docs/reference/http/kumod/api_inject_v1_post.md
  docs/reference/http/kumod/schemas/BounceV1ListEntry.md
  docs/reference/http/kumod/schemas/BounceV1Request.md
  docs/reference/http/kumod/schemas/Content.md
  docs/reference/http/kumod/schemas/FromHeader.md
  docs/reference/http/kumod/schemas/InjectV1Request.md
  docs/reference/http/kumod/schemas/InjectV1Response.md
  docs/reference/http/kumod/schemas/InspectMessageV1Response.md
  docs/reference/http/kumod/schemas/InspectQueueV1Request.md
  docs/reference/http/kumod/schemas/InspectQueueV1Response.md
  docs/reference/http/kumod/schemas/MessageInformation.md
  docs/reference/http/kumod/schemas/QueueState.md
  docs/reference/http/kumod/schemas/ReadyQueueStateRequest.md
  docs/reference/http/kumod/schemas/Recipient.md
  docs/reference/http/kumod/schemas/SuspendReadyQueueV1ListEntry.md
  docs/reference/http/kumod/schemas/SuspendReadyQueueV1Request.md
  docs/reference/http/kumod/schemas/SuspendV1ListEntry.md
  docs/reference/http/kumod/schemas/SuspendV1Request.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

docs: remove rapidoc HTTP explorer
  docs/changelog/2024.09.02-c5476b89.md
  docs/changelog/2025.01.23-7273d2bc.md
  docs/changelog/2025.12.02-67ee9e96.md
  docs/faq/flush_queue.md
  docs/generate-toc.py
  docs/reference/configuration.md
  docs/reference/events/rebind_message.md
  docs/reference/kumo.aaa/configure_acct_log.md
  docs/reference/kumo/configure_local_logs/min_free_inodes.md
  docs/reference/kumo/configure_local_logs/min_free_space.md
  docs/reference/kumo/define_spool/min_free_inodes.md
  docs/reference/kumo/define_spool/min_free_space.md
  docs/reference/rapidoc.md
  docs/userguide/clustering/scaling.md
Due: build-docs

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
