Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

Add glob example.
  docs/faq/how_do_i_include_multiple_files.md
Due: build-docs

Linter complaints.
  docs/userguide/performance/dns.md
  docs/userguide/performance/index.md
Due: build-docs

Update Linux tuning to have less examples so that people don't blindly implement them.
  docs/userguide/performance/linuxtuning.md
Due: build-docs

Update docs/faq/how_do_i_include_multiple_files.md
  docs/faq/how_do_i_include_multiple_files.md
Due: build-docs

Updates to the performance chapter of the userguide.
  docs/generate-toc.py
  docs/userguide/performance/dns.md
  docs/userguide/performance/index.md
  docs/userguide/performance/testing.md
Due: build-docs

Implement Wez's feedback to use meta instead of header in the logging example.
  docs/userguide/performance/loghooks.md
Due: build-docs

Formatting and spelling fixes.
  docs/userguide/performance/architecture.md
Due: build-docs

docs: code formatting
  docs/faq/how_do_i_include_multiple_files.md
  docs/generate-toc.py
  docs/userguide/performance/testing.md
Due: build-docs

docs: expand discussion around iptables
  docs/userguide/performance/testing.md
Due: build-docs

docs: wrap iptables command
  docs/userguide/performance/testing.md
Due: build-docs

docs: note about domain-suffix when using iptables
  docs/userguide/performance/testing.md
Due: build-docs

cargo update
  Cargo.lock
Due: none

promote docker_utils to policy-extras
  assets/policy-extras/docker_utils.lua
  examples/docker-swarm/policy/init.lua
  examples/single-node-docker/policy/docker_utils.lua
  examples/single-node-docker/policy/init.lua
Due: build-rust

enhance log_arf, log_oob to support LogThenDrop
  Cargo.lock
  assets/policy-extras/listener_domains.lua
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/log_oob_arf.rs
  crates/kcli/src/trace_smtp_server.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
  crates/kumod/src/logging/disposition.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
  docs/reference/events/get_listener_domain.md
  docs/reference/kumo/make_listener_domain/log_arf.md
  docs/reference/kumo/make_listener_domain/log_oob.md
Due: build-rust, build-docs

rfc5965: ignore bogus rfc822 dates arrival or reception-date headers
  crates/kumo-log-types/data/rfc5965/2.eml
  crates/kumo-log-types/src/rfc5965.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Remove extra references.
  docs/userguide/performance/index.md
Due: build-docs

kumod: avoid panic when main policy file has syntax error
  crates/kumo-server-lifecycle/src/lib.rs
  crates/kumod/src/accounting.rs
Due: build-rust

docs: fmt
  docs/reference/kumo/make_listener_domain/log_arf.md
  docs/reference/kumo/make_listener_domain/log_oob.md
Due: build-docs

docs: memoize: allow_stale_reads
  docs/reference/kumo/memoize.md
Due: build-docs

docs: update for latest release
  docs/changelog/2025.05.06-b29689af.md
  docs/changelog/main.md
  docs/reference/events/smtp_server_connection_accepted.md
  docs/reference/events/smtp_server_get_dynamic_parameters.md
  docs/reference/kumo.dns/configure_resolver.md
  docs/reference/kumo.dns/set_mx_concurrency_limit.md
  docs/reference/kumo/available_parallelism.md
  docs/reference/kumo/make_egress_path/dispatcher_wakeup_strategy.md
  docs/reference/kumo/make_egress_path/maintainer_wakeup_strategy.md
  docs/reference/kumo/make_egress_path/system_shutdown_timeout.md
  docs/reference/kumo/make_listener_domain/log_arf.md
  docs/reference/kumo/make_listener_domain/log_oob.md
  docs/reference/kumo/memoize.md
  docs/reference/kumo/set_qmaint_threads.md
  docs/reference/kumo/set_ready_qmaint_threads.md
  docs/reference/kumo/start_esmtp_listener/meta.md
  docs/reference/kumo/start_esmtp_listener/peer.md
  docs/reference/kumo/start_esmtp_listener/tls_certificate.md
  docs/reference/kumo/start_esmtp_listener/tls_private_key.md
  docs/reference/kumo/start_esmtp_listener/via.md
Due: build-docs

Update bounces.toml
  assets/community/bounces.toml
Due: none

disable delete-old-packages workflow for the moment
  .github/workflows/delete-old-packages.yml
Due: none

actions/delete-package-versions destroys multi-arch images!
  .github/workflows/delete-old-packages.yml
Due: none

smtp_dispatcher: retry more aggressively in transport-error-ish scenarios
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/disconnect_in_data.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumo-log-types/src/lib.rs
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/client_types.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/try_next_host_on_transport_error.md
Due: build-rust, build-docs

Add Postmastery integration.
  docs/generate-toc.py
  docs/userguide/integrations/index.md
  docs/userguide/integrations/postmastery.md
Due: build-docs

docs: update configure_resolver page for hickory changes
  docs/reference/kumo.dns/configure_resolver.md
Due: build-docs

docs: fmt
  docs/generate-toc.py
Due: build-docs

kumod: avoid spamming "shutting down" messages to log on shutdown
  crates/kumod/src/queue/maintainer.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/spool.rs
Due: build-rust

docs: expand get_egress_path_config event docs
  docs/reference/events/get_egress_path_config.md
  docs/userguide/operation/outbound_auth.md
Due: build-docs

docs: add explicit titles to event reference pages
  docs/reference/events/get_egress_path_config.md
  docs/reference/events/get_egress_pool.md
  docs/reference/events/get_egress_source.md
  docs/reference/events/get_listener_domain.md
  docs/reference/events/get_queue_config.md
  docs/reference/events/http_message_generated.md
  docs/reference/events/http_server_validate_auth_basic.md
  docs/reference/events/init.md
  docs/reference/events/pre_init.md
  docs/reference/events/rebind_message.md
  docs/reference/events/requeue_message.md
  docs/reference/events/should_enqueue_log_record.md
  docs/reference/events/smtp_client_rewrite_delivery_status.md
  docs/reference/events/smtp_server_auth_plain.md
  docs/reference/events/smtp_server_connection_accepted.md
  docs/reference/events/smtp_server_ehlo.md
  docs/reference/events/smtp_server_get_dynamic_parameters.md
  docs/reference/events/smtp_server_mail_from.md
  docs/reference/events/smtp_server_message_deferred_inject.md
  docs/reference/events/smtp_server_message_received.md
  docs/reference/events/smtp_server_rcpt_to.md
  docs/reference/events/spool_message_enumerated.md
  docs/reference/events/throttle_insert_ready_queue.md
  docs/reference/events/tsa_init.md
  docs/reference/events/tsa_load_shaping_data.md
Due: build-docs

docs: enable attr-list extension
  mkdocs-base.yml
Due: build-docs

docs: fixup get_egress_path_config
  docs/reference/events/get_egress_path_config.md
Due: build-docs

rustfmt
  crates/kcli/src/main.rs
Due: build-rust

Correction.
  docs/userguide/integrations/postmastery.md
  docs/userguide/operation/webhooks.md
Due: build-docs

Typo fix.
  docs/userguide/clustering/deployment.md
Due: build-docs

Linter complaint
  docs/userguide/operation/webhooks.md
Due: build-docs

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
