Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

mailparsing: fix potential panic when fixing broken base64 parts
  crates/mailparsing/src/mimepart.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Update traffic shaping defaults to require TLS for Google as per conversation with Gmail admins.
  assets/policy-extras/shaping.toml
  docs/userguide/configuration/trafficshaping.md
Due: build-rust, build-docs

Adding TLS required for Comcast as per @AlexB in the Discord.
  assets/policy-extras/shaping.toml
Due: build-rust

Whoops, already required.
  assets/policy-extras/shaping.toml
Due: build-rust

Update shaping.toml
  assets/community/shaping.toml
Due: none

remove duplicate gmail automation
  assets/community/shaping.toml
Due: none

Add systemd service instructions for KumoProxy
  docs/userguide/operation/kumo-proxy.md
Due: build-docs

fix formatting
  docs/userguide/operation/kumo-proxy.md
Due: build-docs

adding client_cert
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  crates/tls-probe/src/main.rs
Due: build-rust

use KeySource
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  crates/tls-probe/src/main.rs
Due: build-rust

add caching
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

Skeleton of aes
  Cargo.lock
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-crypto/Cargo.toml
  crates/mod-crypto/src/lib.rs
Due: build-rust

update
  crates/kumo-server-common/src/lib.rs
Due: build-rust

wip
  crates/mod-crypto/src/lib.rs
Due: build-rust

update
  crates/mod-crypto/src/lib.rs
Due: build-rust

Add instructions for forking and issueing a PR
  DEVELOPERS.md
Due: none

adding rust client side cert handling
  Cargo.toml
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/Cargo.toml
  crates/rfc5321/src/tls.rs
Due: build-rust

updateparams
  Cargo.lock
  crates/mod-crypto/Cargo.toml
  crates/mod-crypto/src/lib.rs
Due: build-rust

fix cache bug, update doc
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  docs/reference/kumo/make_egress_path/tls_certificate.md
  docs/reference/kumo/make_egress_path/tls_private_key.md
Due: build-rust, build-docs

format, add test in integration-test dir
  crates/integration-tests/gen_cert.sh
  crates/integration-tests/test-client-cert.lua
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/tls.rs
Due: build-rust

Update user guide to replace 'log_fbl' with 'log_arf' in example
  docs/userguide/configuration/domains.md
Due: build-docs

typo...
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

docs: refine DEVELOPERS.md
  DEVELOPERS.md
Due: none

add support for proxy_protocol for start_esmtp_listener
  crates/kumod/src/smtp_server.rs
Due: build-rust

test cleanup
  crates/integration-tests/test-client-cert.lua
Due: build-rust

implement aes-cbc block with examples . The key need to be in binary format
  Cargo.lock
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-crypto/Cargo.toml
  crates/mod-crypto/src/lib.rs
  simple_policy.lua
Due: build-rust

ci: maybe fix pr build for non kumocorp folks
  .github/workflows/reusable-kumomta-build.yml
Due: none

fmt
  crates/mod-dns-resolver/test-dns-ptr.lua
Due: build-rust

update test and move location
  assets/run-lua-test
  crates/mod-dns-resolver/test-dns-ptr.lua
Due: build-rust

Update docs/reference/kumo.dns/lookup_ptr.md
  docs/reference/kumo.dns/lookup_ptr.md
Due: build-docs

Update crates/integration-tests/dns-ptr.lua
  crates/integration-tests/dns-ptr.lua
Due: build-rust

add lookup_ptr
  crates/integration-tests/dns-ptr.lua
  crates/mod-dns-resolver/src/lib.rs
  docs/reference/kumo.dns/lookup_ptr.md
Due: build-rust, build-docs
