Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

Update crates/mod-crypto/src/lib.rs
  crates/mod-crypto/src/lib.rs
Due: build-rust

add working dmarc alignment tests
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

enable XCLIENT support
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/xclient.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
  docs/reference/kumo/start_esmtp_listener/allow_xclient.md
  simple_policy.lua
Due: build-rust, build-docs

fix typo in doc
  docs/reference/kumo.serde/yaml_load.md
Due: build-docs

Address feedback
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

update with minor fixes
  crates/mod-crypto/src/lib.rs
Due: build-rust

remove hex
  crates/mod-crypto/src/lib.rs
  crates/mod-crypto/test.lua
Due: build-rust

remove unwrap
  crates/mod-crypto/src/lib.rs
Due: build-rust

improve tests
  crates/mod-crypto/test.lua
Due: build-rust

update tests
  crates/mod-crypto/test.lua
Due: build-rust

restructure test.lua
  crates/mod-crypto/test.lua
Due: build-rust

Address review comments
  crates/mod-crypto/src/lib.rs
  crates/mod-crypto/test.lua
Due: build-rust

refactor BinaryResult
  Cargo.lock
  crates/mod-crypto/Cargo.toml
  crates/mod-crypto/src/lib.rs
  crates/mod-digest/src/lib.rs
Due: build-rust

fix typo
  crates/mod-crypto/test.lua
Due: build-rust

Initial DMARC support
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/format.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/dmarc.rs
  crates/kumod/src/main.rs
  crates/kumod/src/spf.rs
Due: build-rust

remove comment
  crates/mod-crypto/src/lib.rs
Due: build-rust

Update sample code
  docs/reference/kumo/generate_rfc3464_message.md
Due: build-docs

xclient: capture original via/from address in context
  crates/integration-tests/src/test/xclient.rs
  crates/kumod/src/smtp_server.rs
  docs/reference/metadata.md
Due: build-rust, build-docs

http_server/auth: clarify Missing Authorization header message
  crates/kumo-server-common/src/http_server/auth.rs
Due: build-rust

rustfmt
  crates/kumo-server-common/src/http_server/auth.rs
Due: build-rust

support ip4, ip6 with no subnet
  crates/kumo-spf/src/record.rs
  crates/kumo-spf/src/tests.rs
Due: build-rust

spf: allow for extraneous spaces in spf records
  crates/kumo-spf/src/record.rs
Due: build-rust

spf: allow for underscores in domain names when including
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/record.rs
  crates/kumo-spf/src/tests.rs
Due: build-rust

spf: implement h and r macros
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/spec.rs
  crates/kumod/src/spf.rs
Due: build-rust

spf: implement p macro
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/record.rs
  crates/kumo-spf/src/spec.rs
Due: build-rust

spf: apply dns lookup limits
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/record.rs
  crates/kumo-spf/src/tests.rs
Due: build-rust

Add support for dmarc pct
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

docs: format and fixup whitespace
  docs/reference/kumo/generate_rfc3464_message.md
Due: build-docs

logging: allow * to match meta names
  crates/kumod/src/logging/mod.rs
  docs/changelog/main.md
  docs/reference/kumo/configure_local_logs/meta.md
Due: build-rust, build-docs

rfc5321: fixup norun attribute on doc comment
  crates/rfc5321/src/client.rs
Due: build-rust

docs: changelog for #423
  docs/changelog/main.md
Due: build-docs
