Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

dns-resolver: migrate this test from live-dns to fixture
  crates/dns-resolver/src/lib.rs
Due: build-rust

add check_trailing_bits: false
  crates/mailparsing/src/mimepart.rs
Due: build-rust

improve cgroup memory usage calculation to avoid counting purgeable cache
  crates/kumo-server-memory/src/lib.rs
  docs/changelog/main.md
  docs/reference/memory.md
Due: build-rust, build-docs

Formatting changes.
  docs/userguide/clustering/scaling.md
  docs/userguide/configuration/bounce.md
  docs/userguide/configuration/fbl.md
  docs/userguide/configuration/logging.md
  docs/userguide/configuration/queuemanagement.md
  docs/userguide/configuration/sendingips.md
  docs/userguide/configuration/spool.md
  docs/userguide/configuration/trafficshaping.md
  docs/userguide/general/about.md
  docs/userguide/integrations/hornetsecurity.md
  docs/userguide/operation/kumo-proxy.md
  docs/userguide/operation/logs.md
  docs/userguide/operation/outbound_auth.md
  docs/userguide/operation/proxy.md
  docs/userguide/operation/smtpinjection.md
  docs/userguide/operation/status.md
  docs/userguide/operation/troubleshooting.md
  docs/userguide/operation/webhooks.md
  docs/userguide/performance/loghooks.md
  docs/userguide/performance/messageflow.md
  docs/userguide/policy/hashicorp_vault.md
  docs/userguide/policy/http.md
  docs/userguide/policy/inbound_auth.md
  docs/userguide/trafficshaping/automation.md
  docs/userguide/trafficshaping/resolution.md
  docs/userguide/trafficshaping/rollups.md
  docs/userguide/trafficshaping/scoping.md
  docs/userguide/trafficshaping/shapingfiles.md
Due: build-docs

Additional formatting pass.
  docs/userguide/configuration/bounce.md
  docs/userguide/configuration/concepts.md
  docs/userguide/configuration/fbl.md
  docs/userguide/configuration/policy_helpers.md
  docs/userguide/configuration/queuemanagement.md
  docs/userguide/configuration/rollup.md
  docs/userguide/configuration/sendingips.md
  docs/userguide/configuration/spool.md
  docs/userguide/general/architecture.md
  docs/userguide/integrations/grafana.md
  docs/userguide/integrations/mautic.md
  docs/userguide/operation/kcli.md
  docs/userguide/operation/starting.md
  docs/userguide/operation/webhooks.md
  docs/userguide/performance/linuxtuning.md
  docs/userguide/performance/messageflow.md
  docs/userguide/performance/testing.md
  docs/userguide/policy/hashicorp_vault.md
  docs/userguide/policy/routing.md
  docs/userguide/trafficshaping/resolution.md
  docs/userguide/trafficshaping/rollups.md
Due: build-docs

Minor wording corrections.
  docs/userguide/configuration/bounce.md
  docs/userguide/configuration/concepts.md
  docs/userguide/configuration/dkim.md
  docs/userguide/configuration/domains.md
  docs/userguide/configuration/example.md
  docs/userguide/configuration/policy_helpers.md
  docs/userguide/configuration/queuemanagement.md
  docs/userguide/configuration/rollup.md
  docs/userguide/configuration/sendingips.md
  docs/userguide/general/about.md
  docs/userguide/installation/hardware.md
  docs/userguide/installation/operatingsystem.md
  docs/userguide/integrations/ongage.md
  docs/userguide/operation/httpinjection.md
  docs/userguide/operation/kumo-proxy.md
  docs/userguide/operation/status.md
  docs/userguide/performance/linuxtuning.md
  docs/userguide/performance/messageflow.md
  docs/userguide/policy/amqp.md
  docs/userguide/policy/kafka.md
  docs/userguide/policy/nats.md
  docs/userguide/trafficshaping/automation.md
  docs/userguide/trafficshaping/shapingfiles.md
Due: build-docs

spool: probe directory usability before opening
  Cargo.lock
  Cargo.toml
  crates/dir-probe/Cargo.toml
  crates/dir-probe/examples/probe.rs
  crates/dir-probe/src/lib.rs
  crates/maildir/Cargo.toml
  crates/maildir/src/lib.rs
  crates/spool/Cargo.toml
  crates/spool/src/local_disk.rs
  crates/spool/src/rocks.rs
  docs/changelog/main.md
Due: build-rust, build-docs

add initial support for dmarc reporting email
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumod/src/dmarc.rs
  docs/generate-toc.py
Due: build-rust, build-docs

move to separate report log files
  Cargo.lock
  Cargo.toml
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

Add metadata to FAQs.
  docs/faq/can_i_migrate_from_momentum_ecelerity_to_kumomta.md
  docs/faq/can_i_migrate_from_powermta_to_kumomta.md
  docs/faq/does_kumomta_follow_secure_development_lifecycle_practices.md
  docs/faq/flush_queue.md
  docs/faq/how_can_i_get_help_with_kumomta.md
  docs/faq/how_can_i_tell_what_traffic_shaping_rules_apply_to_a_domain.md
  docs/faq/how_do_I_skip_ipv6_mx_hosts_for_outbound_smtp.md
  docs/faq/how_do_i_create_an_always_suspended_queue.md
  docs/faq/how_do_i_include_multiple_files.md
  docs/faq/is_there_a_saas_version_of_kumomta.md
  docs/faq/multiple_dkim_signatures.md
  docs/faq/non_relay_hosts.md
  docs/faq/permission_denied.md
  docs/faq/pop3_imap.md
  docs/faq/shared_throttles_in_cluster.md
  docs/faq/spof.md
  docs/faq/test_tls_injection.md
  docs/faq/what_is_kumomta.md
  docs/faq/who_is_kumomta_for.md
  docs/index.md
  docs/userguide/installation/environment.md
  docs/userguide/policy/inbound_auth.md
Due: build-docs

rspamd: adapt to async Message accessors and byte header values
  crates/mod-rspamd/src/lib.rs
Due: build-rust

rspamd: address code review findings
  crates/integration-tests/rspamd.lua
  crates/integration-tests/src/rspamd.rs
  crates/mod-rspamd/README.md
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

rspamd: make integration tests pass against a live rspamd
  crates/integration-tests/rspamd.lua
  crates/integration-tests/src/rspamd.rs
Due: build-rust

rspamd: upgrade to rspamd-client 0.6 for per-recipient Rcpt headers
  Cargo.lock
  crates/integration-tests/src/rspamd.rs
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
Due: build-rust

rspamd: cache built client configs across scans
  Cargo.lock
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
Due: build-rust

rspamd: use persistent RspamdAsyncClient from rspamd-client 0.7
  Cargo.lock
  crates/integration-tests/rspamd.lua
  crates/integration-tests/src/rspamd.rs
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

Adding to the FAQ
  docs/faq/all_sources_suspended.md
  docs/faq/config_not_reloading.md
  docs/faq/custom_metadata.md
  docs/faq/customize_bounce_classification.md
  docs/faq/egress_pool_unspecified.md
  docs/faq/high_memory_usage.md
  docs/faq/monitoring_prometheus_grafana.md
  docs/faq/outbound_tls_failures.md
  docs/faq/permanently_drop_mail.md
  docs/faq/rate_limits.md
  docs/faq/ready_queue_was_full.md
  docs/faq/receiving_inbound_mail.md
  docs/faq/relay_to_smarthost.md
  docs/faq/removing_trace_headers.md
  docs/faq/shipping_logs.md
  docs/faq/slow_shutdown.md
  docs/faq/smtp_auth_setup.md
  docs/faq/upgrading_and_tsa_db.md
Due: build-docs

Killing deprecated FAQ
  docs/faq/upgrading_and_tsa_db.md
Due: build-docs

rfc5321: tolerate stray space after MAIL FROM:/RCPT TO: colon
  crates/rfc5321/src/parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Cleanup of FAQ entries.
  docs/faq/all_sources_suspended.md
  docs/faq/config_not_reloading.md
  docs/faq/custom_metadata.md
  docs/faq/high_memory_usage.md
  docs/faq/permanently_drop_mail.md
  docs/faq/rate_limits.md
  docs/faq/relay_to_smarthost.md
  docs/faq/shipping_logs.md
  docs/faq/slow_shutdown.md
  docs/faq/smtp_auth_setup.md
Due: build-docs

add test, fix a few issues
  Cargo.lock
  crates/integration-tests/dmarc.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/queue_dmarc.rs
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-spf/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

add dmarc attributes
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

Double quotes in titles break the build.
  docs/faq/all_sources_suspended.md
  docs/faq/custom_metadata.md
  docs/faq/egress_pool_unspecified.md
  docs/faq/ready_queue_was_full.md
Due: build-docs

Evaluate MTA-STS during MX resolution to fix aliasing issue
  Cargo.lock
  Cargo.toml
  crates/dns-resolver/src/lib.rs
  crates/kcli/Cargo.toml
  crates/kcli/src/provider_summary.rs
  crates/kcli/src/queue_summary.rs
  crates/kumo-api-types/Cargo.toml
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mailexchanger/Cargo.toml
  crates/mailexchanger/src/lib.rs
  crates/mod-dns-resolver/Cargo.toml
  crates/mod-dns-resolver/src/lib.rs
  crates/mta-sts/Cargo.toml
  crates/mta-sts/src/policy.rs
  docs/changelog/main.md
  docs/reference/kumo.dns/set_mta_sts_enabled.md
  docs/reference/kumo/make_egress_path/enable_mta_sts.md
Due: build-rust, build-docs

allow mocking mta-sts end-to-end, add integration test coverage
  Cargo.lock
  crates/integration-tests/mta-sts.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mta_sts_enforce.rs
  crates/kcli/src/provider_summary.rs
  crates/kcli/src/queue_summary.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mailexchanger/Cargo.toml
  crates/mailexchanger/src/lib.rs
  crates/mod-dns-resolver/Cargo.toml
  crates/mod-dns-resolver/src/lib.rs
  crates/mta-sts/src/lib.rs
  docs/reference/kumo.dns/lookup_mx.md
  docs/reference/kumo.dns/set_mta_sts_enabled.md
Due: build-rust, build-docs

Tidy up Option<PolicyMode> -> PolicyMode
  crates/kumod/src/smtp_dispatcher.rs
  crates/mailexchanger/src/lib.rs
  docs/reference/kumo.dns/lookup_mx.md
Due: build-rust, build-docs

message: persist envelope changes to the meta spool
  crates/message/src/message.rs
Due: build-rust

test: fix flakey inspect_ready_q test
  crates/integration-tests/src/test/inspect_ready_q.rs
Due: build-rust

dependabot: update config to enable grouping
  .github/dependabot.yml
Due: none

docs: changelog for #570
  docs/changelog/main.md
Due: build-docs

message: persist post-reception schedule changes to the meta spool
  crates/message/src/message.rs
Due: build-rust

cooldown: allow human to act when constraints cannot be met
  cooldown.toml
Due: none

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
