Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

Update crates/mod-crypto/src/lib.rs
  crates/mod-crypto/src/lib.rs
Due: build-rust

new: kumo.fs lua module
  assets/run-lua-test
  crates/mod-filesystem/src/file.rs
  crates/mod-filesystem/src/lib.rs
  crates/mod-filesystem/test.lua
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.fs/_index.md
  docs/reference/kumo.fs/glob.md
  docs/reference/kumo.fs/open.md
  docs/reference/kumo.fs/read_dir.md
  docs/reference/kumo.fs/uncached_glob.md
Due: build-rust, build-docs

Update docs/reference/kumo/make_egress_path/tls_private_key.md
  docs/reference/kumo/make_egress_path/tls_private_key.md
Due: build-docs

Update docs/reference/kumo/make_egress_path/tls_certificate.md
  docs/reference/kumo/make_egress_path/tls_certificate.md
Due: build-docs

Update crates/tls-probe/src/main.rs
  crates/tls-probe/src/main.rs
Due: build-rust

Update crates/rfc5321/src/tls.rs
  crates/rfc5321/src/tls.rs
Due: build-rust

implement support for compression in common http server code
  Cargo.lock
  Cargo.toml
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/test/http_inject_compression.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

fix fmt failure
  crates/integration-tests/src/test/http_inject_compression.rs
Due: build-rust

recommended changes
  Cargo.lock
  Cargo.toml
  crates/integration-tests/Cargo.toml
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/tls_client_certificate.rs
  crates/integration-tests/src/test/tls_opportunistic_reconnect.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
Due: build-rust

allow setting destination smtp port via mx_list
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/disconnect_in_data.rs
  crates/integration-tests/src/test/suspend_delivery_ready_q.rs
  crates/integration-tests/src/test/suspend_delivery_ready_q_and_deliver.rs
  crates/kumo-log-types/src/lib.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/smtp_port.md
  docs/reference/kumo/make_egress_source/remote_port.md
  docs/reference/kumo/make_queue_config/protocol.md
Due: build-rust, build-docs

We miss you Mister Rogers.
  assets/policy-extras/queue.lua
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/sink.lua
  crates/integration-tests/src/test/auth_deliver.rs
  crates/integration-tests/src/test/auth_deliver_invalid_password.rs
  docs/reference/events/http_server_validate_auth_basic.md
  docs/reference/events/smtp_server_auth_plain.md
  docs/reference/kumo/make_egress_path/smtp_auth_plain_password.md
  docs/reference/kumo/make_egress_path/smtp_auth_plain_username.md
  docs/reference/kumo/make_listener_domain/relay_to.md
  docs/reference/kumo/memoize.md
  docs/userguide/configuration/queuemanagement.md
  docs/userguide/operation/outbound_auth.md
  docs/userguide/policy/inbound_auth.md
  inject-test.js
  simple_policy.lua
Due: build-rust, build-docs

Update links to Comcast docs
  assets/policy-extras/shaping.toml
Due: build-rust

dns-resolver & EnvelopeAddress: explicitly check and deny ports in domain
  Cargo.lock
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/no_ports_in_rcpt_domain.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/message/Cargo.toml
  crates/message/src/address.rs
Due: build-rust

allow specify port number in queue and routing_domain meta
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/rebind_port.rs
  docs/changelog/main.md
Due: build-rust, build-docs

removed duplication
  docs/userguide/operation/command-line-index.md
Due: build-docs

docs: update for #390
  docs/changelog/main.md
  docs/reference/kumo.dns/lookup_ptr.md
Due: build-docs

add kumo.dns.lookup_ptr (#390)
  assets/run-lua-test
  crates/mod-dns-resolver/src/lib.rs
  crates/mod-dns-resolver/test-dns-ptr.lua
  docs/reference/kumo.dns/lookup_ptr.md
Due: build-rust, build-docs

message: unit tests for parsing routing_domain with port
  crates/message/src/queue_name.rs
Due: build-rust

Update list of command line tools
  docs/userguide/operation/command-line-index.md
Due: build-docs

add kumo.mpsc.define
  Cargo.lock
  Cargo.toml
  assets/run-lua-test
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-mpsc/Cargo.toml
  crates/mod-mpsc/src/lib.rs
  crates/mod-mpsc/test.lua
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.mpsc/_index.md
  docs/reference/kumo.mpsc/define.md
Due: build-rust, build-docs

cargo update
  Cargo.lock
Due: none

docs: update json file versions
  docs/reference/kumod.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-docs

add caching
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

Update docs/reference/keysource.md
  docs/reference/keysource.md
Due: build-docs

Update docs/userguide/policy/hashicorp_vault.md
  docs/userguide/policy/hashicorp_vault.md
Due: build-docs

Update docs/reference/kumo/start_esmtp_listener/tls_certificate.md
  docs/reference/kumo/start_esmtp_listener/tls_certificate.md
Due: build-docs

Update docs/reference/kumo/start_esmtp_listener/tls_private_key.md
  docs/reference/kumo/start_esmtp_listener/tls_private_key.md
Due: build-docs

Update docs/reference/kumo/start_http_listener/tls_certificate.md
  docs/reference/kumo/start_http_listener/tls_certificate.md
Due: build-docs

Update docs/reference/kumo/start_http_listener/tls_private_key.md
  docs/reference/kumo/start_http_listener/tls_private_key.md
Due: build-docs

Improve test assertion to check specific error message
  crates/data-loader/src/lib.rs
Due: build-rust

Adding support for presenting Client cert as part of make_egress_path (#391)
  Cargo.lock
  Cargo.toml
  crates/integration-tests/Cargo.toml
  crates/integration-tests/source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/tls_client_certificate.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/Cargo.toml
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/tls.rs
  crates/tls-probe/src/main.rs
  docs/reference/kumo/make_egress_path/tls_certificate.md
  docs/reference/kumo/make_egress_path/tls_private_key.md
Due: build-rust, build-docs

smtp_server: collect incoming tls information for logs/meta
  Cargo.lock
  Makefile
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/tls_info_log.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/smtp_server.rs
  crates/rfc5321/src/client.rs
  docs/changelog/main.md
  docs/reference/log_record.md
  docs/reference/metadata.md
Due: build-rust, build-docs

tls_client_certificate: fix performance, assert tls info
  crates/integration-tests/src/test/tls_client_certificate.rs
Due: build-rust

formatting fixes
  crates/data-loader/src/lib.rs
Due: build-rust

add tls_required_client_ca esmtp listener parameter
  Cargo.lock
  Cargo.toml
  Makefile
  crates/integration-tests/Cargo.toml
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/tls_client_certificate.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumo-server-common/src/tls_helpers.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/tls_certificate.md
  docs/reference/kumo/make_egress_path/tls_private_key.md
  docs/reference/kumo/start_esmtp_listener/tls_required_client_ca.md
  docs/reference/metadata.md
Due: build-rust, build-docs

remove useless tests
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

add support for compressing http body (#394)
  Cargo.lock
  Cargo.toml
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/test/http_inject_compression.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/http_server/mod.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
