Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

skip_hosts: downgrade to a transient failure
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/skip_hosts.md
Due: build-rust, build-docs

Add Prometheus metrics to proxy-server
  Cargo.lock
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/metrics.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/reference/events/proxy_init.md
  docs/reference/kumo/start_proxy_http_listener/_index.md
Due: build-rust, build-docs

fixing few caveats
  Cargo.lock
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/metrics.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/reference/events/proxy_init.md
  docs/reference/kumo/start_proxy_http_listener/_index.md
  docs/reference/kumo/start_proxy_listener/_index.md
  docs/reference/proxy/_index.md
  docs/reference/proxy/start_http_listener.md
Due: build-rust, build-docs

introduce kumo-counter-series crate
  Cargo.lock
  Cargo.toml
  crates/kumo-counter-series/Cargo.toml
  crates/kumo-counter-series/src/lib.rs
Due: build-rust

updates based on PR comments
  crates/proxy-server/src/metrics.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/reference/proxy/_index.md
  docs/reference/proxy/start_http_listener.md
Due: build-rust, build-docs

Update crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/mod_proxy.rs
Due: build-rust

updates based on PR conversation
  crates/proxy-server/src/metrics.rs
  crates/proxy-server/src/mod_proxy.rs
  docs/reference/proxy/start_http_listener.md
Due: build-rust, build-docs

adding documentation
  docs/generate-toc.py
  docs/reference/kumo/start_proxy_http_listener/_index.md
Due: build-docs

Add Prometheus metrics to proxy-server
  Cargo.lock
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/metrics.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/generate-toc.py
  docs/reference/events/proxy_init.md
  docs/reference/kumo/start_proxy_listener/_index.md
  docs/reference/proxy/_index.md
  docs/reference/proxy/start_http_listener.md
Due: build-rust, build-docs

refactor: fold connections_accepted_for_listener into ProxySessionMetrics
  crates/proxy-server/src/metrics.rs
  crates/proxy-server/src/mod_proxy.rs
Due: build-rust

refactor: move start_proxy_listener to proxy module
  crates/integration-tests/proxy_with_auth.lua
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/mod_proxy.rs
  docs/changelog/main.md
  docs/reference/events/proxy_init.md
  docs/reference/events/proxy_server_auth_rfc1929.md
  docs/reference/proxy/start_http_listener.md
  docs/reference/proxy/start_proxy_listener/_index.md
  docs/reference/proxy/start_proxy_listener/hostname.md
  docs/reference/proxy/start_proxy_listener/listen.md
  docs/reference/proxy/start_proxy_listener/require_auth.md
  docs/reference/proxy/start_proxy_listener/timeout.md
  docs/reference/proxy/start_proxy_listener/tls_certificate.md
  docs/reference/proxy/start_proxy_listener/tls_private_key.md
  docs/reference/proxy/start_proxy_listener/use_splice.md
  docs/reference/proxy/start_proxy_listener/use_tls.md
Due: build-rust, build-docs

docs: changelog for #472
  docs/changelog/main.md
Due: build-docs

cargo update
  Cargo.lock
Due: none

update community shaping to use providers
  assets/community/shaping.toml
Due: none

update rules for orange
  assets/community/shaping.toml
  assets/policy-extras/shaping.toml
Due: build-rust

version-info: allow embedding into another project
  crates/version-info/build.rs
Due: build-rust

server-common: allow registering middleware layers to http router
  crates/kumo-server-common/src/http_server/mod.rs
Due: build-rust

http injection: fix early startup race condition w/ spool
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/spool.rs
  docs/changelog/main.md
Due: build-rust, build-docs

http/xfer injection: grab Activity handle for duration of request
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/xfer/mod.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Avoid overflow when calculating delay
  crates/kumod/src/queue/config.rs
Due: build-rust

Add Delayed option to Rejection settings
  assets/policy-extras/shaping.lua
Due: build-rust

Refactor per_record setup for publish logging
  assets/policy-extras/shaping.lua
Due: build-rust

docs: changelog for #480
  docs/changelog/main.md
Due: build-docs

mod_nats: integrate nats
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

mod_nats: configure credentials individually
  Cargo.lock
  crates/integration-tests/nats.lua
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

add docs
  crates/mod-nats/src/lib.rs
  docs/generate-toc.py
  docs/reference/kumo.nats/_index.md
  docs/reference/kumo.nats/close.md
  docs/reference/kumo.nats/connect.md
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

integrate into existing tests
  crates/integration-tests/nats.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/nats.rs
Due: build-rust

apply trivial suggestions
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/nats.rs
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
  docs/reference/kumo.nats/close.md
  docs/reference/kumo.nats/connect.md
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

set await_ack to true, return response
  crates/integration-tests/source.lua
  crates/mod-nats/src/lib.rs
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

mod_nats: make fmt
  crates/integration-tests/nats.lua
Due: build-rust

mod_nats: retrieve credentials from keysource
  Cargo.lock
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

mod_nats: add integration tests
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/nats.lua
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/nats.rs
Due: build-rust

update async-nats
  Cargo.lock
  Cargo.toml
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

filter out not-relevant-to-TSA events earlier in the logging
  assets/policy-extras/shaping.lua
  docs/changelog/main.md
Due: build-rust, build-docs

tsa: add basic /tsa/status endpoint
  crates/tsa-daemon/src/http_server.rs
  docs/changelog/main.md
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
