Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

listeners: don't die on transient accept errors
  Cargo.lock
  crates/kumo-server-runtime/Cargo.toml
  crates/kumo-server-runtime/src/lib.rs
  crates/kumod/src/metrics_helper.rs
  crates/kumod/src/smtp_server.rs
  crates/proxy-server/src/metrics.rs
  crates/proxy-server/src/mod_proxy.rs
  docs/changelog/main.md
  docs/reference/kumod-metrics.json
  docs/reference/metrics/kumod/total_accept_errors.md
  docs/reference/metrics/proxy-server/proxy_accept_errors_total.md
  docs/reference/metrics/proxy-server/proxy_connections_denied_total.md
  docs/reference/proxy-server-metrics.json
  docs/reference/proxy/start_proxy_listener/max_connections.md
Due: build-rust, build-docs

kumo-log-types: decode transfer-encoded returned content in DSN and ARF reports
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/mailparsing/src/mimepart.rs
Due: build-rust

kumo-log-types: generate a valid bounce when the original message has 8-bit content
  crates/kumo-log-types/src/rfc3464.rs
  docs/changelog/main.md
  docs/reference/kumo/generate_rfc3464_message.md
Due: build-rust, build-docs

dkim: fix relaxed canonicalization of empty bodies
  crates/dkim/src/canonicalization.rs
  crates/dkim/src/hash.rs
Due: build-rust

dkim: changelog entry for #575
  crates/dkim/src/canonicalization.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mail_auth: limit PTR names followed during iprev checks
  assets/policy-extras/mail_auth.lua
  docs/changelog/main.md
  docs/reference/policy-extras.mail_auth/iprev.md
Due: build-rust, build-docs

smtp: bound maximum size of SMTP connection plans
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mailexchanger/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/max_mx_addresses_per_host.md
  docs/reference/kumo/make_egress_path/max_mx_plan_size.md
Due: build-rust, build-docs

mx: make site-name factoring lossless and canonical
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/mx-site-names.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mx_site_names.rs
  crates/kumo-api-types/src/shaping.rs
  crates/mailexchanger/src/lib.rs
  crates/mailexchanger/src/site_name.rs
  docs/reference/kumo.dns/lookup_mx.md
  docs/userguide/trafficshaping/scoping.md
Due: build-rust, build-docs

mx: clarify site-name factoring and upgrade behavior
  crates/integration-tests/mx-site-names.lua
  crates/integration-tests/src/test/mx_site_names.rs
  crates/mailexchanger/src/site_name.rs
  docs/changelog/main.md
  docs/reference/kumo.dns/lookup_mx.md
  docs/reference/queues.md
  docs/userguide/trafficshaping/scoping.md
Due: build-rust, build-docs

dns: Reject bogus DNSSEC address lookup results
  crates/dns-resolver/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

log_hooks: Add log_parameters pass-through to new_disposition_hook
  assets/policy-extras/log_hooks.lua
  crates/integration-tests/ndr.lua
  crates/integration-tests/src/test/queue_ndr.rs
  docs/changelog/main.md
  docs/reference/kumo/configure_log_disposition_hook.md
Due: build-rust, build-docs

mx_list_refresh: fixup flake in CI
  crates/integration-tests/src/test/mx_list_refresh.rs
Due: build-rust

docs: add kumo.configure_log_disposition_hook
  docs/reference/kumo/configure_log_disposition_hook.md
Due: build-docs

mailexchanger: add typed classified MX resolution errors
  Cargo.lock
  crates/mailexchanger/Cargo.toml
  crates/mailexchanger/src/lib.rs
Due: build-rust

dns: avoid long caching of transient MX lookup failures
  crates/lruttl/src/lib.rs
  crates/mailexchanger/Cargo.toml
  crates/mailexchanger/src/lib.rs
  crates/mod-dns-resolver/src/lib.rs
  docs/reference/kumo.dns/set_mx_transient_negative_cache_ttl.md
Due: build-rust, build-docs

mailexchanger: Distinguish MX lookup timeout causes in logs and metrics
  crates/mailexchanger/src/lib.rs
  docs/reference/kumod-metrics.json
  docs/reference/metrics/kumod/dns_mx_resolve_permit_timeout.md
  docs/reference/metrics/kumod/dns_mx_resolve_permit_waiters.md
  docs/reference/metrics/kumod/dns_mx_resolve_query_timeout.md
  docs/reference/metrics/proxy-server/dns_mx_resolve_permit_timeout.md
  docs/reference/metrics/proxy-server/dns_mx_resolve_permit_waiters.md
  docs/reference/metrics/proxy-server/dns_mx_resolve_query_timeout.md
  docs/reference/proxy-server-metrics.json
Due: build-rust, build-docs

shaping: exclude warnings and errors from configuration hash
  crates/kumo-api-types/src/shaping.rs
  crates/kumo-api-types/test_shaping_hash.lua
Due: build-rust

lruttl: replace fixed populate retry limit with caller deadline
  crates/lruttl/src/lib.rs
Due: build-rust

queue: use structured error type for DNS failure classification
  crates/kumod/src/queue/queue.rs
Due: build-rust

lruttl: Extract acquire helper from get_or_try_insert
  crates/lruttl/src/lib.rs
Due: build-rust

Simpler bounce class sample simplification
  crates/validate-bounces/src/main.rs
Due: build-rust

lruttl: add detached get_or_try_insert variant
  Cargo.lock
  crates/lruttl/Cargo.toml
  crates/lruttl/src/lib.rs
Due: build-rust

memoize: prevent cancelled callers from aborting shared cache population
  crates/config/src/lib.rs
  crates/lruttl/src/lib.rs
  crates/mod-memoize/src/lib.rs
  crates/mod-memoize/test.lua
  docs/changelog/main.md
  docs/reference/kumo/memoize.md
Due: build-rust, build-docs

kumo.dns.configure_resolver: deprecated!
  Cargo.lock
  crates/mod-dns-resolver/Cargo.toml
  crates/mod-dns-resolver/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumo.dns/configure_unbound_resolver.md
Due: build-rust, build-docs

mailexchanger: fix implicit MX fallback on failed MX lookups
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
  crates/mailexchanger/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

kumo.dns.configure_unbound_resolver: deprecated!
  Cargo.lock
  crates/mod-dns-resolver/Cargo.toml
  crates/mod-dns-resolver/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumo.dns/configure_unbound_resolver.md
Due: build-rust, build-docs

dns-resolver: limit cache TTL when one address family fails
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
  docs/changelog/main.md
Due: build-rust, build-docs

smtp: Handle partial mx_list lookup failures gracefully
  crates/integration-tests/source-mxlist.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mx_list_lookup_error.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Reduced lua context creation overhead in scheduled queue config refreshes by reusing the cached context.
  crates/kumod/src/queue/queue.rs
  docs/changelog/main.md
Due: build-rust, build-docs

rebase
  crates/kumod/src/mod_kumo.rs
  crates/mailparsing/src/charset.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/lib.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  docs/reference/kumo/add_charset_alias.md
Due: build-rust, build-docs

build: add support for AlmaLinux 10 / RHEL 10 derivatives
  .github/workflows/builder-images.yml
  .github/workflows/kumomta.yml
  assets/ci/build-builder-images.py
  assets/ci/emit-builder-dockerfile.py
  crates/mod-redis/src/test.rs
  docs/changelog/main.md
  docs/userguide/installation/operatingsystem.md
  get-deps.sh
Due: build-rust, build-docs

config: add the remaining missing config.put() calls
  crates/data-loader/src/lib.rs
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/queue/queue.rs
  docs/changelog/main.md
Due: build-rust, build-docs

ci: revert almalinux:10 builder images and package builds
  .github/workflows/builder-images.yml
  .github/workflows/kumomta.yml
  assets/ci/build-builder-images.py
  assets/ci/emit-builder-dockerfile.py
  docs/changelog/main.md
Due: build-docs

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
