Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

add initial support for dmarc reporting email
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumod/src/dmarc.rs
  docs/generate-toc.py
Due: build-rust, build-docs

Traffic Shaping Refactor First Pass
  docs/changelog/2023.08.22-4d895015.md
  docs/changelog/2024.09.02-c5476b89.md
  docs/generate-toc.py
  docs/tutorial/configuring_kumomta.md
  docs/userguide/clustering/trafficshapingautomation.md
  docs/userguide/configuration/concepts.md
  docs/userguide/configuration/example.md
  docs/userguide/configuration/policy_helpers.md
  docs/userguide/configuration/trafficshaping.md
  docs/userguide/installation/security.md
  docs/userguide/operation/command-line-index.md
  docs/userguide/operation/outbound_auth.md
  docs/userguide/operation/webhooks.md
  docs/userguide/performance/messageflow.md
  docs/userguide/trafficshaping/automation.md
  docs/userguide/trafficshaping/index.md
  docs/userguide/trafficshaping/scoping.md
  docs/userguide/trafficshaping/shapingfiles.md
Due: build-docs

Continue traffic shaping chapter refactor.
  docs/changelog/2024.09.02-c5476b89.md
  docs/generate-toc.py
  docs/userguide/configuration/trafficshaping.md
  docs/userguide/trafficshaping/customshaping.md
  docs/userguide/trafficshaping/index.md
  docs/userguide/trafficshaping/resolution.md
  docs/userguide/trafficshaping/rollups.md
  docs/userguide/trafficshaping/shapingfiles.md
  docs/userguide/trafficshaping/testing.md
  mkdocs-base.yml
Due: build-docs

Final shuffle and updates prior to publish.
  docs/changelog/2024.09.02-c5476b89.md
  docs/generate-toc.py
  docs/reference/http/kumod/schemas/Recipient.md
  docs/userguide/index.md
  docs/userguide/trafficshaping/automation.md
  docs/userguide/trafficshaping/index.md
  docs/userguide/trafficshaping/rollups.md
  docs/userguide/trafficshaping/scoping.md
Due: build-docs

http injection: reject newlines in generated headers
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

Fixing the "/" in the Scheduled queue name formation
  docs/reference/queues.md
Due: build-docs

Add allow_plaintext_auth option
  crates/kumod/src/smtp_server.rs
Due: build-rust

Add tests
  crates/integration-tests/plaintext-auth.lua
  crates/integration-tests/src/test/allow_plaintext_auth.rs
  crates/integration-tests/src/test/mod.rs
Due: build-rust

docs: manually run `cargo run -p jsonschematodocs`
  docs/generate-toc.py
  docs/reference/http/kumod/schemas/Recipient.md
Due: build-docs

deps: add cargo cooldown config
  assets/ci/update-cargo-deps-with-cooldown.sh
  cooldown.toml
Due: none

deps: ./assets/ci/update-cargo-deps-with-cooldown.sh
  Cargo.lock
Due: none

Don't advertise STARTTLS if we're already assumed to be in a secure tunnel
  crates/integration-tests/src/test/allow_plaintext_auth.rs
  crates/kumod/src/smtp_server.rs
Due: build-rust

fix test flake in mx_list_refresh
  crates/integration-tests/source-mxlist.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mx_list_refresh.rs
  crates/kumo-api-client/src/lib.rs
Due: build-rust

fix invalid control characters in header
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

fix bug in re-serealizing multipart mime with preamble
  crates/mailparsing/src/mimepart.rs
Due: build-rust

rfc5321: bound the outbound TLS handshake with a timeout
  crates/kumo-api-types/src/shaping.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/client_types.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/tls_handshake_timeout.md
Due: build-rust, build-docs

docs: fix proxy listener doc build
  mkdocs-base.yml
Due: build-docs

find-since-dev: handle no-matching since('dev') case
  assets/find-since-dev.sh
Due: none

docs: update for release 2026.06.23-f3af1cd0
  docs/changelog/2026.06.23-f3af1cd0.md
  docs/changelog/main.md
Due: build-docs

spool: surface and handle rocksdb background errors
  Cargo.lock
  crates/integration-tests/source-rocks-spool.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/spool_write_stopped.rs
  crates/kcli/src/main.rs
  crates/kcli/src/spool_compact.rs
  crates/kumo-api-client/src/lib.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/admin_spool_compact_v1.rs
  crates/kumod/src/http_server/check_liveness_v1.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/http_server/mod.rs
  crates/kumod/src/queue/insert_context.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/spool.rs
  crates/message/src/message.rs
  crates/spool/Cargo.toml
  crates/spool/src/lib.rs
  crates/spool/src/rocks.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_admin_spool_compact_v1_post.md
  docs/reference/http/kumod/schemas/SpoolCompactV1Request.md
  docs/reference/kcli/_index.md
  docs/reference/kcli/spool-compact.md
  docs/reference/kumo/define_spool/rocks_params.md
  docs/reference/kumo/suspend_delivery_when_spool_unhealthy.md
  docs/reference/kumod-metrics.json
  docs/reference/kumod.openapi.json
  docs/reference/metrics/kumod/rocks_spool_actual_delayed_write_rate.md
  docs/reference/metrics/kumod/rocks_spool_background_errors.md
  docs/reference/metrics/kumod/rocks_spool_compaction_pending.md
  docs/reference/metrics/kumod/rocks_spool_estimate_pending_compaction_bytes.md
  docs/reference/metrics/kumod/rocks_spool_load_shed_active.md
  docs/reference/metrics/kumod/rocks_spool_num_running_compactions.md
  docs/reference/metrics/kumod/rocks_spool_write_stopped.md
Due: build-rust, build-docs

introduce ResolvableSocketAddr type
  Cargo.lock
  crates/dns-resolver/src/lib.rs
  crates/kumo-address/Cargo.toml
  crates/kumo-address/src/lib.rs
  crates/kumo-address/src/resolvable.rs
Due: build-rust

ha_proxy_server and socks5_proxy_server now also resolve host names
  assets/policy-extras/sources.lua
  crates/integration-tests/ha-proxy-source-hostname-all-fail.lua
  crates/integration-tests/ha-proxy-source-hostname-failover.lua
  crates/integration-tests/ha-proxy-source-hostname-family-mismatch.lua
  crates/integration-tests/ha-proxy-source-hostname.lua
  crates/integration-tests/socks5_source_with_proxy_hostname.lua
  crates/integration-tests/src/test/proxy_basic.rs
  crates/integration-tests/src/test/proxy_protocol.rs
  crates/kumod/src/egress_source.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_source/ha_proxy_server.md
  docs/reference/kumo/make_egress_source/socks5_proxy_server.md
Due: build-rust, build-docs

new: suspend_when_unplumbed and suspend_when_proxy_unhealthy source options
  Cargo.lock
  crates/integration-tests/source-health-broken-proxy.lua
  crates/integration-tests/source-health-mixed-pool.lua
  crates/integration-tests/source-health-unplumbed.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/source_health.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/egress_source.rs
  crates/kumod/src/queue/insert_context.rs
  crates/kumod/src/ready_queue.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_source/suspend_when_proxy_unhealthy.md
  docs/reference/kumo/make_egress_source/suspend_when_unplumbed.md
  docs/reference/kumod-metrics.json
  docs/reference/metrics/kumod/egress_source_connection_failures_total.md
  docs/reference/metrics/kumod/egress_source_health_suspended.md
  docs/reference/metrics/kumod/egress_source_health_suspensions_total.md
Due: build-rust, build-docs

rustfmt
  crates/integration-tests/src/test/source_health.rs
  crates/integration-tests/src/test/spool_write_stopped.rs
  crates/kumo-address/src/resolvable.rs
  crates/kumod/src/egress_source.rs
  crates/kumod/src/http_server/admin_spool_compact_v1.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/message/src/message.rs
  crates/spool/src/rocks.rs
Due: build-rust

rfc5321: add timeouts to flush and starttls handshakes
  crates/rfc5321/src/client.rs
Due: build-rust

add per-dispatcher state tracking and watchdog
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/source-watchdog.lua
  crates/integration-tests/src/test/dispatcher_watchdog.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/delivery_metrics.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/lua_deliver.rs
  crates/kumod/src/metrics_helper.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/xfer/mod.rs
  crates/throttle/src/limit.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/dispatcher_progress_watchdog_timeout.md
  docs/reference/kumod-metrics.json
  docs/reference/metrics/kumod/dispatcher_watchdog_aborted_total.md
Due: build-rust, build-docs

add abort-ready-q-conn and inspect-readyq endpoints/commands
  Cargo.lock
  crates/integration-tests/source-inspect.lua
  crates/integration-tests/src/test/inspect_ready_q.rs
  crates/integration-tests/src/test/mod.rs
  crates/kcli/Cargo.toml
  crates/kcli/src/abort_ready_q_conn.rs
  crates/kcli/src/inspect_ready_q.rs
  crates/kcli/src/main.rs
  crates/kumo-api-client/src/lib.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/abort_ready_q_conn_v1.rs
  crates/kumod/src/http_server/inspect_ready_q_v1.rs
  crates/kumod/src/http_server/mod.rs
  crates/kumod/src/ready_queue.rs
  crates/throttle/Cargo.toml
  crates/throttle/src/lib.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_admin_abort_ready_q_conn_v1_post.md
  docs/reference/http/kumod/api_admin_inspect_ready_q_v1_get.md
  docs/reference/http/kumod/schemas/AbortReadyQConnV1Request.md
  docs/reference/http/kumod/schemas/DispatcherPhase.md
  docs/reference/http/kumod/schemas/DispatcherSummary.md
  docs/reference/http/kumod/schemas/InspectReadyQV1Response.md
  docs/reference/http/kumod/schemas/ReadyQueueStateSnapshot.md
  docs/reference/kcli/_index.md
  docs/reference/kcli/abort-ready-q-conn.md
  docs/reference/kcli/inspect-ready-q.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

introduce EgressPathConfigConstraints concept
  Cargo.lock
  crates/kcli/Cargo.toml
  crates/kcli/src/inspect_ready_q.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/ready_queue.rs
  docs/reference/http/kumod/api_admin_inspect_ready_q_v1_get.md
  docs/reference/http/kumod/schemas/CeilingSource.md
  docs/reference/http/kumod/schemas/EffectiveCeiling.md
  docs/reference/http/kumod/schemas/EgressPathConfigConstraints.md
  docs/reference/http/kumod/schemas/InspectReadyQV1Response.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

resolve-shaping-domain: expand output
  Cargo.lock
  assets/resolve-shaping-domain
  crates/kcli/Cargo.toml
  crates/kcli/src/inspect_ready_q.rs
  crates/kumo-api-types/Cargo.toml
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/mod_kumo.rs
  crates/mod-serde/Cargo.toml
  crates/mod-serde/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumo.serde/toml_encode_pretty_compact.md
  docs/reference/kumo/compute_egress_path_config_constraints.md
  docs/reference/kumo/format_egress_path_config_constraints.md
  docs/reference/kumo/format_egress_path_config_toml.md
Due: build-rust, build-docs

rustfmt
  crates/integration-tests/source-inspect.lua
  crates/integration-tests/source-watchdog.lua
  crates/integration-tests/src/test/inspect_ready_q.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/delivery_metrics.rs
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mod-serde/src/lib.rs
  crates/rfc5321/src/client.rs
  crates/throttle/src/lib.rs
Due: build-rust

add resolve-egress-path API endpoint
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/resolve_egress_path.rs
  crates/kcli/src/inspect_ready_q.rs
  crates/kcli/src/main.rs
  crates/kcli/src/resolve_egress_path.rs
  crates/kumo-api-client/src/lib.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/mod.rs
  crates/kumod/src/http_server/resolve_egress_path_v1.rs
  crates/kumod/src/ready_queue.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_admin_inspect_ready_q_v1_get.md
  docs/reference/http/kumod/api_admin_resolve_egress_path_v1_get.md
  docs/reference/http/kumod/schemas/InspectReadyQV1Response.md
  docs/reference/http/kumod/schemas/MxResolution.md
  docs/reference/http/kumod/schemas/ResolveEgressPathV1Response.md
  docs/reference/kcli/_index.md
  docs/reference/kcli/resolve-egress-path.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

included scheduled queue config in resolve-egress-path output
  assets/resolve-shaping-domain
  crates/integration-tests/source-inspect.lua
  crates/integration-tests/src/test/resolve_egress_path.rs
  crates/kcli/src/inspect_ready_q.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/resolve_egress_path_v1.rs
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/queue/config.rs
  crates/kumod/src/ready_queue.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_admin_inspect_ready_q_v1_get.md
  docs/reference/http/kumod/api_admin_resolve_egress_path_v1_get.md
  docs/reference/http/kumod/schemas/CeilingSource.md
  docs/reference/http/kumod/schemas/EffectiveConstraints.md
  docs/reference/http/kumod/schemas/InspectReadyQV1Response.md
  docs/reference/http/kumod/schemas/ResolveEgressPathV1Response.md
  docs/reference/kumo/compute_egress_path_config_constraints.md
  docs/reference/kumo/compute_queue_config_constraints.md
  docs/reference/kumo/format_queue_config_toml.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

docs: fixup links
  docs/reference/kumo/compute_queue_config_constraints.md
  docs/reference/kumo/format_queue_config_toml.md
Due: build-docs

rustfmt again
  crates/integration-tests/src/test/mod.rs
  crates/kcli/src/main.rs
  crates/kcli/src/resolve_egress_path.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/http_server/resolve_egress_path_v1.rs
  crates/kumod/src/mod_kumo.rs
Due: build-rust

mx_list_refresh: finally? fix flakey test
  crates/integration-tests/src/test/mx_list_refresh.rs
Due: build-rust

fixup doc build
  docs/reference/kumo.dns/configure_resolver.md
Due: build-docs

deps: rust-openssl 0.10.79 -> 0.10.80
  Cargo.lock
  Cargo.toml
Due: none

http injection: rely on header folding to neutralize newlines
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/header.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
