Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

Update index for new integration page.
  docs/generate-toc.py
Due: build-docs

spf: populate smtp.mailfrom in Auth-Results, add check_msg func
  crates/integration-tests/spf-basic.lua
  crates/integration-tests/src/test/spf_basic.rs
  crates/kumod/src/spf.rs
  docs/changelog/main.md
  docs/reference/kumo.spf/check_msg.md
Due: build-rust, build-docs

docs: format
  docs/generate-toc.py
Due: build-docs

address feedback
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

Add dmarc p/sp support (#433)
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

implement aes-cbc block with examples
  Cargo.lock
  Cargo.toml
  crates/data-loader/Cargo.toml
  crates/data-loader/src/lib.rs
  crates/data-loader/test.lua
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-crypto/Cargo.toml
  crates/mod-crypto/src/lib.rs
  crates/mod-crypto/test.lua
  crates/mod-digest/src/lib.rs
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.crypto/_index.md
  docs/reference/kumo.crypto/aes_decrypt_block.md
  docs/reference/kumo.crypto/aes_encrypt_block.md
  docs/reference/kumo.digest/_index.md
Due: build-rust, build-docs

new Time and TimeDelta objects for lua
  Cargo.lock
  crates/mod-time/Cargo.toml
  crates/mod-time/src/lib.rs
  crates/mod-time/test.lua
  docs/changelog/main.md
  docs/reference/kumo.time/Time.md
  docs/reference/kumo.time/TimeDelta.md
  docs/reference/kumo.time/from_unix_timestamp.md
  docs/reference/kumo.time/now.md
  docs/reference/kumo.time/parse_duration.md
  docs/reference/kumo.time/parse_rfc2822.md
  docs/reference/kumo.time/parse_rfc3339.md
  docs/reference/kumo.time/with_ymd_hms.md
Due: build-rust, build-docs

Update install doc in Userguide to specify Rocky 8/9.
  docs/userguide/installation/linux.md
Due: build-docs

Add reference to AL 2/2023 and remove CentOS 7 reference.
  docs/userguide/installation/linux.md
Due: build-docs

data-loader: allow callback/event based loading of secrets
  crates/config/src/lib.rs
  crates/data-loader/src/lib.rs
  crates/data-loader/test-event.lua
  crates/run-lua-tests/src/main.rs
  docs/changelog/main.md
  docs/reference/keysource.md
Due: build-rust, build-docs

logging: skip marking logs as done when in --validate mode
  crates/kumod/src/logging/files.rs
Due: build-rust

fix indentation
  crates/traffic-gen/src/main.rs
Due: build-rust

traffic-gen: add support for --header
  crates/traffic-gen/src/main.rs
  docs/userguide/performance/testing.md
Due: build-rust, build-docs

Missing make fmt
  crates/traffic-gen/src/main.rs
Due: build-rust

WIP: MailHeader parser & to_header_string
  Cargo.lock
  crates/traffic-gen/Cargo.toml
  crates/traffic-gen/src/main.rs
Due: build-rust

Feature/traffic-gen custom headers (#434)
  Cargo.lock
  crates/traffic-gen/Cargo.toml
  crates/traffic-gen/src/main.rs
  docs/userguide/performance/testing.md
Due: build-rust, build-docs

dmarc: adjust slack in pct rate test
  crates/kumo-dmarc/src/tests.rs
Due: build-rust

data-loader: improve error message for file read error case
  crates/data-loader/src/lib.rs
  crates/data-loader/test.lua
Due: build-rust

queue: improve error context if maildir writing fails
  crates/kumod/src/queue/queue.rs
Due: build-rust

docs: workaround upstream mkdocs live reloading bug
  docs/Dockerfile
Due: build-docs

Preload dkim keys to speed up signing process
  assets/policy-extras/dkim_sign.lua
  docs/userguide/configuration/dkim.md
  docs/userguide/configuration/example.md
  docs/userguide/configuration/policy_helpers.md
  simple_policy.lua
Due: build-rust, build-docs

Preload dkim keys to speed up signing process
  assets/policy-extras/dkim_sign.lua
Due: build-rust

#419 - Add authentication switches to traffic-gen + docs
  crates/traffic-gen/src/main.rs
  docs/userguide/performance/testing.md
Due: build-rust, build-docs

Implement feedback of breaking change by making options as optional additional parameter
  assets/policy-extras/dkim_sign.lua
  docs/userguide/configuration/dkim.md
  docs/userguide/configuration/example.md
  docs/userguide/configuration/policy_helpers.md
  simple_policy.lua
Due: build-rust, build-docs

add proxy protocol processing
  crates/kumod/src/smtp_server.rs
Due: build-rust

new smtp_server_rewrite_response event
  crates/integration-tests/rewrite-ok.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/rewrite_server_response.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
  docs/reference/events/smtp_server_rewrite_response.md
Due: build-rust, build-docs

improve header wrapping functions
  crates/mailparsing/src/headermap.rs
  crates/mailparsing/src/textwrap.rs
  crates/message/src/message.rs
  crates/message/test_header_wrap.lua
  crates/mod-mimepart/src/headers.rs
  crates/mod-mimepart/test_headermap.lua
  docs/changelog/main.md
  docs/reference/headermap/append.md
  docs/reference/message/append_header.md
  docs/reference/message/prepend_header.md
Due: build-rust, build-docs

Expose text wrapping function as kumo.string.wrap
  Cargo.lock
  Cargo.toml
  crates/kumo-wrap/Cargo.toml
  crates/kumo-wrap/src/lib.rs
  crates/mailparsing/Cargo.toml
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/lib.rs
  crates/mod-string/Cargo.toml
  crates/mod-string/src/lib.rs
  crates/mod-string/test_wrap.lua
  docs/changelog/main.md
  docs/reference/string/wrap.md
Due: build-rust, build-docs

ci: hopefully address flakeyness in xclient tests
  crates/integration-tests/src/test/xclient.rs
Due: build-rust

make fmt
  crates/kumod/src/smtp_server.rs
Due: build-rust

accidentally moved enum order
  crates/kumod/src/smtp_server.rs
Due: build-rust

allow temp/perm errors in dmarc
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

rename proxy_protocol option, move processing after material check, change error handleling, use SocketAddr for addresses
  crates/kumod/src/smtp_server.rs
Due: build-rust

Add Tatami Monitor integration doc
  docs/generate-toc.py
  docs/userguide/integrations/tatamimonitor.md
Due: build-docs

update docs
  docs/generate-toc.py
Due: build-docs

Add Mautic integratoin doc
  docs/generate-toc.py
  docs/userguide/integrations/mautic.md
Due: build-docs

Add rspamd integration and hornet integration
  docs/generate-toc.py
  docs/userguide/integrations/grafana.md
  docs/userguide/integrations/hornetsecurity.md
  docs/userguide/integrations/index.md
  docs/userguide/integrations/rspamd.md
Due: build-docs

Added integration docs (#442)
  docs/generate-toc.py
  docs/userguide/integrations/mautic.md
  docs/userguide/integrations/tatamimonitor.md
Due: build-docs

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
