Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

ci: try to reduce flakiness for the lapin integration tests
  crates/integration-tests/src/rabbit.rs
Due: build-rust

address feedback
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

Add support for dmarc pct (#424)
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

optionally detect legacy 8-bit during check-fix
  Cargo.lock
  Cargo.toml
  crates/message/Cargo.toml
  crates/message/src/message.rs
  crates/message/test_latin.lua
  docs/changelog/main.md
  docs/reference/message/check_fix_conformance.md
Due: build-rust, build-docs

message: allow for multiple recipients in metadata
  Cargo.lock
  crates/message/Cargo.toml
  crates/message/src/message.rs
Due: build-rust

WIP: smtp_server: scaffolding to support for batching by domain
  crates/integration-tests/src/test/log_oob_arf.rs
  crates/kcli/src/trace_smtp_server.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
  crates/kumod/src/smtp_server.rs
Due: build-rust

WIP: basic batch relaying and end-to-end test
  Makefile
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/maildir_batch.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/http_server/admin_bounce_v1.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/logging/disposition.rs
  crates/kumod/src/lua_deliver.rs
  crates/kumod/src/queue/manager.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/spool.rs
  crates/message/src/address.rs
  crates/rfc5321/src/client.rs
Due: build-rust

WIP: more multi-recipient type changes
  Cargo.lock
  crates/integration-tests/src/test/eightbitmime.rs
  crates/integration-tests/src/test/queue_ndr.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumo-log-types/Cargo.toml
  crates/kumo-log-types/src/lib.rs
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/http_server/admin_inspect_message.rs
  crates/kumod/src/http_server/admin_inspect_scheduled_queue.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/logging/disposition.rs
  crates/kumod/src/logging/hooks.rs
  crates/kumod/src/logging/rejection.rs
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/queue/strategy.rs
  crates/kumod/src/smtp_server.rs
  crates/message/src/message.rs
  crates/message/src/timeq.rs
  crates/tsa-daemon/src/http_server.rs
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

smtp: handle "too many recipients" status more appropriately
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/src/test/maildir_batch.rs
  crates/kumod/src/queue/insert_context.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/rfc5321/src/client_types.rs
  docs/changelog/main.md
Due: build-rust, build-docs

message: expose recipient list to lua api
  assets/policy-extras/policy_utils.lua
  assets/policy-extras/queue.lua
  assets/policy-extras/rollup.lua
  crates/message/src/message.rs
  crates/message/test_recipient_list.lua
  docs/reference/message/recipient.md
  docs/reference/message/recipient_list.md
  docs/reference/message/set_recipient.md
Due: build-rust, build-docs

add smtp_server_data event for per-txn message validation
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/events/smtp_server_data.md
  docs/reference/events/smtp_server_message_received.md
  docs/reference/smtp_server_events.md
Due: build-rust, build-docs

smtp_server: improve cleanup for partially failed transaction
  crates/kumod/src/smtp_server.rs
Due: build-rust

smtp_dispatcher: add max_recipients_per_batch
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/maildir_batch_max_per_batch.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/reference/kumo/make_egress_path/max_recipients_per_batch.md
Due: build-rust, build-docs

add smtp_server_split_transaction event
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/maildir_batch_split_hook.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/smtp_server.rs
  crates/message/src/address.rs
  docs/reference/events/smtp_server_split_transaction.md
  docs/reference/kumo/start_esmtp_listener/batch_handling.md
Due: build-rust, build-docs

docs: update for multi-recipient changes
  docs/changelog/main.md
  docs/reference/log_record.md
Due: build-docs

openapi: manually poke the version number
  docs/reference/kumod.openapi.json
Due: build-docs

allow admin bounce and suspend to specify exact queue name
  crates/kcli/src/bounce.rs
  crates/kcli/src/suspend.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/admin_bounce_v1.rs
  crates/kumod/src/http_server/admin_suspend_v1.rs
  crates/kumod/src/http_server/queue_name_multi_index.rs
  docs/changelog/main.md
  docs/reference/kcli/bounce.md
  docs/reference/kcli/suspend.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

message transfer (xfer) support
  Cargo.lock
  Makefile
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/xfer.rs
  crates/kcli/src/main.rs
  crates/kcli/src/xfer.rs
  crates/kcli/src/xfer_cancel.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumo-api-types/src/xfer.rs
  crates/kumo-log-types/src/lib.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/http_server/admin_inspect_scheduled_queue.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/http_server/mod.rs
  crates/kumod/src/main.rs
  crates/kumod/src/queue/delivery_proto.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/xfer/cancel.rs
  crates/kumod/src/xfer/mod.rs
  crates/kumod/src/xfer/request.rs
  crates/mailparsing/src/mimepart.rs
  crates/message/Cargo.toml
  crates/message/src/lib.rs
  crates/message/src/message.rs
  crates/message/src/xfer.rs
  crates/spool/src/spool_id.rs
  docs/changelog/main.md
  docs/reference/events/xfer_message_received.md
  docs/reference/kcli/_index.md
  docs/reference/kcli/xfer-cancel.md
  docs/reference/kcli/xfer.md
  docs/reference/kumod.openapi.json
  docs/reference/log_record.md
Due: build-rust, build-docs

add new kumo.file_type module
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-file-type/Cargo.toml
  crates/mod-file-type/src/lib.rs
  crates/mod-file-type/test_filetype.lua
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.file_type/_index.md
  docs/reference/kumo.file_type/from_bytes.md
  docs/reference/kumo.file_type/from_extension.md
  docs/reference/kumo.file_type/from_media_type.md
Due: build-rust, build-docs

ci: fixup builder image tag when publishing
  .github/workflows/builder-images.yml
Due: none

ci: fixup flakey maildir_batch test
  crates/integration-tests/src/test/maildir_batch.rs
Due: build-rust

deps: paste -> pastey
  Cargo.lock
  Cargo.toml
  crates/config/Cargo.toml
  crates/config/src/lib.rs
  crates/kumo-prometheus/Cargo.toml
  crates/kumo-prometheus/src/lib.rs
  crates/lruttl/Cargo.toml
  crates/lruttl/src/lib.rs
  crates/mailparsing/Cargo.toml
  crates/mailparsing/src/headermap.rs
Due: build-rust

deps: update axum and utoipa ecosystem crates
  Cargo.lock
  Cargo.toml
  crates/integration-tests/src/kumod.rs
  crates/kcli/src/trace_smtp_client.rs
  crates/kcli/src/trace_smtp_server.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumo-api-types/src/xfer.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/http_server/auth.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/admin_trace_smtp_client_v1.rs
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/xfer/cancel.rs
  crates/kumod/src/xfer/mod.rs
  crates/tsa-daemon/src/http_server.rs
  docs/changelog/main.md
  docs/reference/kumod.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

deps: update prometheus and metrics crates
  Cargo.lock
  Cargo.toml
  crates/kumo-prometheus/src/registry.rs
Due: build-rust

deps: cargo update
  Cargo.lock
Due: none

deps: update criterion
  Cargo.lock
  Cargo.toml
  crates/dkim/benches/sign.rs
Due: build-rust

deps: update a few more
  Cargo.lock
  Cargo.toml
Due: none

deps: update rocksdb and jemalloc
  Cargo.lock
  Cargo.toml
Due: none

deps: update redis
  Cargo.lock
  Cargo.toml
Due: none

deps: update rdkafka
  Cargo.lock
  Cargo.toml
  crates/mod-kafka/src/lib.rs
Due: build-rust

deps: update thiserror, toml
  Cargo.lock
  Cargo.toml
  crates/kumo-api-types/src/shaping.rs
Due: build-rust

deps: sqlite, strum, testcontainers-modules
  Cargo.lock
  Cargo.toml
Due: none

deps: which
  Cargo.lock
  Cargo.toml
Due: none

deprecating the lapin-based amqp client
  docs/changelog/main.md
  docs/reference/kumo.amqp/build_client.md
Due: build-docs

deps: mlua
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/src/lib.rs
Due: build-rust

deps: revert rocksdb upgrade
  Cargo.lock
  Cargo.toml
Due: none

spf: fixup handling of NoRecordsFound during exists: check
  crates/dns-resolver/src/resolver.rs
  crates/kumo-spf/Cargo.toml
  crates/kumo-spf/src/tests.rs
  docs/changelog/main.md
Due: build-rust, build-docs

ci: reduce flakeyness in xclient test
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/xclient.rs
Due: build-rust

spf: ensure that all names are fqdn when resolving
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/record.rs
Due: build-rust
