Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

ci: add cargo-cooldown workflow
  .github/workflows/cargo-cooldown.yml
Due: none

deps: update Cargo.lock via cooldown
  Cargo.lock
Due: none

ci: include cooldown output into PR description
  .github/workflows/cargo-cooldown.yml
Due: none

ci: don't mirror our cargo-cooldown branches
  .github/workflows/mirror.yml
Due: none

ci: disable dependabot rust updates
  .github/dependabot.yml
Due: none

add check_trailing_bits: false
  crates/mailparsing/src/mimepart.rs
  docs/changelog/main.md
Due: build-rust, build-docs

add test, fix a few issues
  Cargo.lock
  crates/integration-tests/dmarc.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/queue_dmarc.rs
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-spf/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

add initial support for dmarc reporting email
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumod/src/dmarc.rs
  docs/generate-toc.py
Due: build-rust, build-docs

move to separate report log files
  Cargo.lock
  Cargo.toml
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

mailparsing: rfc2822 date parsing now accepts obsolete timezones
  Cargo.lock
  crates/kumo-log-types/data/rfc3464/obsolete_arrival_date.eml
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/maildir/src/lib.rs
  crates/mailparsing/.gitignore
  crates/mailparsing/Cargo.toml
  crates/mailparsing/codegen/Cargo.lock
  crates/mailparsing/codegen/Cargo.toml
  crates/mailparsing/codegen/src/main.rs
  crates/mailparsing/src/datetime.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/lib.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mailparsing/src/zone_offsets.rs
  crates/mod-time/Cargo.toml
  crates/mod-time/src/lib.rs
  crates/mod-time/test.lua
  docs/changelog/main.md
Due: build-rust, build-docs

websockets: fix narrow race at session initiation time
  crates/kumod/src/http_server/admin_trace_smtp_client_v1.rs
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
  crates/tsa-daemon/src/http_server.rs
  docs/changelog/main.md
Due: build-rust, build-docs

dkim: fix relaxed canonicalization of empty bodies
  crates/dkim/src/canonicalization.rs
  crates/dkim/src/hash.rs
Due: build-rust

touchups after initial review
  Cargo.toml
  crates/integration-tests/src/test/queue_dmarc.rs
Due: build-rust

trace headers: fold long supplemental trace headers
  Cargo.lock
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/src/test/end_to_end_long_trace_header.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/queue_ndr.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/smtp_server.rs
  crates/kumod/test_apply_supplemental_header.lua
  docs/changelog/main.md
Due: build-rust, build-docs

integration-tests: fix flakey retry_schedule_nxdomain test
  crates/integration-tests/retry-schedule-source.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/retry_schedule.rs
Due: build-rust

integration-tests: capture in-process tracing and fail loudly on shaping fetch errors
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/logging.rs
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/tsa.rs
Due: build-rust

smtp_dispatcher: recover from a stalled TLS negotiation
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  docs/changelog/main.md
Due: build-rust, build-docs

ci: update cooldown workflow to sign its commits
  .github/workflows/cargo-cooldown.yml
Due: none

Fix unescaped parentheses in two community bounce rules
  assets/community/bounces.toml
  crates/bounce-classify/src/lib.rs
Due: build-rust

Add a configurable timeout to Vault secret reads
  Cargo.lock
  crates/data-loader/Cargo.toml
  crates/data-loader/src/lib.rs
  docs/changelog/main.md
  docs/reference/keysource.md
  docs/reference/kumo.secrets/load.md
Due: build-rust, build-docs

charset alias
  crates/kumod/src/mod_kumo.rs
  crates/mailparsing/src/charset.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/lib.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  docs/reference/kumo/add_charset_alias.md
Due: build-rust, build-docs

Apply suggestions from code review
  crates/data-loader/src/lib.rs
  docs/changelog/main.md
  docs/reference/keysource.md
  docs/reference/kumo.secrets/load.md
Due: build-rust, build-docs

Fix tests
  crates/data-loader/src/lib.rs
Due: build-rust

fix count missmatch
  crates/message/src/message.rs
Due: build-rust

do not increment on empty data
  crates/message/src/message.rs
Due: build-rust

Spelling Fix
  docs/tutorial/quickstart.md
Due: build-docs

key decoding error should be perm failure
  crates/dkim/src/errors.rs
  crates/dkim/src/public_key.rs
Due: build-rust

handle body only email
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
Due: build-rust

keep current funky_headers behavior
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
Due: build-rust

xfer: fix far-future timestamps on transferred messages
  Cargo.lock
  Cargo.toml
  crates/kumo-mac-address/Cargo.toml
  crates/kumo-mac-address/src/lib.rs
  crates/kumo-machine-info/Cargo.toml
  crates/kumo-machine-info/src/lib.rs
  crates/kumod/src/main.rs
  crates/proxy-server/src/main.rs
  crates/spool/src/spool_id.rs
  crates/tsa-daemon/src/main.rs
  crates/uuid-helper/Cargo.toml
  crates/uuid-helper/src/lib.rs
  docs/changelog/main.md
  docs/userguide/clustering/nodeid.md
Due: build-rust, build-docs

string: add psl_suffix_is_known / psl_domain_is_known helpers
  crates/mod-string/src/lib.rs
  crates/psl-utils/src/lib.rs
  docs/reference/string/psl_domain_is_known.md
  docs/reference/string/psl_suffix_is_known.md
Due: build-rust, build-docs

shaping: add some debug tracing
  crates/kumo-api-types/src/shaping.rs
  crates/mailexchanger/src/lib.rs
Due: build-rust

rfc3464: avoid panic when printing out of range dates
  crates/kumo-log-types/src/rfc3464.rs
  crates/mailparsing/src/datetime.rs
  crates/mailparsing/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

clippy: forbid direct use of chrono's rfc2822 date functions
  .clippy.toml
  Cargo.toml
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/smtp_server.rs
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/datetime.rs
  crates/mailparsing/src/headermap.rs
  crates/mod-time/src/lib.rs
  crates/traffic-gen/src/main.rs
Due: build-rust

rustfmt
  crates/kumo-log-types/src/rfc3464.rs
Due: build-rust

mod-http: fix pairs() header iteration hang
  Cargo.lock
  crates/mod-http/Cargo.toml
  crates/mod-http/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

ci: disable workspace lints in docs docker build
  docs/Dockerfile
Due: build-docs
