Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

docs: format
  docs/reference/kumo/invoke_get_egress_path_config.md
Due: build-docs

Changelog update
  docs/changelog/main.md
Due: build-docs

feat: add Ubuntu 24.04 support for builds
  .github/workflows/builder-images.yml
  .github/workflows/kumomta.yml
Due: none

docs: mention template dialect in injection and eval_template APIs
  docs/changelog/main.md
  docs/reference/http/api_inject_v1.md
  docs/reference/string/eval_template.md
Due: build-docs

docs: fix copypasta in smtp_server_rewrite_response page
  docs/reference/events/smtp_server_rewrite_response.md
Due: build-docs

docs: wrap examples in normalize_smtp_response.md
  docs/reference/string/normalize_smtp_response.md
Due: build-docs

Apply suggestion from @wez
  docs/changelog/main.md
Due: build-docs

traffic-gen header in changelog (#455)
  docs/changelog/main.md
Due: build-docs

docs: fixup whitespace in changelog
  docs/changelog/main.md
Due: build-docs

docs: changelog for keysource event callback
  docs/changelog/main.md
Due: build-docs

docs: clarify Time and TimeDelta
  docs/reference/kumo.time/Time.md
  docs/reference/kumo.time/TimeDelta.md
Due: build-docs

kcli: expose smtp_server_rejections counter
  crates/kcli/src/top/mod.rs
  crates/kcli/src/top/state.rs
Due: build-rust

mod_nats: make fmt
  crates/integration-tests/nats.lua
Due: build-rust

CI: implement dependency cooldown for github actions
  .github/dependabot.yml
Due: none

Add AWS SigV4 signature module
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-aws-sigv4/Cargo.toml
  crates/mod-aws-sigv4/README.md
  crates/mod-aws-sigv4/src/lib.rs
  crates/mod-aws-sigv4/test.lua
Due: build-rust

ci: re-enable sccache default features
  assets/ci/emit-builder-dockerfile.py
Due: none

ci: adjust builder sccache build for amazonlinux:2
  assets/ci/emit-builder-dockerfile.py
Due: none

ci: improve deb package compression performance
  assets/build-deb.sh
Due: build-rust

ci: pre-download the rust-toolchain version in the builder image
  assets/ci/emit-builder-dockerfile.py
Due: none

ci: try alternative way to install the rust-toolchain version
  assets/ci/emit-builder-dockerfile.py
Due: none

Refine aws_sign_v4 module and docs after review feedback
  crates/mod-aws-sigv4/README.md
  crates/mod-aws-sigv4/src/lib.rs
  crates/mod-aws-sigv4/test.lua
  docs/reference/kumo.crypto/aws_sign_v4.md
Due: build-rust, build-docs

Add reference to community contributed Mautic Webhook Callback.
  docs/userguide/integrations/mautic.md
Due: build-docs

Add AWS SigV4 signature module (#457)
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-aws-sigv4/Cargo.toml
  crates/mod-aws-sigv4/README.md
  crates/mod-aws-sigv4/src/lib.rs
  crates/mod-aws-sigv4/test.lua
  docs/reference/kumo.crypto/aws_sign_v4.md
Due: build-rust, build-docs

ci: pruning in the builder images
  assets/ci/emit-builder-dockerfile.py
Due: none

docs: format aws_sign_v4
  docs/reference/kumo.crypto/aws_sign_v4.md
Due: build-docs

docs: changelog for #457
  docs/changelog/main.md
Due: build-docs

Add aws_sign_v4 helper to kumo.http.Request and cross-link docs
  crates/mod-http/src/lib.rs
  docs/reference/kumo.crypto/aws_sign_v4.md
  docs/reference/kumo.http/Request.md
Due: build-rust, build-docs

docs: add logo
  docs/assets/images/kumo-logo.png
  mkdocs-base.yml
Due: build-docs

metrics: fix prefix not being applied to metrics with multiple labels
  crates/kumo-prometheus/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

message: ensure all meta-loading methods are async and load meta
  crates/kumod/src/dmarc.rs
  crates/kumod/src/http_server/admin_bounce_v1.rs
  crates/kumod/src/http_server/admin_inspect_message.rs
  crates/kumod/src/http_server/admin_inspect_scheduled_queue.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/logging/disposition.rs
  crates/kumod/src/logging/hooks.rs
  crates/kumod/src/logging/mod.rs
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/queue/maintainer.rs
  crates/kumod/src/queue/manager.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/spf.rs
  crates/kumod/src/spool.rs
  crates/kumod/src/xfer/mod.rs
  crates/message/src/message.rs
  crates/message/src/xfer.rs
Due: build-rust

docs: fix typo
  docs/reference/mimepart/headers.md
Due: build-docs

add docs
  crates/mod-nats/src/lib.rs
  docs/generate-toc.py
  docs/reference/kumo.nats/_index.md
  docs/reference/kumo.nats/close.md
  docs/reference/kumo.nats/connect.md
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

mod_nats: retrieve credentials from keysource
  Cargo.lock
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

mod_nats: add integration tests
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/nats.lua
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/nats.rs
Due: build-rust

mod_nats: integrate nats
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

mod_nats: configure credentials individually
  Cargo.lock
  crates/integration-tests/nats.lua
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust
