Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

Add support for custom key names in HashiCorp Vault secrets (#399)
  crates/data-loader/src/lib.rs
  docs/reference/keysource.md
  docs/reference/kumo.secrets/load.md
  docs/reference/kumo/make_egress_path/smtp_auth_plain_password.md
  docs/reference/kumo/start_esmtp_listener/tls_certificate.md
  docs/reference/kumo/start_esmtp_listener/tls_private_key.md
  docs/reference/kumo/start_http_listener/tls_certificate.md
  docs/reference/kumo/start_http_listener/tls_private_key.md
  docs/userguide/configuration/dkim.md
  docs/userguide/configuration/httplisteners.md
  docs/userguide/operation/outbound_auth.md
  docs/userguide/policy/hashicorp_vault.md
  docs/userguide/policy/inbound_auth.md
  simple_policy.lua
Due: build-rust, build-docs

docs: changelog for #394
  Cargo.lock
  docs/changelog/main.md
Due: build-docs

docs: changelog for #399
  docs/changelog/main.md
Due: build-docs

hostname-based proxy server configuration in KumoMTA's egress sources
  crates/kumod/src/egress_source.rs
  docs/reference/kumo/make_egress_source/ha_proxy_server.md
  docs/reference/kumo/make_egress_source/socks5_proxy_server.md
  docs/userguide/operation/proxy.md
Due: build-rust, build-docs

inline version for haproxy doc file
  docs/reference/kumo/make_egress_source/ha_proxy_server.md
Due: build-docs

Support for hostname-based proxy server configuration in KumoMTA's egress sources
  crates/kumod/src/egress_source.rs
  docs/reference/kumo/make_egress_source/ha_proxy_server.md
  docs/reference/kumo/make_egress_source/socks5_proxy_server.md
  docs/userguide/operation/proxy.md
Due: build-rust, build-docs

fixing test case and adding validation for hostname
  assets/policy-extras/sources.lua
  crates/kumod/src/egress_source.rs
Due: build-rust

docs: format
  docs/reference/keysource.md
  docs/reference/kumo/start_esmtp_listener/tls_certificate.md
  docs/reference/kumo/start_esmtp_listener/tls_private_key.md
  docs/reference/kumo/start_http_listener/tls_certificate.md
  docs/reference/kumo/start_http_listener/tls_private_key.md
  docs/userguide/policy/hashicorp_vault.md
Due: build-docs

mod-filesystem: add missing append mode
  crates/mod-filesystem/src/file.rs
Due: build-rust

Add new tested cloud environments
  docs/userguide/installation/environment.md
Due: build-docs

Update crates/kumod/src/smtp_server.rs
  crates/kumod/src/smtp_server.rs
Due: build-rust

mpsc: provide shutdown event and clarify single-consumer parts
  crates/kumod/src/main.rs
  crates/mod-mpsc/src/lib.rs
  docs/reference/events/shutdown_logging.md
  docs/reference/kumo.mpsc/define.md
Due: build-rust, build-docs

add epoch with millisec
  assets/run-lua-test
  crates/mod-time/src/lib.rs
  crates/mod-time/test.lua
  docs/reference/kumo.time/epoch_millis.md
  docs/reference/kumo.time/since_millis.md
Due: build-rust, build-docs

adding crc32
  Cargo.lock
  Cargo.toml
  assets/run-lua-test
  crates/mod-digest/Cargo.toml
  crates/mod-digest/src/lib.rs
  crates/mod-digest/test.lua
  docs/reference/kumo.digest/crc32.md
Due: build-rust, build-docs

create object for time
  Cargo.lock
  crates/mod-time/Cargo.toml
  crates/mod-time/src/lib.rs
  crates/mod-time/test.lua
  docs/reference/kumo.time/epoch_millis.md
  docs/reference/kumo.time/now.md
  docs/reference/kumo.time/since_millis.md
Due: build-rust, build-docs

Update note about minimum supported instance
  docs/tutorial/quickstart.md
Due: build-docs

ci: improve run-lua-test
  Makefile
  assets/run-lua-test
Due: build-rust

run-lua-test: fixup when run as root (eg: in CI)
  assets/run-lua-test
Due: build-rust

migrate run-lua-test to rust
  Cargo.lock
  Cargo.toml
  Makefile
  assets/run-lua-test
  crates/run-lua-tests/Cargo.toml
  crates/run-lua-tests/src/main.rs
Due: build-rust

cargo update
  Cargo.lock
Due: none

fix minor typo in logging doc
  docs/userguide/configuration/logging.md
Due: build-docs

fix prettier removing indentation on note section
  docs/userguide/configuration/logging.md
Due: build-docs

remove unnecessary derives
  crates/kumo-spf/src/lib.rs
Due: build-rust

fix up some lifetime hiding
  crates/cidr-map/src/map.rs
  crates/dkim/src/canonicalization.rs
  crates/kumo-prometheus/src/lib.rs
  crates/kumo-prometheus/src/registry.rs
  crates/kumod/src/egress_source.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/maildir/src/lib.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/nom_utils.rs
  crates/rfc5321/src/client.rs
Due: build-rust

Update set_smtpsrv_threads.md
  docs/reference/kumo/set_smtpsrv_threads.md
Due: build-docs

Working on clarifying the scopes used in Kumo's shaping.lua.
  docs/userguide/configuration/trafficshaping.md
Due: build-docs

fix up match on bools
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/record.rs
  crates/kumo-spf/src/spec.rs
  crates/kumod/src/smtp_server.rs
  crates/throttle/src/throttle.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
