Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

move to separate report log files
  Cargo.lock
  Cargo.toml
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

address feedback
  Cargo.lock
  crates/integration-tests/dmarc.lua
  crates/integration-tests/src/test/queue_dmarc.rs
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

touchups after initial review
  Cargo.toml
  crates/integration-tests/src/test/queue_dmarc.rs
Due: build-rust

add test, fix a few issues
  Cargo.lock
  crates/integration-tests/dmarc.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/queue_dmarc.rs
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-spf/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

add initial support for dmarc reporting email
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumod/src/dmarc.rs
  docs/generate-toc.py
Due: build-rust, build-docs

raised test timeout for tsa_adjust_config_ramps_up_after_quiet_period
  .config/nextest.toml
Due: none

docs: format code examples
  docs/userguide/configuration/dkim.md
  docs/userguide/configuration/policy_helpers.md
Due: build-docs

docs: add glossary to nav
  .gitignore
  docs/generate-toc.py
Due: build-docs

mailparsing: escape literal underscore in Q encoded headers
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mod-mimepart/test_new_multipart.lua
  docs/changelog/main.md
Due: build-rust, build-docs

fix: stop double-encoding non-ASCII From/Reply-To addresses in HTTP inject
  crates/integration-tests/src/test/http_inject_non_ascii_from.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
Due: build-rust, build-docs

refactor: simplify From/Reply-To fix and drop redundant duplicate-header checks
  crates/integration-tests/src/test/http_inject_non_ascii_from.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
Due: build-rust, build-docs

test: make From regression tests exercise the exact production parse path
  crates/integration-tests/source-verify-from-header.lua
  crates/integration-tests/src/test/http_inject_non_ascii_from.rs
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

remove trailing dot
  assets/community/shaping.toml
Due: none

fix: restore display-name line folding for From/Reply-To
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

spool: fix rocksdb load-shedding gate never reopening after a single-signal error
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fault-inject-preload/Cargo.toml
  crates/fault-inject-preload/src/lib.rs
  crates/integration-tests/source-rocks-spool.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/spool_write_stopped.rs
  crates/spool/Cargo.toml
  crates/spool/src/rocks.rs
  crates/spool/src/rocks/health.rs
  docs/changelog/main.md
  docs/reference/kumo/define_spool/rocks_params.md
  docs/reference/kumod-metrics.json
  docs/reference/metrics/kumod/rocks_spool_load_shed_active.md
Due: build-rust, build-docs

rustfmt
  crates/traffic-gen/src/main.rs
Due: build-rust

lruttl: add purge_cache_by_name and kumo.purge_lruttl_cache admin API
  crates/kumo-api-client/src/lib.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumo-server-common/src/lib.rs
  crates/lruttl/src/lib.rs
Due: build-rust

Address review: docs, changelog, and 404 for an unknown cache
  crates/kumo-server-common/src/http_server/mod.rs
  crates/lruttl/src/lib.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_admin_purge_lruttl_cache_post.md
  docs/reference/http/proxy-server/api_admin_purge_lruttl_cache_post.md
  docs/reference/kumo/purge_lruttl_cache.md
  docs/reference/kumod.openapi.json
  docs/reference/proxy-server.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

ci: build Rocky Linux 9 packages for aarch64
  .github/workflows/kumomta.yml
Due: none

docs: update for 2026.09.22-a276d4a8
  docs/changelog/2026.09.22-a276d4a8.md
  docs/changelog/main.md
Due: build-docs

lruttl: add purge_cache_by_name + kumo.purge_lruttl_cache admin API
  crates/kumo-api-client/src/lib.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumo-server-common/src/lib.rs
  crates/kumod/src/http_server/mod.rs
  crates/kumod/src/http_server/purge_lruttl_cache_v1.rs
  crates/lruttl/src/lib.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_admin_purge_lruttl_cache_post.md
  docs/reference/http/kumod/schemas/PurgeLruttlCacheV1Request.md
  docs/reference/http/kumod/schemas/PurgeLruttlCacheV1Response.md
  docs/reference/kumo/purge_lruttl_cache.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

Create SECURITY.md
  SECURITY.md
Due: none

kumo-jsonl: skip only oversized records, not whole segments
  crates/kumo-jsonl/src/decompress.rs
  crates/kumo-jsonl/src/tailer.rs
  crates/kumo-jsonl/src/writer.rs
  crates/kumo-jsonl/tests/integration.rs
  docs/changelog/main.md
  docs/reference/kumo.jsonl/new_multi_tailer.md
  docs/reference/kumo.jsonl/new_tailer.md
Due: build-rust, build-docs

kumo-jsonl: Fix silent data loss for records larger than 128KiB
  Cargo.lock
  crates/kumo-jsonl/src/decompress.rs
  crates/kumo-jsonl/src/lib.rs
  crates/kumo-jsonl/src/lua.rs
  crates/kumo-jsonl/src/tailer.rs
  crates/kumo-jsonl/src/writer.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/logging/files.rs
  crates/kumod/src/logging/mod.rs
  crates/tailer/src/main.rs
  docs/changelog/main.md
  docs/reference/kumo.jsonl/new_multi_tailer.md
  docs/reference/kumo.jsonl/new_tailer.md
  docs/reference/kumo.jsonl/new_writer.md
  docs/reference/kumo/configure_local_logs/max_record_size.md
Due: build-rust, build-docs

kumo-wrap: fix hard-wrap to split multi-byte words on char boundaries
  crates/kumo-wrap/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mod-mimepart: unify header.value onto ParsedHeader
  crates/mod-mimepart/src/headers.rs
  crates/mod-mimepart/test_headermap.lua
Due: build-rust

mailparsing: unify header parsing behind a name-driven ParsedHeader type
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/lib.rs
  crates/mailparsing/src/parsed_header.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: emit MIME-Version with its RFC 2045 canonical spelling
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/headermap.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/parsed_header.rs
  crates/message/src/message.rs
  crates/mod-mimepart/src/headers.rs
  crates/mod-mimepart/test_builder.lua
  docs/changelog/main.md
  docs/reference/header/value.md
  docs/reference/headermap/mime_version.md
  docs/reference/headermap/set_mime_version.md
  docs/reference/kumo.mimepart/builder.md
  docs/reference/kumo/generate_rfc3464_message.md
  docs/reference/message/check_fix_conformance.md
Due: build-rust, build-docs

kumod: add a characterization test for from/reply_to templating
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

mailparsing: fold long mailbox display names at the addr-spec boundary
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mod-mimepart/test_headermap.lua
Due: build-rust

mailparsing: rewrite bare CR/LF in a display name to a space
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/rfc5322_parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

inject: defer content.from/content.reply_to encoding until after templating
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/test_http_display_name_wrapping.lua
Due: build-rust

mailparsing: Fix integer underflow when encoding very long MIME parameter names
  crates/mailparsing/src/rfc5322_parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

inject: emit user-supplied address headers through the address grammar
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
Due: build-rust, build-docs
