Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

shaping.lua: stylua format
  assets/policy-extras/shaping.lua
Due: build-rust

redis: add redis_operation_latency histogram
  Cargo.lock
  crates/mod-redis/Cargo.toml
  crates/mod-redis/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumod-metrics.json
  docs/reference/metrics/kumod/redis_operation_latency.md
  docs/reference/metrics/proxy-server/redis_operation_latency.md
  docs/reference/proxy-server-metrics.json
Due: build-rust, build-docs

Detect dead SMTP connections before reuse
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
Due: build-rust

smtp_dispatcher: improve dead connection detection between sends
  crates/integration-tests/src/test/disconnect_in_data.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client.rs
  docs/changelog/main.md
Due: build-rust, build-docs

update rules for orange
  assets/community/shaping.toml
  assets/policy-extras/shaping.toml
Due: build-rust

update community shaping to use providers
  assets/community/shaping.toml
Due: none

mod_nats: integrate nats
  Cargo.lock
  Cargo.toml
  crates/integration-tests/Cargo.toml
  crates/integration-tests/source-nats.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/nats.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
  docs/generate-toc.py
  docs/reference/kumo.nats/_index.md
  docs/reference/kumo.nats/close.md
  docs/reference/kumo.nats/connect.md
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

rabbit: fix test wait condition
  crates/integration-tests/src/rabbit.rs
Due: build-rust

refactor: extract kumo-api-client from kcli
  Cargo.lock
  Cargo.toml
  crates/kcli/Cargo.toml
  crates/kcli/src/bounce.rs
  crates/kcli/src/bounce_cancel.rs
  crates/kcli/src/bounce_list.rs
  crates/kcli/src/inspect_message.rs
  crates/kcli/src/inspect_sched_q.rs
  crates/kcli/src/logfilter.rs
  crates/kcli/src/main.rs
  crates/kcli/src/provider_summary.rs
  crates/kcli/src/queue_summary.rs
  crates/kcli/src/rebind.rs
  crates/kcli/src/suspend.rs
  crates/kcli/src/suspend_cancel.rs
  crates/kcli/src/suspend_list.rs
  crates/kcli/src/suspend_ready_q.rs
  crates/kcli/src/suspend_ready_q_cancel.rs
  crates/kcli/src/suspend_ready_q_list.rs
  crates/kcli/src/top/state.rs
  crates/kcli/src/xfer.rs
  crates/kcli/src/xfer_cancel.rs
  crates/kumo-api-client/Cargo.toml
  crates/kumo-api-client/src/lib.rs
  crates/kumo-api-types/src/lib.rs
Due: build-rust

introduce kumo-machine-info crate
  Cargo.lock
  Cargo.toml
  assets/acls/default.toml
  crates/kumo-api-types/src/lib.rs
  crates/kumo-machine-info/Cargo.toml
  crates/kumo-machine-info/src/lib.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumo-server-common/src/start.rs
  docs/reference/http/kumod/api_machine_info_get.md
  docs/reference/http/proxy-server/api_machine_info_get.md
  docs/reference/kumod.openapi.json
  docs/reference/proxy-server.openapi.json
Due: build-rust, build-docs

kumo-prometheus: re-export Map type for convenience
  crates/kumo-prometheus/src/parser.rs
Due: build-rust

Makefile: force alternate node-id for my sink configs
  Makefile
Due: none

add new cpu usage metrics
  Cargo.lock
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/start.rs
  docs/changelog/main.md
  docs/reference/kumod-metrics.json
  docs/reference/kumod.openapi.json
  docs/reference/metrics/kumod/process_cpu_usage_normalized.md
  docs/reference/metrics/kumod/process_cpu_usage_sum.md
  docs/reference/metrics/kumod/system_cpu_usage_normalized.md
  docs/reference/metrics/kumod/system_cpu_usage_sum.md
  docs/reference/metrics/proxy-server/process_cpu_usage_normalized.md
  docs/reference/metrics/proxy-server/process_cpu_usage_sum.md
  docs/reference/metrics/proxy-server/system_cpu_usage_normalized.md
  docs/reference/metrics/proxy-server/system_cpu_usage_sum.md
  docs/reference/proxy-server-metrics.json
  docs/reference/proxy-server.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

docs: add a page discussing the Node ID
  docs/generate-toc.py
  docs/userguide/clustering/nodeid.md
Due: build-docs

cargo update
  Cargo.lock
  Cargo.toml
Due: none

machine-info: add docs/examples to jsonschema
  crates/kumo-api-types/src/lib.rs
  crates/kumo-server-common/src/http_server/mod.rs
  docs/reference/http/kumod/schemas/MachineInfoV1.md
  docs/reference/http/proxy-server/api_machine_info_get.md
  docs/reference/http/proxy-server/schemas/MachineInfoV1.md
  docs/reference/kumod.openapi.json
  docs/reference/proxy-server.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

smtp_dispatcher: improve handling of unilateral disconnects
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/broken_first_choice_mx.rs
  crates/integration-tests/src/test/disconnect_peer_idle_out.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/lua_deliver.rs
  crates/kumod/src/queue/insert_context.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/xfer/mod.rs
Due: build-rust

http injection: template errors are now reported with status 422
  crates/integration-tests/src/test/http_inject_template_syntax_error.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_inject_v1_post.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

update to latest wip
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/feedback.rs
  crates/kumo-dmarc/src/types/identifier.rs
  crates/kumo-dmarc/src/types/mode.rs
  crates/kumo-dmarc/src/types/policy.rs
  crates/kumo-dmarc/src/types/policy_override.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/report_failure.rs
  crates/kumo-dmarc/src/types/report_metadata.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-spf/src/lib.rs
Due: build-rust

fix formatting
  crates/kumo-dmarc/src/types/record.rs
  docs/generate-toc.py
Due: build-rust, build-docs

remove testing logging temporarily
  crates/kumo-dmarc/src/tests.rs
Due: build-rust

fix failing test
  crates/kumo-spf/src/lib.rs
Due: build-rust

fix: dkim sign formatting
  crates/dkim/src/header.rs
  crates/dkim/src/sign.rs
Due: build-rust

reverting changes and adding a test
  crates/dkim/src/header.rs
  crates/dkim/src/sign.rs
Due: build-rust

dkim: fix wrapping issue
  Cargo.lock
  crates/dkim/Cargo.toml
  crates/dkim/src/header.rs
  docs/changelog/main.md
Due: build-rust, build-docs

an integration test around mx_list refreshing
  Cargo.lock
  Makefile
  crates/integration-tests/Cargo.toml
  crates/integration-tests/source-mxlist.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mx_list_refresh.rs
  crates/kumo-api-client/src/lib.rs
Due: build-rust

fix an issue around mx_list and config refreshing
  Cargo.lock
  Makefile
  crates/integration-tests/Cargo.toml
  crates/integration-tests/source-mxlist.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mx_list_refresh.rs
  crates/kumo-api-client/src/lib.rs
  crates/kumod/src/lua_deliver.rs
  crates/kumod/src/queue/delivery_proto.rs
  crates/kumod/src/queue/insert_context.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

rustfmt
  crates/kumo-chrono-helper/src/lib.rs
  crates/lruttl/src/lib.rs
  crates/rfc5321/src/client.rs
Due: build-rust

Update docs for consistent usage of DNF
  docs/tutorial/installing_kumomta.md
  docs/userguide/installation/linux.md
Due: build-docs

docs: clarify enable_mta_sts
  docs/reference/kumo/make_egress_path/enable_mta_sts.md
Due: build-docs

Typo.
  docs/reference/kumo/make_egress_path/enable_mta_sts.md
Due: build-docs

tsa: ensure that we have the status endpoint in the default ACL
  assets/acls/default.toml
  crates/integration-tests/src/test/http_liveness.rs
  crates/integration-tests/src/test/mod.rs
Due: build-rust

docs: fix minor typo in access_control.md
  docs/reference/access_control.md
Due: build-docs

log_record.md: note about how size can be reported as zero
  docs/reference/log_record.md
Due: build-docs

log_record.md: add a couple of missing log record types
  docs/reference/log_record.md
Due: build-docs

add helper script for cutting a release
  assets/find-since-dev.sh
Due: none

docs: update changelog for stable release
  docs/changelog/2026.03.04-bb93ecb1.md
  docs/changelog/main.md
Due: build-docs

queue.lua: add typing to setup methods
  assets/policy-extras/queue.lua
  assets/policy-extras/typing.lua
  crates/integration-tests/ndr.lua
  docs/changelog/main.md
  simple_policy.lua
Due: build-rust, build-docs
