Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

SharedString: remove deref to str, deal with fanout
  Cargo.lock
  Makefile
  crates/dkim/Cargo.toml
  crates/dkim/src/arc.rs
  crates/dkim/src/canonicalization.rs
  crates/dkim/src/hash.rs
  crates/dkim/src/lib.rs
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/test/http_inject_compression.rs
  crates/integration-tests/src/test/http_inject_deferred.rs
  crates/integration-tests/src/test/queue_ndr.rs
  crates/kumo-log-types/Cargo.toml
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/kumod/src/smtp_server.rs
  crates/maildir/src/lib.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/headermap.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mailparsing/src/strings.rs
  crates/message/src/address.rs
  crates/message/src/message.rs
  crates/mod-mimepart/src/headers.rs
Due: build-rust

refactor: conceptually enable mimepart construction from binary
  Cargo.lock
  crates/kumo-log-types/src/rfc3464.rs
  crates/mailparsing/src/mimepart.rs
  crates/message/Cargo.toml
  crates/message/src/message.rs
  crates/mod-mimepart/src/lib.rs
  crates/mod-mimepart/src/mimepart.rs
Due: build-rust

deps: upgrade nom to latest 7.x release
  Cargo.lock
  Cargo.toml
Due: none

dkim: upgrade nom to 8.0
  Cargo.lock
  crates/dkim/Cargo.toml
  crates/dkim/src/parser.rs
Due: build-rust

mailparsing: upgrade nom to 8.0
  Cargo.lock
  Cargo.toml
  crates/dkim/Cargo.toml
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

bstr: enable serde support
  Cargo.toml
Due: none

mailparsing: refactor: AddrSpec fields to BString
  crates/integration-tests/src/test/spf_basic.rs
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

mailparsing: refactor serv_id fields String -> BString
  crates/dkim/src/arc.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/src/message.rs
Due: build-rust

mailparsing: *-Results: refactor method/result -> BString
  crates/dkim/src/arc.rs
  crates/dkim/src/lib.rs
  crates/kumod/src/dmarc.rs
  crates/kumod/src/spf.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/src/message.rs
Due: build-rust

mailparsing: refactor: more BString
  crates/dkim/src/arc.rs
  crates/dkim/src/lib.rs
  crates/integration-tests/src/test/spf_basic.rs
  crates/kumod/src/dmarc.rs
  crates/kumod/src/spf.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/src/message.rs
Due: build-rust

mailparsing: qp_encode now accepts bytes
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

mailparsing: refactor: MimeParameters -> BString
  Cargo.lock
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mod-mimepart/Cargo.toml
  crates/mod-mimepart/src/headers.rs
  crates/mod-mimepart/src/lib.rs
  crates/mod-mimepart/src/mimepart.rs
Due: build-rust

mailparsing: refactor: cleanup deprecated nom::tuple
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

mailparsing: Address::Group::name -> BString
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

mailparsing: refactor another String -> BString
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

mailparsing: refactor: Mailbox::name to Option<BString>
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/src/address.rs
Due: build-rust

mailparsing: refactor: parsing functions return BString
  Cargo.lock
  crates/dkim/src/arc.rs
  crates/dkim/src/lib.rs
  crates/integration-tests/src/test/spf_basic.rs
  crates/integration-tests/src/test/tls_info_log.rs
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/dmarc.rs
  crates/kumod/src/logging/mod.rs
  crates/kumod/src/spf.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/headermap.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mailparsing/src/strings.rs
  crates/message/src/message.rs
  crates/mod-mimepart/src/headers.rs
Due: build-rust

fixup test expectation
  crates/integration-tests/src/test/http_inject_template_syntax_error.rs
Due: build-rust

mailparsing: fix failing test
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

mailparsing: switch parser input to byte slices
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/nom_utils.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mailparsing/src/strings.rs
Due: build-rust

fixup test_latin.lua test expectations
  crates/message/test_latin.lua
Due: build-rust

kumo-template: fixup deprecated call
  crates/kumo-template/src/lib.rs
Due: build-rust

mailparsing and mod-mimepart: support setting binary unstructured
  crates/mailparsing/src/headermap.rs
  crates/mod-mimepart/src/headers.rs
Due: build-rust

kumo-wrap: fixup handling of trailing whitespace
  crates/kumo-wrap/src/lib.rs
Due: build-rust

new: kumo.encode.charset_decode/kumo.encode.charset_encode
  Cargo.lock
  crates/mod-encode/Cargo.toml
  crates/mod-encode/src/lib.rs
  crates/mod-encode/test_charset.lua
  docs/changelog/main.md
  docs/reference/kumo.encode/charset_decode.md
  docs/reference/kumo.encode/charset_encode.md
Due: build-rust, build-docs

server-common: try to be more faithful when logging bytes
  Cargo.lock
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/run-lua-tests/src/main.rs
Due: build-rust

dkim: enable signing legacy 8-bit content
  crates/dkim/src/arc.rs
  crates/integration-tests/src/test/arc.rs
  crates/message/src/dkim.rs
  crates/message/test_legacy_jp_encodings.lua
Due: build-rust

rfc5321: improve handling of quoted local parts in envelope addresses
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/end_to_end_quoted_localpart.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/no_ports_in_rcpt_domain.rs
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/kumod/src/smtp_server.rs
  crates/message/src/address.rs
  crates/rfc5321/src/client_types.rs
  crates/rfc5321/src/parser.rs
  crates/rfc5321/src/rfc5321.pest
  docs/changelog/main.md
  docs/reference/address/user.md
  docs/reference/kumo/make_queue_config/protocol.md
Due: build-rust, build-docs

smtp_server: Fix handling invalid EnvelopeAddress in MAIL or RCPT commands
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: remove deprecation from Header::get_raw_value_string
  crates/mailparsing/src/header.rs
Due: build-rust

docs: changelog entry about recent mailparsing changes
  docs/changelog/main.md
Due: build-docs

docs: changelog for recent connection failure summary changes
  docs/changelog/main.md
Due: build-docs

message: simplify EnvelopeAddress's Debug impl
  crates/message/src/address.rs
Due: build-rust

recommendations
  Cargo.lock
  Cargo.toml
  crates/mod-string/Cargo.toml
  crates/mod-string/src/lib.rs
  docs/reference/string/ends_with.md
  docs/reference/string/starts_with.md
Due: build-rust, build-docs

remove dup
  crates/mod-string/src/lib.rs
Due: build-rust

fix build on macOS
  crates/integration-tests/src/test/proxy_protocol.rs
  crates/kumo-server-runtime/Cargo.toml
  crates/kumo-server-runtime/src/lib.rs
Due: build-rust

merge main
  Cargo.lock
  Cargo.toml
  assets/policy-extras/mail_auth.lua
  crates/integration-tests/src/test/proxy_protocol.rs
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/date_range.rs
  crates/kumo-dmarc/src/types/feedback.rs
  crates/kumo-dmarc/src/types/identifier.rs
  crates/kumo-dmarc/src/types/mode.rs
  crates/kumo-dmarc/src/types/policy.rs
  crates/kumo-dmarc/src/types/policy_override.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/report_failure.rs
  crates/kumo-dmarc/src/types/report_metadata.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-server-runtime/Cargo.toml
  crates/kumo-server-runtime/src/lib.rs
  crates/kumo-spf/Cargo.toml
  crates/kumo-spf/src/lib.rs
  crates/kumod/src/dmarc.rs
  docs/generate-toc.py
Due: build-rust, build-docs

fix broken test on macOS
  crates/integration-tests/src/test/mod.rs
Due: build-rust
