Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

fixup now-unused import
  crates/kumo-spf/src/lib.rs
Due: build-rust

mkdocs_macros.py: be smarter about install links
  mkdocs_macros.py
Due: none

add kumo.inject_message
  crates/kumod/src/mod_kumo.rs
  docs/reference/kumo/inject_message.md
  docs/reference/kumo/make_message.md
  docs/reference/message/_index.md
Due: build-rust, build-docs

integration-tests: add helper for constructing tests
  crates/integration-tests/src/kumod.rs
Due: build-rust

logging: introduce a log_disposition event hook
  crates/kumod/src/logging/disposition.rs
  crates/kumod/src/logging/disposition_hooks.rs
  crates/kumod/src/logging/files.rs
  crates/kumod/src/logging/hooks.rs
  crates/kumod/src/logging/mod.rs
  crates/kumod/src/logging/rejection.rs
Due: build-rust

log_hooks: add helper for creating a disposition hook
  assets/policy-extras/log_hooks.lua
Due: build-rust

Add support for generating NDRs
  Cargo.lock
  Cargo.toml
  Makefile
  crates/integration-tests/ndr.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/queue_ndr.rs
  crates/kumo-log-types/Cargo.toml
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/mod_kumo.rs
  crates/maildir/src/lib.rs
  crates/mailparsing/src/error.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/src/address.rs
  docs/changelog/main.md
  docs/reference/kumo/generate_rfc3464_message.md
Due: build-rust, build-docs

adding crc32
  Cargo.lock
  Cargo.toml
  crates/mod-digest/Cargo.toml
  crates/mod-digest/src/lib.rs
  crates/mod-digest/test.lua
  docs/reference/kumo.digest/crc32.md
Due: build-rust, build-docs

mailparsing: accept commonly misphrased mime parameter header encoding
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

mailparsing: make Rfc2045Info::new infallible
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mod-mimepart/src/mimepart.rs
Due: build-rust

mailparsing: formalize attachment filename encoding in parser structs
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mod-mimepart/test_new_multipart.lua
Due: build-rust

mailparsing: fallback to Content-Type::name for attachment name
  crates/mailparsing/src/mimepart.rs
  crates/mod-mimepart/src/mimepart.rs
  crates/mod-mimepart/test_attachments.lua
  docs/reference/mimepart/get_simple_structure.md
Due: build-rust, build-docs

logging: emit additional event_time and created_time fields
  crates/kumo-log-types/src/lib.rs
  docs/changelog/main.md
  docs/reference/log_record.md
Due: build-rust, build-docs

Initial DMARC support
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/format.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/dmarc.rs
  crates/kumod/src/main.rs
  crates/kumod/src/spf.rs
Due: build-rust

mod-encode: be more relaxed about excess baseXX padding
  crates/mod-encode/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

fix doc link
  docs/changelog/main.md
Due: build-docs

proxy-server: raise NOFILE soft limit to match hard limit
  Cargo.lock
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: preserve supplemental Content-Type parameters on rebuild
  crates/mailparsing/src/mimepart.rs
Due: build-rust

smtp_dispatcher: remove unused type
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

fixup test build
  crates/mod-encode/src/lib.rs
Due: build-rust

rustfmt
  crates/proxy-server/src/main.rs
Due: build-rust

kumo-prometheus: fix warning
  crates/kumo-prometheus/src/labels.rs
Due: build-rust

mailparsing: add more context when headermap accessors fail
  crates/mailparsing/src/error.rs
  crates/mailparsing/src/headermap.rs
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

ndr: don't try to generate one for the null sender
  crates/integration-tests/src/test/queue_ndr.rs
  crates/kumo-log-types/src/rfc3464.rs
Due: build-rust

expose hostname and received_via for http injections
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
  docs/reference/metadata.md
Due: build-rust, build-docs

add kumo.apply_supplemental_trace_header
  crates/kumod/src/mod_kumo.rs
  crates/kumod/test_apply_supplemental_header.lua
  docs/reference/kumo/apply_supplemental_trace_header.md
  docs/reference/kumo/start_esmtp_listener/trace_headers.md
Due: build-rust, build-docs

expand test_apply_supplemental_header.lua a bit
  crates/kumod/test_apply_supplemental_header.lua
Due: build-rust

wrap up 8BITMIME and SMTPUTF8 support
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/eightbitmime.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/rfc5321/src/client.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/ignore_8bit_checks.md
Due: build-rust, build-docs

rfc5321: add support for parsing XCLIENT commands
  crates/kumod/src/smtp_server.rs
  crates/rfc5321/src/client_types.rs
  crates/rfc5321/src/parser.rs
  crates/rfc5321/src/rfc5321.pest
Due: build-rust

Update crates/mod-crypto/src/lib.rs
  crates/mod-crypto/src/lib.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
