Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

docs: add missing MimeParams section
  docs/reference/headermap/_index.md
Due: build-docs

docs: fix broken metamethods link
  docs/reference/kumo.time/TimeDelta.md
Due: build-docs

refactor: tidy up jsonschema registration
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/admin_bounce_v1.rs
  crates/kumod/src/http_server/admin_rebind_v1.rs
  crates/kumod/src/http_server/admin_suspend_ready_q_v1.rs
  crates/kumod/src/http_server/admin_suspend_v1.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/http_server/mod.rs
  docs/reference/http/kumod/schemas/InspectQueueV1Request.md
  docs/reference/http/kumod/schemas/ReadyQueueStateRequest.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

refactor http listener path registration
  crates/jsonschematodocs/src/main.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/admin_trace_smtp_client_v1.rs
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
  crates/kumod/src/http_server/mod.rs
  crates/kumod/src/main.rs
  crates/tsa-daemon/src/http_server.rs
  crates/tsa-daemon/src/main.rs
  docs/reference/http/kumod/api_admin_memory_stats_get.md
  docs/reference/http/kumod/api_admin_trace_smtp_client_v1_get.md
  docs/reference/http/kumod/api_admin_trace_smtp_server_v1_get.md
  docs/reference/http/kumod/metrics.json_get.md
  docs/reference/http/kumod/metrics_get.md
  docs/reference/kumod.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

docs: define json schema tag for linking to kcli docs
  crates/jsonschematodocs/src/main.rs
  crates/kumod/src/http_server/admin_bounce_v1.rs
  crates/kumod/src/http_server/admin_inspect_message.rs
  crates/kumod/src/http_server/admin_inspect_scheduled_queue.rs
  crates/kumod/src/http_server/admin_ready_queue_states.rs
  crates/kumod/src/http_server/admin_rebind_v1.rs
  crates/kumod/src/http_server/admin_suspend_ready_q_v1.rs
  crates/kumod/src/http_server/admin_suspend_v1.rs
  crates/kumod/src/http_server/admin_trace_smtp_client_v1.rs
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
  docs/reference/http/kumod/api_admin_bounce_v1_delete.md
  docs/reference/http/kumod/api_admin_bounce_v1_get.md
  docs/reference/http/kumod/api_admin_bounce_v1_post.md
  docs/reference/http/kumod/api_admin_inspect_message_v1_get.md
  docs/reference/http/kumod/api_admin_inspect_sched_q_v1_get.md
  docs/reference/http/kumod/api_admin_ready_q_states_v1_get.md
  docs/reference/http/kumod/api_admin_rebind_v1_post.md
  docs/reference/http/kumod/api_admin_suspend_ready_q_v1_delete.md
  docs/reference/http/kumod/api_admin_suspend_ready_q_v1_get.md
  docs/reference/http/kumod/api_admin_suspend_ready_q_v1_post.md
  docs/reference/http/kumod/api_admin_suspend_v1_delete.md
  docs/reference/http/kumod/api_admin_suspend_v1_get.md
  docs/reference/http/kumod/api_admin_suspend_v1_post.md
  docs/reference/http/kumod/api_admin_trace_smtp_client_v1_get.md
  docs/reference/http/kumod/api_admin_trace_smtp_server_v1_get.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

docs: remove some pages in favor of generated versions
  crates/kumo-api-types/src/lib.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/admin_bounce_v1.rs
  docs/changelog/2024.06.10-84e84b89.md
  docs/changelog/2024.11.08-d383b033.md
  docs/reference/http/api_admin_bounce_cancel_v1.md
  docs/reference/http/api_admin_bounce_list_v1.md
  docs/reference/http/api_admin_bounce_v1.md
  docs/reference/http/api_admin_set_diagnostic_log_filter_v1.md
  docs/reference/http/kumod/api_admin_bounce_v1_post.md
  docs/reference/http/kumod/api_admin_set_diagnostic_log_filter_v1_post.md
  docs/reference/http/kumod/schemas/BounceV1Request.md
  docs/reference/kumod.openapi.json
  docs/reference/tsa-daemon.openapi.json
  docs/userguide/operation/cancel.md
  docs/userguide/operation/kcli.md
  docs/userguide/operation/troubleshooting.md
Due: build-rust, build-docs

docs: fixup absolute links in generated api docs
  crates/jsonschematodocs/src/main.rs
  docs/reference/http/kumod/api_admin_rebind_v1_post.md
  docs/reference/http/kumod/api_admin_set_diagnostic_log_filter_v1_post.md
  docs/reference/http/kumod/api_admin_xfer_v1_post.md
Due: build-rust, build-docs

docs: fixup wonky link to kcli
  docs/userguide/operation/troubleshooting.md
Due: build-docs

docs: replace manual metrics docs with auto-generated ones
  crates/kumo-server-common/src/http_server/mod.rs
  docs/changelog/2024.06.10-84e84b89.md
  docs/changelog/2025.12.02-67ee9e96.md
  docs/reference/http/kumod/metrics.json_get.md
  docs/reference/http/kumod/metrics_get.md
  docs/reference/http/sample-metrics.json
  docs/reference/http/sample-metrics.txt
  docs/reference/kumod.openapi.json
  docs/reference/tsa-daemon.openapi.json
  docs/userguide/clustering/scaling.md
Due: build-rust, build-docs

docs: improve the generated docs for the injection HTTP api
  crates/jsonschematodocs/src/main.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/reference/http/kumod/api_admin_inspect_message_v1_get.md
  docs/reference/http/kumod/api_inject_v1_post.md
  docs/reference/http/kumod/schemas/Attachment.md
  docs/reference/http/kumod/schemas/Content.md
  docs/reference/http/kumod/schemas/InjectV1Request.md
  docs/reference/http/kumod/schemas/InspectMessageV1Response.md
  docs/reference/http/kumod/schemas/Recipient.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

docs: replace manual http docs with generated docs
  docs/changelog/2024.11.08-d383b033.md
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/http/api_inject_v1.md
  docs/reference/http/kumod/_index.md
  docs/reference/kumo.api.inject/inject_v1.md
  docs/tutorial/testing_kumomta.md
  docs/userguide/configuration/httplisteners.md
  docs/userguide/operation/httpinjection.md
Due: build-docs

docs: relative-ize a couple of generated doc links
  crates/jsonschematodocs/src/main.rs
  docs/reference/http/kumod/api_inject_v1_post.md
Due: build-rust, build-docs

add msg:increment_num_attempts method
  crates/message/src/message.rs
  docs/changelog/main.md
  docs/reference/message/increment_num_attempts.md
Due: build-rust, build-docs

mod_nats: integrate nats
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

mod_nats: retrieve credentials from keysource
  Cargo.lock
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

mod_nats: add integration tests
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/nats.lua
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/nats.rs
Due: build-rust

apply trivial suggestions
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/nats.rs
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
  docs/reference/kumo.nats/close.md
  docs/reference/kumo.nats/connect.md
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

mod_nats: configure credentials individually
  Cargo.lock
  crates/integration-tests/nats.lua
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

add docs
  crates/mod-nats/src/lib.rs
  docs/generate-toc.py
  docs/reference/kumo.nats/_index.md
  docs/reference/kumo.nats/close.md
  docs/reference/kumo.nats/connect.md
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

mod_nats: make fmt
  crates/integration-tests/nats.lua
Due: build-rust

docs: clarify that api_xfer_inject_v1_post is an internal api
  crates/kumod/src/xfer/mod.rs
  docs/reference/http/kumod/api_xfer_inject_v1_post.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

expose more details to the lua requeue_message event
  Cargo.lock
  Cargo.toml
  crates/kumod/Cargo.toml
  crates/kumod/src/queue/insert_context.rs
  crates/kumod/src/queue/manager.rs
  crates/mod-time/src/lib.rs
  docs/changelog/main.md
  docs/reference/events/requeue_message.md
Due: build-rust, build-docs

add kumo.xfer.xfer_in_requeue for xfer during requeue
  crates/integration-tests/source-xfer.lua
  crates/integration-tests/src/test/xfer.rs
  crates/kumod/src/queue/insert_context.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/xfer/lua.rs
  crates/mod-time/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumo.xfer/xfer.md
  docs/reference/kumo.xfer/xfer_in_requeue.md
Due: build-rust, build-docs

integrate into existing tests
  crates/integration-tests/nats.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/nats.rs
Due: build-rust

set await_ack to true, return response
  crates/integration-tests/source.lua
  crates/mod-nats/src/lib.rs
  docs/reference/kumo.nats/publish.md
  docs/userguide/policy/nats.md
Due: build-rust, build-docs

update async-nats
  Cargo.lock
  Cargo.toml
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

Adjust docs based on code review
  docs/reference/kumo/get_memory_hard_limit.md
  docs/reference/kumo/get_memory_low_thresh.md
  docs/reference/kumo/get_memory_soft_limit.md
Due: build-docs

exposing memory config parameters
  crates/kumo-server-common/src/lib.rs
  crates/kumo-server-common/test_get_memory_limit.lua
  crates/kumo-server-memory/src/lib.rs
  docs/reference/kumo/get_memory_hard_limit.md
  docs/reference/kumo/get_memory_low_thresh.md
  docs/reference/kumo/get_memory_soft_limit.md
Due: build-rust, build-docs

docs: fix typo in the xfer injection endpoint docs
  crates/kumod/src/xfer/mod.rs
  docs/reference/http/kumod/api_xfer_inject_v1_post.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

docs: recurse into anyof elements in jsonschema
  crates/jsonschematodocs/src/main.rs
  crates/kumo-api-types/src/xfer.rs
  docs/reference/http/kumod/api_admin_xfer_v1_post.md
  docs/reference/http/kumod/schemas/XferProtocol.md
  docs/reference/http/kumod/schemas/XferV1Request.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

tsa: fixup json schema
  crates/tsa-daemon/src/http_server.rs
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

Add DeepWiki documentation badge with auto-refresh feature to README.md
  README.md
Due: none

docs: link to metrics index from http metrics endpoint docs
  crates/kumo-server-common/src/http_server/mod.rs
  docs/changelog/main.md
  docs/reference/http/kumod/metrics.json_get.md
  docs/reference/http/kumod/metrics_get.md
  docs/reference/kumod.openapi.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

cargo update
  Cargo.lock
Due: none

rustfmt
  crates/kumo-prometheus/src/lib.rs
  crates/lruttl/src/metrics.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
