Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

Update docs/userguide/integrations/grafana.md
  docs/userguide/integrations/grafana.md
Due: build-docs

Fix bash references and make links relative
  docs/userguide/integrations/grafana.md
  docs/userguide/integrations/hornetsecurity.md
  docs/userguide/integrations/prometheus.md
  docs/userguide/integrations/rspamd.md
Due: build-docs

More Integration modification (#443)
  docs/generate-toc.py
  docs/userguide/integrations/grafana.md
  docs/userguide/integrations/hornetsecurity.md
  docs/userguide/integrations/index.md
  docs/userguide/integrations/prometheus.md
  docs/userguide/integrations/rspamd.md
Due: build-docs

clean up links
  docs/userguide/integrations/mautic.md
Due: build-docs

fix markup
  docs/userguide/integrations/hornetsecurity.md
Due: build-docs

fix markup
  docs/userguide/integrations/mautic.md
Due: build-docs

Cleaning up Integration docs (#444)
  docs/userguide/integrations/hornetsecurity.md
  docs/userguide/integrations/mautic.md
Due: build-docs

Add hornetsecurity integration functions
  assets/policy-extras/hornet.lua
Due: build-rust

format with stylua
  assets/policy-extras/hornet.lua
Due: build-rust

typo
  assets/policy-extras/hornet.lua
Due: build-rust

make fmt
  crates/kumod/src/smtp_server.rs
Due: build-rust

dkim: remove stale files
  crates/dkim/.github/workflows/cargo.yml
  crates/dkim/CHANGELOG.md
Due: build-rust

docs: fixup issues with the integrations section
  docs/userguide/integrations/emailelement.md
  docs/userguide/integrations/grafana.md
  docs/userguide/integrations/hornetsecurity.md
  docs/userguide/integrations/mautic.md
  docs/userguide/integrations/ongage.md
  docs/userguide/integrations/prometheus.md
  docs/userguide/integrations/rspamd.md
Due: build-docs

dkim: extract header parsing guts to TaggedHeader struct
  crates/dkim/src/hash.rs
  crates/dkim/src/header.rs
  crates/dkim/src/sign.rs
Due: build-rust

dkim: refactor: rename HEADER to DKIM_SIGNATURE_HEADER_NAME
  crates/dkim/src/hash.rs
  crates/dkim/src/header.rs
  crates/dkim/src/lib.rs
  crates/dkim/src/sign.rs
Due: build-rust

dkim: add ARCMessageSignature type
  crates/dkim/src/header.rs
Due: build-rust

mailparsing: add ARCAuthenticationResults header type
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

dkim: fix subdomain checking issue
  crates/dkim/src/header.rs
  crates/dkim/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

dkim: refactor and improve some of the test logic
  Cargo.lock
  crates/dkim/Cargo.toml
  crates/dkim/src/lib.rs
  crates/dkim/src/roundtrip_test.rs
  crates/dkim/src/sign.rs
Due: build-rust

dkim: add ARCSealHeader type
  crates/dkim/src/header.rs
Due: build-rust

WIP: building out ARC processing
  crates/dkim/src/arc.rs
  crates/dkim/src/errors.rs
  crates/dkim/src/hash.rs
  crates/dkim/src/header.rs
  crates/dkim/src/lib.rs
  crates/dkim/src/sign.rs
  crates/dkim/test/arc-example-2.eml
  crates/dkim/test/arc-example.eml
  crates/dkim/test/keys/2022.txt
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

arc: we can now produce an arc seal
  crates/dkim/src/arc.rs
  crates/dkim/src/header.rs
  crates/dkim/src/roundtrip_test.rs
  crates/dkim/src/sign.rs
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

arc: we can now validate an arc chain
  crates/dkim/src/arc.rs
  crates/dkim/src/hash.rs
  crates/dkim/src/header.rs
  crates/dkim/src/lib.rs
  crates/dkim/src/sign.rs
Due: build-rust

arc: expose arc_seal and arc_verify methods to lua
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/arc.lua
  crates/integration-tests/src/test/arc.rs
  crates/integration-tests/src/test/mod.rs
  crates/message/src/dkim.rs
  crates/message/src/message.rs
  docs/changelog/main.md
  docs/reference/message/arc_seal.md
  docs/reference/message/arc_verify.md
Due: build-rust, build-docs

dkim: add integration test assertions for signing cache
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/message/test_dkim_cache.lua
Due: build-rust

dkim_(key|signer)_cache: enable thundering herd protection
  crates/message/src/dkim.rs
  crates/message/test_dkim_cache.lua
  docs/changelog/main.md
Due: build-rust, build-docs

lruttl: expose pre-defined cache info to the docs
  Cargo.lock
  crates/dns-resolver/src/lib.rs
  crates/kumo-server-common/src/http_server/auth.rs
  crates/kumod/src/egress_source.rs
  crates/kumod/src/main.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/lruttl/Cargo.toml
  crates/lruttl/src/lib.rs
  crates/message/src/dkim.rs
  crates/mod-filesystem/src/lib.rs
  crates/mta-sts/src/lib.rs
  crates/rfc5321/src/tls.rs
  docs/build.sh
  docs/reference/kumo.dkim/ed25519_signer.md
  docs/reference/kumo.dkim/rsa_sha256_signer.md
  docs/reference/kumo/set_lruttl_cache_capacity.md
  docs/reference/lruttl-caches.json
  mkdocs_macros.py
Due: build-rust, build-docs

add policy-extras.mail_auth module
  Cargo.lock
  assets/policy-extras/mail_auth.lua
  assets/policy-extras/policy_utils.lua
  crates/kumod/Cargo.toml
  crates/kumod/src/spf.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/Cargo.toml
  crates/message/src/message.rs
  crates/mod-dns-resolver/src/lib.rs
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.spf/check_host.md
  docs/reference/kumo.spf/check_msg.md
  docs/reference/message/arc_seal.md
  docs/reference/message/arc_verify.md
  docs/reference/message/dkim_verify.md
  docs/reference/policy-extras.mail_auth/_index.md
  docs/reference/policy-extras.mail_auth/check.md
  docs/reference/policy-extras.mail_auth/iprev.md
  docs/reference/policy-extras.mail_auth/iprev_msg.md
Due: build-rust, build-docs

address feedback
  crates/kumo-dmarc/src/lib.rs
Due: build-rust

Update crates/kumod/src/dmarc.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

switch to different dmarc prop
  crates/kumod/src/dmarc.rs
Due: build-rust

Allow temp/perm errors in dmarc (#441)
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

add proxy protocol integration test
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/proxy-source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/proxy_protocol.rs
Due: build-rust

change integration trace function name
  crates/integration-tests/src/kumod.rs
Due: build-rust

make fmt
  crates/integration-tests/src/kumod.rs
Due: build-rust

address.rs: add more context to invalid addresses when parsing fails
  crates/message/src/address.rs
Due: build-rust

logging: load meta before retrieving the recipient_list
  crates/kumod/src/logging/disposition.rs
Due: build-rust

docs: add breaking change note about RCPT TO 552 status
  docs/changelog/main.md
Due: build-docs

add a dmarc lua test, fix API
  assets/policy-extras/mail_auth.lua
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
