Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

mod-http: allow disabling certificate verification on the client
  crates/mod-http/src/lib.rs
  docs/reference/kumo.http/build_client.md
Due: build-rust, build-docs

feat: pre-define to_header substitution in HTTP injection API
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_inject_v1_post.md
Due: build-rust, build-docs

Removed extra whitespace diffs
  crates/kumod/src/http_server/inject_v1.rs
  docs/reference/http/kumod/api_inject_v1_post.md
Due: build-rust, build-docs

fix broken test on macOS
  crates/integration-tests/src/test/mod.rs
Due: build-rust

Update crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/lib.rs
Due: build-rust

refactor: move tag from mailparsing to nom_utils
  crates/mailparsing/src/rfc5322_parser.rs
  crates/nom-utils/src/lib.rs
Due: build-rust

refactor: extract nom_utils to its own crate
  Cargo.lock
  Cargo.toml
  crates/mailparsing/Cargo.toml
  crates/mailparsing/src/lib.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/nom-utils/Cargo.toml
  crates/nom-utils/src/lib.rs
Due: build-rust

introduce kumo-counter-series crate
  Cargo.lock
  Cargo.toml
  crates/kumo-counter-series/Cargo.toml
  crates/kumo-counter-series/src/lib.rs
Due: build-rust

deps: upgrade testcontainers
  Cargo.lock
  Cargo.toml
Due: none

Missing make fmt
  crates/kumod/src/logging/mod.rs
Due: build-rust

mailparsing: remove implicit lossy MimePart::to_message_string()
  crates/integration-tests/src/kumod.rs
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/mod_kumo.rs
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mailparsing/src/strings.rs
  crates/message/src/message.rs
  crates/message/test_legacy_jp_encodings.lua
  crates/mod-mimepart/src/mimepart.rs
Due: build-rust

mod-string: add ends_with, starts_with
  crates/mod-string/src/lib.rs
  crates/mod-string/test_ends_with.lua
  docs/changelog/main.md
  docs/reference/string/ends_with.md
  docs/reference/string/starts_with.md
Due: build-rust, build-docs

using rcgen to sign with intermediate cert, update unit test
  crates/integration-tests/src/test/tls_client_certificate.rs
Due: build-rust

address feedback
  Cargo.lock
  assets/policy-extras/mail_auth.lua
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

load intermediate cert (#496)
  crates/integration-tests/src/test/tls_client_certificate.rs
  crates/kumo-tls-helper/src/lib.rs
Due: build-rust

docs: changelog for #496
  docs/changelog/main.md
Due: build-docs

deps: update async-nats
  Cargo.lock
  Cargo.toml
Due: none

feat: pre-define to_header substitution in HTTP injection API
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
  docs/reference/http/kumod/schemas/Recipient.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

added recommendation
  crates/mod-filesystem/src/lib.rs
  docs/reference/kumo.fs/metadata_for_path.md
  docs/reference/kumo.fs/stat.md
Due: build-rust, build-docs

docs: restore and correct changelog for #496
  docs/changelog/main.md
Due: build-docs

queue helper: add invalidate_with_epoch option to queue_helper_data cache
  assets/policy-extras/queue.lua
  docs/changelog/main.md
Due: build-rust, build-docs

fixup parse_envelope_address for the postmaster@domain case
  crates/rfc5321/src/parser.rs
  crates/rfc5321/src/rfc5321.pest
Due: build-rust

remove stray debug logging
  crates/kumod/src/ready_queue.rs
Due: build-rust

log_hooks: add optional pre-filter function
  assets/policy-extras/log_hooks.lua
Due: build-rust

Add kumo-log-tailer crate
  Cargo.lock
  Cargo.toml
  crates/kumo-log-tailer/Cargo.toml
  crates/kumo-log-tailer/src/checkpoint.rs
  crates/kumo-log-tailer/src/decompress.rs
  crates/kumo-log-tailer/src/lib.rs
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
Due: build-rust

tailer: switch to new kumo-log-tailer backend
  Cargo.lock
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
  crates/tailer/Cargo.toml
  crates/tailer/src/main.rs
Due: build-rust

kumo-log-tailer: add lua bindings
  Cargo.lock
  crates/kumo-log-tailer/Cargo.toml
  crates/kumo-log-tailer/src/lib.rs
  crates/kumo-log-tailer/src/lua.rs
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
Due: build-rust

kumo-log-tailer: parse records as json before returning :batches()
  crates/kumo-log-tailer/src/lua.rs
  crates/kumo-log-tailer/src/tailer.rs
Due: build-rust

kumo-log-tailer: track file/line info in LogBatch
  crates/kumo-log-tailer/src/batch.rs
  crates/kumo-log-tailer/src/decompress.rs
  crates/kumo-log-tailer/src/lib.rs
  crates/kumo-log-tailer/src/lua.rs
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
  crates/tailer/src/main.rs
Due: build-rust

kumo-log-tailer: improve LogBatch
  crates/kumo-log-tailer/src/batch.rs
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
Due: build-rust

kumo-log-tailer: expand test coverage
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
Due: build-rust

kumo-log-tailer: store json values in batch rather than raw lines
  crates/kumo-log-tailer/Cargo.toml
  crates/kumo-log-tailer/src/batch.rs
  crates/kumo-log-tailer/src/lua.rs
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
  crates/tailer/src/main.rs
Due: build-rust

kumo-log-tailer: add filter capability
  crates/kumo-log-tailer/src/batch.rs
  crates/kumo-log-tailer/src/lua.rs
  crates/kumo-log-tailer/src/tailer.rs
Due: build-rust

kumo-log-tailer: rustfmt
  crates/kumo-log-tailer/tests/integration.rs
Due: build-rust

recommended changes
  crates/mod-filesystem/src/lib.rs
  docs/reference/kumo.fs/metadata_for_path.md
  docs/reference/kumo.fs/symlink_metadata_for_path.md
Due: build-rust, build-docs

kumo-log-tailer: expand tests
  crates/kumo-log-tailer/tests/integration.rs
Due: build-rust

log-tailer: make checkpointing explicit
  crates/kumo-log-tailer/src/batch.rs
  crates/kumo-log-tailer/src/lua.rs
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
  crates/tailer/src/main.rs
Due: build-rust

log-tailer: add multi-consumer mode
  crates/kumo-log-tailer/src/batch.rs
  crates/kumo-log-tailer/src/lib.rs
  crates/kumo-log-tailer/src/tailer.rs
  crates/kumo-log-tailer/tests/integration.rs
Due: build-rust

log-tailer: expose multi tailer to lua, add lua tests
  crates/kumo-log-tailer/Cargo.toml
  crates/kumo-log-tailer/src/lua.rs
  crates/kumo-log-tailer/tests/lua_integration.rs
Due: build-rust

log-tailer: make checkpoint writes atomic
  crates/kumo-log-tailer/Cargo.toml
  crates/kumo-log-tailer/src/batch.rs
  crates/kumo-log-tailer/src/checkpoint.rs
  crates/kumo-log-tailer/src/tailer.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
