Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

dkim: Fix remote DoS from crafted DKIM signatures during verification
  crates/dkim/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

kumo.fs: fix panic when glob uses absolute path with **
  Cargo.lock
  Cargo.toml
  crates/mod-filesystem/Cargo.toml
  crates/mod-filesystem/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: Preserve Content-Disposition headers on text parts during rebuild
  crates/mailparsing/src/mimepart.rs
  docs/changelog/main.md
Due: build-rust, build-docs

check_fix_conformance: Fix multipart corruption when adding headers
  crates/mailparsing/src/mimepart.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: Block header injection in Authentication-Results encoding
  crates/dkim/src/arc.rs
  crates/mailparsing/src/rfc5322_parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: Remove quadratic work for MIME headers with many parameters
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mta-sts: clamp max_age and guard against time addition overflow
  crates/mailexchanger/src/lib.rs
  crates/mta-sts/src/lib.rs
  crates/mta-sts/src/policy.rs
  docs/changelog/main.md
Due: build-rust, build-docs

smtp_server: fix quadratic CPU usage when normalizing line endings
  crates/kumod/src/smtp_server.rs
  crates/mailparsing/src/normalize.rs
  docs/changelog/main.md
Due: build-rust, build-docs

rfc3464: stop embedding full message in error context
  crates/kumo-log-types/src/rfc3464.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: Cap header count per block at 1000
  crates/mailparsing/src/header.rs
  docs/changelog/main.md
Due: build-rust, build-docs

smtp: fix line length checks for bare LF/CR when allowed
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/bare_lf_line_length.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: fix stack overflow on deeply nested header comments
  crates/mailparsing/src/rfc5322_parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

spool: reject non-v1 UUIDs when constructing a SpoolId
  crates/message/src/xfer.rs
  crates/spool/src/spool_id.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: bound MIME nesting depth to prevent stack overflow
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
  docs/changelog/main.md
  docs/reference/message/check_fix_conformance.md
Due: build-rust, build-docs

spf: fix silent incorrect matching for /0 and out-of-range CIDR lengths
  crates/kumo-spf/src/record.rs
  crates/kumo-spf/src/tests.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: prevent panic on messages with empty multipart boundary
  crates/integration-tests/src/kumod.rs
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/mod_kumo.rs
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/src/message.rs
  crates/mod-mimepart/src/mimepart.rs
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: Handle invalid multipart boundaries gracefully
  crates/kumo-log-types/src/rfc3464.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/mimepart.rs
  docs/changelog/main.md
  docs/reference/message/check_fix_conformance.md
Due: build-rust, build-docs

docs: prep for release
  docs/reference/kumo.jsonl/new_multi_tailer.md
  docs/reference/kumo.jsonl/new_tailer.md
  docs/reference/kumo.jsonl/new_writer.md
  docs/reference/kumo/configure_local_logs/max_record_size.md
  docs/reference/kumod-metrics.json
  docs/reference/message/check_fix_conformance.md
  docs/reference/metrics/kumod/log_record_dropped_too_large.md
Due: build-docs

docs: changelog for 2026.09.29-b90d8bc1
  docs/changelog/2026.09.29-b90d8bc1.md
  docs/changelog/main.md
Due: build-docs

mx: make site-name factoring lossless and canonical
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/mx-site-names.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mx_site_names.rs
  crates/kumo-api-types/src/shaping.rs
  crates/mailexchanger/src/lib.rs
  crates/mailexchanger/src/site_name.rs
  docs/reference/kumo.dns/lookup_mx.md
  docs/userguide/trafficshaping/scoping.md
Due: build-rust, build-docs

validate-bounces: test bounce class rules against sample input
  .github/workflows/bounce.yml
  Cargo.lock
  crates/validate-bounces/Cargo.toml
  crates/validate-bounces/sample_bounces.toml
  crates/validate-bounces/src/main.rs
Due: build-rust

run bounce validation workflow when the bounce validation tool itself changes
  .github/workflows/bounce.yml
Due: none

review feedback: non-breaking cli change, separate sample file struct
  Cargo.lock
  crates/validate-bounces/Cargo.toml
  crates/validate-bounces/src/main.rs
Due: build-rust

dns: preserve address lookup failures and partial-family recovery
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/source-mxlist.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mx_list_dns_failure.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/reference/kumo.dns/lookup_addr.md
  docs/reference/kumo/make_queue_config/protocol.md
Due: build-rust, build-docs

ahem - fix bounce check workflow step
  .github/workflows/bounce.yml
  crates/validate-bounces/src/main.rs
Due: build-rust

smtp: clear TLS metadata when opening a new connection
  crates/integration-tests/src/test/tls_handshake_failure.rs
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

smtp: move OpportunisticInsecure fallback to a fresh connection
  Cargo.lock
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/tls_handshake_failure.rs
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-tls-helper/Cargo.toml
  crates/kumo-tls-helper/src/traits.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/Cargo.toml
  crates/rfc5321/src/client.rs
  docs/reference/kumo/make_egress_path/enable_tls.md
  docs/reference/kumo/make_egress_path/opportunistic_tls_reconnect_on_failed_handshake.md
  docs/reference/kumo/make_egress_path/remember_broken_tls.md
Due: build-rust, build-docs

smtp: advance past TLS-required implicit plaintext retries
  crates/integration-tests/src/test/tls_handshake_failure.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/reference/kumo/make_egress_path/enable_tls.md
  docs/reference/kumo/make_egress_path/opportunistic_tls_reconnect_on_failed_handshake.md
Due: build-rust, build-docs

fix bounce classes containing parens && cargo fmt
  assets/community/bounces.toml
  crates/validate-bounces/src/main.rs
Due: build-rust

smtp: preserve required and disabled TLS modes for MTA-STS testing
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/mta-sts.lua
  crates/integration-tests/src/test/mta_sts_enforce.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/reference/kumo/make_egress_path/enable_mta_sts.md
  docs/reference/kumo/make_egress_path/enable_tls.md
Due: build-rust, build-docs

validate the sample bounce file
  Cargo.lock
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/client_types.rs
  crates/validate-bounces/Cargo.toml
  crates/validate-bounces/sample_bounces.toml
  crates/validate-bounces/src/main.rs
Due: build-rust

kumo-jsonl: advance checkpoints for consumers whose filter drops records
  crates/kumo-jsonl/src/tailer.rs
  crates/kumo-jsonl/tests/integration.rs
Due: build-rust

logging: expose log consumer backlog as metrics
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/src/test/log_consumer_backlog.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-jsonl/src/backlog.rs
  crates/kumo-jsonl/src/checkpoint.rs
  crates/kumo-jsonl/src/lib.rs
  crates/kumo-jsonl/src/registry.rs
  crates/kumo-jsonl/src/tailer.rs
  crates/kumo-jsonl/src/writer.rs
  crates/kumo-jsonl/tests/backlog.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/kumo-server-common/src/log_backlog.rs
  crates/kumo-server-common/src/start.rs
  crates/kumo-server-common/tests/log_backlog.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/logging/mod.rs
  docs/changelog/main.md
  docs/reference/kumo.jsonl/new_writer.md
  docs/reference/kumo/configure_local_logs/log_dir.md
  docs/reference/kumod-metrics.json
  docs/reference/metrics/kumod/log_consumer_bytes_behind.md
  docs/reference/metrics/kumod/log_consumer_lag_seconds.md
  docs/reference/metrics/kumod/log_consumer_segments_behind.md
  docs/reference/metrics/proxy-server/log_consumer_bytes_behind.md
  docs/reference/metrics/proxy-server/log_consumer_lag_seconds.md
  docs/reference/metrics/proxy-server/log_consumer_segments_behind.md
  docs/reference/proxy-server-metrics.json
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

mx: clarify site-name factoring and upgrade behavior
  crates/integration-tests/mx-site-names.lua
  crates/integration-tests/src/test/mx_site_names.rs
  crates/mailexchanger/src/site_name.rs
  docs/changelog/main.md
  docs/reference/kumo.dns/lookup_mx.md
  docs/reference/queues.md
  docs/userguide/trafficshaping/scoping.md
Due: build-rust, build-docs

inject_v1: bypass template engine for static headers
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

template: add reusable TemplateContext to avoid repeated context wrapping
  crates/kumo-template/src/lib.rs
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

kumod: fully drop all UIDs/GIDs so root cannot be recovered
  crates/kumod/src/main.rs
  crates/kumod/test-privdrop.sh
  docs/changelog/main.md
Due: build-rust, build-docs

systemd: Run kumod directly as non-root user with ambient capabilities
  assets/kumomta.service
  docs/changelog/main.md
  docs/userguide/installation/security.md
  docs/userguide/policy/hashicorp_vault.md
Due: build-rust, build-docs

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
