Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

dns-resolver: standardize on Name::from_str_relaxed
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
Due: build-rust

rspamd: add native integration with file header support
  Cargo.lock
  assets/policy-extras/rspamd.lua
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/README.md
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

rspamd: add milter protocol support for header modifications
  assets/policy-extras/rspamd.lua
  examples/rspamd-integration.lua
Due: build-rust

add rust-toolchain.toml
  rust-toolchain.toml
Due: none

rspamd: add body rewriting support (rspamd-client 0.4.0)
  Cargo.lock
  assets/policy-extras/rspamd.lua
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

kcli provider-summary: dedup domains in domains list
  Cargo.lock
  Cargo.toml
  crates/kcli/Cargo.toml
  crates/kcli/src/provider_summary.rs
Due: build-rust

dns: utilities and plumbing for querying DNSBLs
  Cargo.lock
  assets/policy-extras/policy_utils.lua
  crates/dkim/src/lib.rs
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-spf/src/spec.rs
  crates/kumo-spf/src/tests.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mod-dns-resolver/Cargo.toml
  crates/mod-dns-resolver/src/lib.rs
  crates/mod-dns-resolver/test-define-resolver.lua
  crates/mod-dns-resolver/test-rbl.lua
  crates/mod-dns-resolver/test-resolver-setup.lua
  docs/changelog/main.md
  docs/reference/kumo.dns/define_resolver.md
  docs/reference/kumo.dns/lookup_addr.md
  docs/reference/kumo.dns/lookup_ptr.md
  docs/reference/kumo.dns/lookup_txt.md
  docs/reference/kumo.dns/ptr_host.md
  docs/reference/kumo.dns/rbl_lookup.md
  docs/reference/kumo.dns/reverse_ip.md
Due: build-rust, build-docs

spf: avoid wrong kind of json -> string conversion
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/spf.rs
Due: build-rust

docs: remove extraneous quotes
  docs/reference/kumo/start_esmtp_listener/batch_handling.md
Due: build-docs

docs: recip needs to be an array in this example
  docs/reference/events/smtp_server_split_transaction.md
Due: build-docs

docs: add splitting step to event sequence diagram
  docs/reference/smtp_server_events.md
Due: build-docs

mod-rspamd: address code review feedback
  Cargo.lock
  assets/policy-extras/rspamd.lua
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

mod-rspamd: add simplified scan_message API
  Cargo.lock
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

mod-rspamd: add integration tests with testcontainers
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/rspamd.rs
Due: build-rust

rspamd: improve integration test reliability
  crates/integration-tests/src/rspamd.rs
Due: build-rust

rspamd: use stronger types for config validation
  Cargo.lock
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

rspamd: refactor to use smtp_server_data for per-batch scanning
  assets/policy-extras/rspamd.lua
  crates/integration-tests/src/rspamd.rs
  examples/rspamd-integration.lua
Due: build-rust

rspamd: add per-recipient threshold pattern documentation
  assets/policy-extras/rspamd.lua
  crates/integration-tests/src/rspamd.rs
  examples/rspamd-integration.lua
Due: build-rust

rspamd: implement config validation with --validate integration
  assets/policy-extras/rspamd.lua
Due: build-rust

spf: improve test coverage, couple of fixes
  crates/integration-tests/spf-basic.lua
  crates/integration-tests/src/test/spf_basic.rs
  crates/kumo-spf/src/spec.rs
  crates/kumo-spf/src/tests.rs
  crates/kumod/src/spf.rs
  docs/changelog/main.md
Due: build-rust, build-docs

dmarc: adjust pct test
  crates/kumo-dmarc/src/tests.rs
Due: build-rust

smtp_server: increase line_length_hard_limit default to 1000
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
  docs/reference/kumo/start_esmtp_listener/line_length_hard_limit.md
Due: build-rust, build-docs

smtp_server: fix max_line_length issue
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/max_line_length.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Fix Rspamd integration and SMTP server header handling
  crates/integration-tests/rspamd.lua
  crates/integration-tests/src/rspamd.rs
  crates/kumod/src/smtp_server.rs
  crates/mod-rspamd/src/lib.rs
Due: build-rust

mailparsing: fix quoting issue with Mailbox display name
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/header.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/mod-mimepart/test_headermap.lua
  docs/changelog/main.md
Due: build-rust, build-docs

add smtp_server_rejections counter to metrics
  crates/kumod/src/metrics_helper.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
Due: build-rust, build-docs

smtp_server: fixup data content
  crates/kumod/src/smtp_server.rs
Due: build-rust

Revert smtp_server.rs changes after merge with origin/main
  crates/kumod/src/smtp_server.rs
Due: build-rust

Add psl to dmarc relaxed checks
  Cargo.lock
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

mod-rspamd: implement zero-copy message scanning
  Cargo.lock
  crates/mod-rspamd/Cargo.toml
  crates/mod-rspamd/src/lib.rs
Due: build-rust

Move dmarc tests to use struct
  crates/kumo-dmarc/src/tests.rs
Due: build-rust

Add link.
  docs/userguide/integrations/emailelement.md
Due: build-docs

Add EmailElement to Integrations section of UserGuide.
  docs/assets/images/EmailElement.png
  docs/userguide/integrations/emailelement.md
Due: build-docs

Typo fix.
  docs/userguide/integrations/index.md
Due: build-docs

fix incorrectly treating 552 as TransientFailure
  crates/rfc5321/src/client_types.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Add dmarc p/sp support
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust
