Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

smtp_dispatcher: fix interpretation of 452 for single-recip messages
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/src/test/maildir_batch_452.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client_types.rs
Due: build-rust

add a dmarc lua test, fix API
  assets/policy-extras/mail_auth.lua
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

smtp_dispatcher: handle pathologic all-452 case
  assets/bounce_classifier/iana.toml
  crates/bounce-classify/src/lib.rs
  crates/integration-tests/src/test/maildir_batch.rs
  crates/integration-tests/src/test/maildir_batch_452.rs
  crates/kumod/src/logging/classify.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/rfc5321/src/client_types.rs
  crates/rfc5321/src/parser.rs
  docs/reference/kumo/configure_bounce_classifier.md
Due: build-rust, build-docs

mod_nats: integrate nats
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

smtp_dispatcher: remove stray debug
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

add some rules and divide other rules into appropriate labels
  assets/community/bounces.toml
Due: none

templates: prepare to support multiple dialects of templates
  Cargo.lock
  Cargo.toml
  crates/kumo-template/Cargo.toml
  crates/kumo-template/src/lib.rs
  crates/kumod/src/logging/files.rs
  crates/kumod/src/logging/hooks.rs
  crates/kumod/src/queue/queue.rs
Due: build-rust

template: add optional dialect argument to kumo.string.eval_template
  crates/kumo-template/src/lib.rs
  crates/mod-string/src/lib.rs
  crates/mod-string/test-template.lua
Due: build-rust

template: add Static engine
  crates/kumo-template/src/lib.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/mod-string/test-template.lua
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

templates: add Handlebars dialect
  Cargo.lock
  crates/kumo-template/Cargo.toml
  crates/kumo-template/src/lib.rs
  crates/kumo-template/test-handlebars.lua
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/logging/files.rs
  crates/kumod/src/logging/hooks.rs
  crates/mod-string/test-template.lua
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

docs: changelog for normalize_smtp_response
  docs/changelog/main.md
Due: build-docs

docs: migrate userguide amqp example to basic_publish
  docs/userguide/policy/amqp.md
Due: build-docs

#419 - Add authentication switches to traffic-gen + docs
  crates/traffic-gen/src/main.rs
  docs/userguide/performance/testing.md
Due: build-rust, build-docs

prohibited_hosts: add v4 and v6 any address
  crates/cidr-map/src/set.rs
  crates/kumo-api-types/src/shaping.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/prohibited_hosts.md
Due: build-rust, build-docs

message: ensure all data-loading methods are async and load data
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/rebind_event_defined.rs
  crates/kumod/src/dmarc.rs
  crates/kumod/src/http_server/admin_inspect_message.rs
  crates/kumod/src/http_server/admin_inspect_scheduled_queue.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/logging/disposition.rs
  crates/kumod/src/logging/mod.rs
  crates/kumod/src/mod_kumo.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/message/src/message.rs
  crates/message/src/xfer.rs
Due: build-rust

Address review comments
  assets/policy-extras/rspamd.lua
  crates/integration-tests/rspamd.lua
  crates/integration-tests/src/rspamd.rs
  crates/kumo-template/src/lib.rs
  crates/mod-rspamd/README.md
  crates/mod-rspamd/src/lib.rs
  examples/rspamd-integration.lua
Due: build-rust

#419 - simplify SMTP auth flow
  crates/traffic-gen/src/main.rs
Due: build-rust

#419 - updated auth documentation for SMTP/HTTP
  docs/userguide/performance/testing.md
Due: build-docs

move trace server creation to KumoDaemon, add wait on tracer and remove some irrelevant configs
  crates/integration-tests/proxy-source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/proxy_protocol.rs
Due: build-rust

response normalizer: allow seeing into parentheticals
  Cargo.lock
  crates/mod-smtp-response-normalize/Cargo.toml
  crates/mod-smtp-response-normalize/benches/normalizer.rs
  crates/mod-smtp-response-normalize/src/lib.rs
Due: build-rust

smtp_dispatcher: fix reverse order for mx_list
  Makefile
  crates/dns-resolver/src/lib.rs
  crates/integration-tests/source.lua
  crates/integration-tests/src/test/disconnect_in_data.rs
  crates/integration-tests/src/test/disconnect_terminate_ok.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Expose version number to lua via kumo.version
  crates/kumo-server-common/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumo/version.md
Due: build-rust, build-docs

mod-digest: switch from ring::digest to aws-lc-rs::digest
  Cargo.lock
  crates/mod-digest/Cargo.toml
  crates/mod-digest/src/lib.rs
  crates/mod-digest/test.lua
  docs/changelog/main.md
  docs/reference/kumo.digest/sha224.md
  docs/reference/kumo.digest/sha3_256.md
  docs/reference/kumo.digest/sha3_384.md
  docs/reference/kumo.digest/sha3_512.md
Due: build-rust, build-docs

kumo.digest: add various HMAC_SHAXXX functions
  Cargo.lock
  crates/mod-digest/Cargo.toml
  crates/mod-digest/src/lib.rs
  crates/mod-digest/test.lua
  docs/changelog/main.md
  docs/reference/kumo.digest/hmac_sha1.md
  docs/reference/kumo.digest/hmac_sha224.md
  docs/reference/kumo.digest/hmac_sha256.md
  docs/reference/kumo.digest/hmac_sha384.md
  docs/reference/kumo.digest/hmac_sha512.md
Due: build-rust, build-docs

Add support for proxy protocol (#440)
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/proxy-source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/proxy_protocol.rs
  crates/kumod/src/smtp_server.rs
Due: build-rust

docs and changelog for require_proxy_protocol #440
  docs/changelog/main.md
  docs/reference/kumo/start_esmtp_listener/require_proxy_protocol.md
Due: build-docs

#419 - simplify SMTP auth flow, second iteration
  crates/traffic-gen/src/main.rs
Due: build-rust

add kumo.invoke_get_egress_(pool|source)
  crates/kumod/src/egress_source.rs
  crates/kumod/src/mod_kumo.rs
  docs/reference/kumo/invoke_get_egress_path_config.md
  docs/reference/kumo/invoke_get_egress_pool.md
  docs/reference/kumo/invoke_get_egress_source.md
  docs/reference/kumo/invoke_get_queue_config.md
Due: build-rust, build-docs

Apply suggestions from code review
  crates/mod-nats/src/lib.rs
Due: build-rust

try blacksmith's runners for the main kumo build
  .github/workflows/kumomta.yml
Due: none

Apply suggestions from code review
  .github/workflows/builder-images.yml
Due: none

optional date based log directory sharding
  crates/kumod/src/logging/files.rs
  crates/kumod/src/logging/mod.rs
  docs/reference/kumo/configure_local_logs/log_dir.md
  docs/reference/kumo/configure_local_logs/log_dir_timezone.md
  docs/reference/kumo/configure_local_logs/per_record.md
  docs/userguide/configuration/logging.md
  docs/userguide/operation/logs.md
Due: build-rust, build-docs

mod_nats: retrieve credentials from keysource
  Cargo.lock
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

rfc5321: improve error message formatting
  crates/rfc5321/src/client.rs
Due: build-rust

mod_nats: add integration tests
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/nats.lua
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/nats.rs
Due: build-rust

mod_nats: configure credentials individually
  Cargo.lock
  crates/integration-tests/nats.lua
  crates/mod-nats/Cargo.toml
  crates/mod-nats/src/lib.rs
Due: build-rust

CI: try out automatic mirroring to codeberg
  .github/workflows/mirror.yml
Due: none
