Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

Fixing lint issues
  crates/kumod/src/egress_source.rs
Due: build-rust

fixing another lint issue
  crates/kumod/src/egress_source.rs
  crates/lruttl/src/lib.rs
  crates/rfc5321/src/client.rs
Due: build-rust

reverse lint fix
  crates/lruttl/src/lib.rs
  crates/rfc5321/src/client.rs
Due: build-rust

Fixing Lua lint issues
  assets/policy-extras/sources.lua
Due: build-rust

audit series using kumo-counter-series
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-audit-series/Cargo.toml
  crates/mod-audit-series/src/lib.rs
  crates/mod-audit-series/test.lua
  docs/reference/kumo.audit_series/_index.md
  docs/reference/kumo.audit_series/define.md
  docs/reference/kumo.audit_series/delta.md
  docs/reference/kumo.audit_series/increment.md
  docs/reference/kumo.audit_series/sum.md
  docs/reference/kumo.audit_series/sum_over.md
Due: build-rust, build-docs

proxy-server: add passthru_idle_timeout to prevent FD exhaustion from black-holed peers
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/reference/proxy/start_proxy_listener/passthru_idle_timeout.md
Due: build-rust, build-docs

enrich props for dkim and dmarc
  crates/dkim/src/lib.rs
  crates/dkim/src/roundtrip_test.rs
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

rebase miss
  crates/dkim/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

mail_auth, you can not disable specific module
  assets/policy-extras/typing.lua
Due: build-rust

docs: update for the 2026.04.09-ea3b2a9b release
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/2026.04.09-ea3b2a9b.md
  docs/changelog/main.md
  docs/reference/address/user.md
  docs/reference/addressheader/list.md
  docs/reference/addressheader/user.md
  docs/reference/http/kumod/api_admin_task_dump_get.md
  docs/reference/http/kumod/schemas/Recipient.md
  docs/reference/http/proxy-server/api_admin_task_dump_get.md
  docs/reference/kumo.dns/lookup_addr.md
  docs/reference/kumo.encode/charset_decode.md
  docs/reference/kumo.encode/charset_encode.md
  docs/reference/kumo.fs/metadata_for_path.md
  docs/reference/kumo.fs/symlink_metadata_for_path.md
  docs/reference/kumo.jsonl/LogBatch.md
  docs/reference/kumo.jsonl/_index.md
  docs/reference/kumo.jsonl/new_multi_tailer.md
  docs/reference/kumo.jsonl/new_tailer.md
  docs/reference/kumo.jsonl/new_writer.md
  docs/reference/kumo/make_egress_path/ip_lookup_strategy.md
  docs/reference/kumod.openapi.json
  docs/reference/message/get_first_named_header_value.md
  docs/reference/proxy-server.openapi.json
  docs/reference/string/ends_with.md
  docs/reference/string/starts_with.md
  docs/reference/tsa-daemon.openapi.json
Due: build-rust, build-docs

Start of DMARC reporting
  Cargo.lock
  Cargo.toml
  assets/policy-extras/mail_auth.lua
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/date_range.rs
  crates/kumo-dmarc/src/types/feedback.rs
  crates/kumo-dmarc/src/types/identifier.rs
  crates/kumo-dmarc/src/types/mode.rs
  crates/kumo-dmarc/src/types/policy.rs
  crates/kumo-dmarc/src/types/policy_override.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/report_failure.rs
  crates/kumo-dmarc/src/types/report_metadata.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-server-runtime/Cargo.toml
  crates/kumo-spf/Cargo.toml
  crates/kumo-spf/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

update rust requirement to 1.94
  rust-toolchain.toml
Due: none

update uuid dep
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/src/nodeid.rs
  crates/spool/src/spool_id.rs
Due: build-rust

revert rust compiler bump!
  rust-toolchain.toml
Due: none

multipart/mixed > multipart/related was not parsing
  crates/mailparsing/src/mimepart.rs
  docs/changelog/main.md
Due: build-rust, build-docs

typing.lua boolean-true default prevents mail_auth modules from being disabled
  assets/policy-extras/typing.lua
  docs/changelog/main.md
Due: build-rust, build-docs

make sure trailing semicolon does not cause parsing failure
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

dmarc to confirm alignment for both dkim and spf
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

fix alignment bug
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/tests.rs
Due: build-rust

Start of DMARC reporting
  crates/kumo-spf/src/lib.rs
Due: build-rust

type miss match
  crates/kumod/src/dmarc.rs
Due: build-rust

ported over changes in dmarc branch
  crates/dkim/src/lib.rs
  crates/dkim/src/roundtrip_test.rs
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/tests.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

Preserve proxy splice while reaping black-holed TCP peers
  Cargo.lock
  Cargo.toml
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/changelog/main.md
  docs/reference/proxy/start_proxy_listener/passthru_idle_timeout.md
Due: build-rust, build-docs

bug fix
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

make_message fails for from address which starts with postmaster
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/parser.rs
Due: build-rust

psl::domain_str only works if input is lowercase
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

Added support of providing static per-recipient metadata that is accessible in Lua hooks using msg:get_meta(`rcpt_meta`)
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
  docs/reference/http/kumod/schemas/Recipient.md
Due: build-rust, build-docs

option to choose the first named header
  crates/message/src/message.rs
  crates/message/test_import_x_headers.lua
  docs/reference/message/import_x_headers.md
Due: build-rust, build-docs

optimized code for setting value of rcpt_meta
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

Added integration tests
  crates/integration-tests/source-rcpt-meta.lua
  crates/integration-tests/src/test/http_inject_rcpt_meta.rs
  crates/integration-tests/src/test/mod.rs
Due: build-rust

rfc5321: fix doc test
  crates/rfc5321/src/client.rs
Due: build-rust

Fixed formatting
  crates/integration-tests/source-rcpt-meta.lua
  crates/integration-tests/src/test/http_inject_rcpt_meta.rs
  crates/kumod/src/http_server/inject_v1.rs
Due: build-rust

make_message fails for from address which starts with postmaster
  crates/rfc5321/src/parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

minor fix to doc test in nom-utils
  crates/nom-utils/src/lib.rs
Due: build-rust

Fix EnvelopeAddress::parse("")
  crates/rfc5321/src/parser.rs
  docs/changelog/main.md
Due: build-rust, build-docs

fix(smtp): query DANE against target MX host instead of routing domain
  crates/kumod/src/smtp_dispatcher.rs
Due: build-rust

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
