Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

spf: check HELO identity when MAIL FROM is null
  crates/kumo-spf/src/lib.rs
  crates/kumo-spf/src/tests.rs
Due: build-rust

dmarc: pass when either DKIM or SPF aligns, ignore non-pass results
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

enrich props for dkim and dmarc
  crates/dkim/src/lib.rs
  crates/dkim/src/roundtrip_test.rs
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

dmarc: fix alignment evaluation passing unauthenticated mail
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/record.rs
Due: build-rust

psl: normalize domains before psl::domain_str / suffix_str lookups
  Cargo.lock
  Cargo.toml
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/mod-string/Cargo.toml
  crates/mod-string/src/lib.rs
  crates/psl-utils/Cargo.toml
  crates/psl-utils/src/lib.rs
Due: build-rust

message: add msg:import_headers, a flexible alternative to import_x_headers
  crates/message/src/message.rs
  docs/changelog/main.md
  docs/reference/message/import_headers.md
  docs/reference/message/import_x_headers.md
Due: build-rust, build-docs

proxy-server: add tcp_keepalive option
  Cargo.lock
  Cargo.toml
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/changelog/main.md
  docs/reference/proxy/start_proxy_listener/tcp_keepalive.md
Due: build-rust, build-docs

cargo update
  Cargo.lock
  Cargo.toml
Due: none

ci: docker: only tag :latest on release tag pushes
  .github/workflows/kumomta.yml
  .github/workflows/reusable-kumomta-build.yml
Due: none

proxy: keepalive will work on macos and other unix too
  crates/proxy-server/src/mod_proxy.rs
  docs/reference/proxy/start_proxy_listener/tcp_keepalive.md
Due: build-rust, build-docs

deps: update rust-openssl
  Cargo.lock
  Cargo.toml
Due: none

mod-http: allow disabling certificate verification on the client
  crates/mod-http/src/lib.rs
  docs/reference/kumo.http/build_client.md
Due: build-rust, build-docs

docs: changelog for #504
  docs/changelog/main.md
Due: build-docs

docs: fmt examples in import_headers.md
  docs/reference/message/import_headers.md
Due: build-docs

lua counter series using kumo-counter-series
  Cargo.lock
  Cargo.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-counter-series/Cargo.toml
  crates/mod-counter-series/src/lib.rs
  crates/mod-counter-series/test.lua
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/kumo.counter_series/_index.md
  docs/reference/kumo.counter_series/define.md
  docs/reference/kumo.counter_series/delta.md
  docs/reference/kumo.counter_series/increment.md
  docs/reference/kumo.counter_series/observe.md
  docs/reference/kumo.counter_series/sum.md
  docs/reference/kumo.counter_series/sum_over.md
Due: build-rust, build-docs

Allow disposition hook helpers to pass log parameters
  assets/policy-extras/log_hooks.lua
Due: build-rust

Document disposition log hooks
  docs/reference/kumo/configure_log_disposition_hook.md
  docs/reference/kumo/configure_log_hook.md
  docs/userguide/operation/webhooks.md
Due: build-docs

Satisfy nightly rustfmt
  crates/mod-counter-series/src/lib.rs
Due: build-rust

Mark disposition log hook availability
  docs/reference/kumo/configure_log_disposition_hook.md
Due: build-docs

Stabilize mx list refresh delivery snapshot
  crates/integration-tests/src/test/mx_list_refresh.rs
Due: build-rust

Report matched TSA automation regex in reasons
  crates/kumo-api-types/src/shaping.rs
  crates/mod-counter-series/src/lib.rs
  crates/tsa-daemon/src/http_server.rs
  crates/tsa-daemon/src/state.rs
Due: build-rust

http injection: allow static per-recipient metadata
  crates/integration-tests/source-per-rcpt-metadata.lua
  crates/integration-tests/src/test/http_inject_per_rcpt_metadata.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-api-client/src/lib.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/inject_v1.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_inject_v1_post.md
  docs/reference/http/kumod/schemas/InjectV1Request.md
  docs/reference/http/kumod/schemas/Recipient.md
  docs/reference/kumod.openapi.json
  docs/reference/metadata.md
Due: build-rust, build-docs

docs: suggest folks prefix their metadata names
  docs/changelog/main.md
  docs/reference/connectionmeta.md
  docs/reference/kumo/configure_local_logs/meta.md
  docs/reference/message/set_meta.md
  docs/reference/metadata.md
Due: build-docs

rustfmt
  crates/integration-tests/src/test/http_inject_per_rcpt_metadata.rs
  crates/mod-counter-series/src/lib.rs
Due: build-rust

fix(mod-aws-sigv4): apply Trimall, require host header, fix S3 content-sha256
  crates/mod-aws-sigv4/src/lib.rs
  crates/mod-aws-sigv4/test.lua
Due: build-rust

add custom resolver to lookup_mx
  crates/dns-resolver/src/lib.rs
  crates/mod-dns-resolver/src/lib.rs
  docs/reference/kumo.dns/lookup_mx.md
Due: build-rust, build-docs

Added support for specifying a custom_filter in shaping helper enabling filtering of log records before cpu heavy regex match
  assets/policy-extras/shaping.lua
  docs/changelog/main.md
Due: build-rust, build-docs

corrected order of changelog entry
  docs/changelog/main.md
Due: build-docs

added hook_name parameter in custom_filter
  assets/policy-extras/shaping.lua
Due: build-rust

docs: update for 2026.05.12-a6845223 release
  docs/changelog/2026.05.12-a6845223.md
  docs/changelog/main.md
  docs/reference/kumo.counter_series/_index.md
  docs/reference/kumo.counter_series/define.md
  docs/reference/kumo.counter_series/delta.md
  docs/reference/kumo.counter_series/increment.md
  docs/reference/kumo.counter_series/observe.md
  docs/reference/kumo.counter_series/sum.md
  docs/reference/kumo.counter_series/sum_over.md
  docs/reference/kumo.http/build_client.md
  docs/reference/message/import_headers.md
  docs/reference/metadata.md
Due: build-docs

fix: skip queue hook ordering validation when disabled
  assets/policy-extras/queue.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/queue_skip_validation.rs
Due: build-rust

kumo-jsonl: make tailer more tolerant of errors
  Cargo.lock
  crates/kumo-jsonl/Cargo.toml
  crates/kumo-jsonl/src/tailer.rs
  crates/kumo-jsonl/tests/integration.rs
  docs/changelog/main.md
Due: build-rust, build-docs

fix regression in serializing original_message in ARF
  Cargo.lock
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
  crates/mailparsing/src/mimepart.rs
  crates/mod-mimepart/Cargo.toml
  crates/mod-mimepart/src/headers.rs
  docs/changelog/main.md
  docs/reference/log_record.md
Due: build-rust, build-docs

fix(mod-aws-sigv4): apply Trimall, require host header, fix S3 content-sha256
  Cargo.lock
  crates/mod-aws-sigv4/Cargo.toml
  crates/mod-aws-sigv4/src/lib.rs
  crates/mod-aws-sigv4/test.lua
  docs/changelog/main.md
Due: build-rust, build-docs

fix flakey mx_list_refresh test
  crates/integration-tests/src/test/mx_list_refresh.rs
Due: build-rust

Updated more provider support. web.de and gmx.net are same provider. Added icloud/apple provider and some others.
  assets/community/shaping.toml
Due: none

Fixed the regex with IP for apple provider with single quote x3
  assets/community/shaping.toml
Due: none

Removed the optional custom_filter and added option to pass custom uninteresting_log_record_types
  assets/policy-extras/shaping.lua
  docs/changelog/main.md
Due: build-rust, build-docs

Allow configuring which records TSA skips
  Cargo.lock
  assets/policy-extras/shaping.lua
  crates/integration-tests/Cargo.toml
  crates/integration-tests/shaping.toml
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/tsa_skip_record_types.rs
  crates/integration-tests/tsa_source_skip_delivery.lua
  crates/kumo-api-types/src/lib.rs
  docs/changelog/main.md
Due: build-rust, build-docs

fix punycode normalization for STARTTLS
  crates/integration-tests/source-idna.lua
  crates/integration-tests/src/test/idna_starttls.rs
  crates/integration-tests/src/test/mod.rs
  crates/rfc5321/src/client.rs
  docs/changelog/main.md
Due: build-rust, build-docs
