Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

docs: mail_auth: dmarc is implemented and available
  docs/reference/policy-extras.mail_auth/check.md
Due: build-docs

add some rules and divide other rules into appropriate labels
  assets/community/bounces.toml
Due: none

fix: address PR review feedback for proxy auth
  Cargo.lock
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/proxy_auth.lua
  crates/integration-tests/proxy_with_auth.lua
  crates/integration-tests/source_with_proxy.lua
  crates/integration-tests/src/kumoproxy.rs
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/test/proxy_basic.rs
  crates/kumo-tls-helper/src/lib.rs
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
Due: build-rust

wip
  Cargo.lock
  assets/policy-extras/mail_auth.lua
  crates/kumo-dmarc/Cargo.toml
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/date_range.rs
  crates/kumo-dmarc/src/types/feedback.rs
  crates/kumo-dmarc/src/types/mode.rs
  crates/kumo-dmarc/src/types/policy.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/report_failure.rs
  crates/kumo-dmarc/src/types/report_metadata.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

wire in reporting functions
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

Formatting
  assets/policy-extras/mail_auth.lua
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/policy_published.rs
  crates/kumo-dmarc/src/types/record.rs
  crates/kumo-dmarc/src/types/report_failure.rs
Due: build-rust

spf: fix a potential panic if spf record contains U+200B
  crates/kumo-spf/src/record.rs
  docs/changelog/main.md
Due: build-rust, build-docs

update to latest wip
  crates/kumo-dmarc/src/lib.rs
  crates/kumo-dmarc/src/tests.rs
  crates/kumo-dmarc/src/types/identifier.rs
  crates/kumo-dmarc/src/types/results.rs
  crates/kumo-spf/src/lib.rs
  crates/kumod/src/dmarc.rs
Due: build-rust

templates: enable recursive lookup for Handlebars
  Cargo.lock
  Cargo.toml
  crates/kumo-template/src/lib.rs
  crates/kumo-template/test-handlebars.lua
  docs/changelog/main.md
Due: build-rust, build-docs

mailparsing: improve charset detection/conformance fixing
  Cargo.lock
  Cargo.toml
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/Cargo.toml
  crates/mailparsing/src/error.rs
  crates/mailparsing/src/mimepart.rs
  crates/mailparsing/src/rfc5322_parser.rs
  crates/message/Cargo.toml
  crates/message/src/message.rs
  crates/mod-mimepart/src/mimepart.rs
  docs/changelog/main.md
Due: build-rust, build-docs

refactor(mod-http): use strongly-typed SigV4Request for aws_sign_v4
  Cargo.lock
  crates/mod-aws-sigv4/Cargo.toml
  crates/mod-aws-sigv4/src/lib.rs
  crates/mod-http/Cargo.toml
  crates/mod-http/src/lib.rs
Due: build-rust

fix: log errors raised during should_enqueue_log_record
  crates/kumod/src/logging/hooks.rs
  docs/changelog/main.md
Due: build-rust, build-docs

config: refactor callback calling
  crates/config/src/lib.rs
  crates/kumod/src/mod_kumo.rs
Due: build-rust

shaping: surface http errors more robustly when loading shaping files
  crates/kumo-api-types/src/shaping.rs
Due: build-rust

authn: allow returning AuthInfo from smtp/http auth event callbacks
  crates/config/src/lib.rs
  crates/kumo-server-common/src/authn_authz.rs
  crates/kumo-server-common/src/http_server/auth.rs
  crates/kumod/src/smtp_server.rs
  docs/reference/connectionmeta.md
  docs/reference/events/http_server_validate_auth_basic.md
  docs/reference/events/smtp_server_auth_plain.md
  docs/reference/kumo.aaa/auth_info.md
  docs/reference/kumo.aaa/query_resource_access.md
Due: build-rust, build-docs

authz: introduce an ACL facility
  Cargo.lock
  assets/acls/default.toml
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/authn_authz.rs
  crates/kumo-server-common/src/http_server/auth.rs
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumo-server-common/src/lib.rs
  crates/kumo-server-common/test_acl_hook_augment.lua
  crates/kumo-server-common/test_acl_hook_load_file.lua
  crates/kumo-server-common/test_acl_hook_nil.lua
  crates/kumo-server-common/test_acl_hook_no_fallback.lua
  crates/kumod/src/http_server/admin_bounce_v1.rs
  crates/kumod/src/http_server/admin_inspect_message.rs
  crates/kumod/src/http_server/admin_inspect_scheduled_queue.rs
  crates/kumod/src/http_server/admin_ready_queue_states.rs
  crates/kumod/src/http_server/admin_rebind_v1.rs
  crates/kumod/src/http_server/admin_suspend_ready_q_v1.rs
  crates/kumod/src/http_server/admin_suspend_v1.rs
  crates/kumod/src/http_server/admin_trace_smtp_client_v1.rs
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/xfer/cancel.rs
  crates/kumod/src/xfer/request.rs
  crates/tsa-daemon/src/http_server.rs
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/access_control.md
  docs/reference/events/get_acl_definition.md
  docs/reference/kumo.aaa/_index.md
  docs/reference/kumo.aaa/load_acl_map.md
  docs/reference/kumo.aaa/make_access_control_list.md
  docs/reference/kumo.aaa/make_http_url_resource.md
  docs/reference/kumo.aaa/query_resource_access.md
  docs/reference/kumo.aaa/set_acl_cache_ttl.md
  docs/reference/kumo.aaa/set_check_cache_ttl.md
  docs/reference/kumo.aaa/set_fall_back_to_acl_map.md
  docs/reference/lruttl-caches.json
Due: build-rust, build-docs

acct: add kumo.aaa.configure_acct_log
  Cargo.lock
  crates/integration-tests/Cargo.toml
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/source.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/auth_deliver.rs
  crates/integration-tests/src/test/end_to_end.rs
  crates/integration-tests/src/test/http_inject_compression.rs
  crates/integration-tests/src/test/rebind.rs
  crates/integration-tests/src/test/suspend_delivery_ready_q.rs
  crates/integration-tests/src/test/suspend_delivery_scheduled_q.rs
  crates/integration-tests/src/test/xfer.rs
  crates/kcli/src/main.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/acct.rs
  crates/kumo-server-common/src/authn_authz.rs
  crates/kumo-server-common/src/http_server/auth.rs
  crates/kumo-server-common/src/lib.rs
  crates/kumo-server-common/src/log.rs
  crates/kumod/src/logging/files.rs
  crates/kumod/src/smtp_server.rs
  docs/reference/access_control.md
  docs/reference/kumo.aaa/configure_acct_log.md
Due: build-rust, build-docs

inject+xfer: cut over to AuthInfo from AuthKind
  crates/config/src/lib.rs
  crates/kumo-server-common/src/authn_authz.rs
  crates/kumo-server-common/src/http_server/auth.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/xfer/mod.rs
  docs/reference/events/http_message_generated.md
  docs/reference/events/xfer_message_received.md
Due: build-rust, build-docs

add explicit http auth integration test
  crates/integration-tests/src/test/http_auth.rs
  crates/integration-tests/src/test/mod.rs
Due: build-rust

mod-http: Enable mlua macros feature and simplify Pairs implementation
  crates/mod-http/src/lib.rs
Due: build-rust

ci: fixup some flakeyness in maildir_batch_452_b
  crates/integration-tests/src/test/maildir_batch_452.rs
Due: build-rust

Add aws_sign_v4 helper on kumo.http.Request (#458)
  Cargo.lock
  crates/mod-aws-sigv4/Cargo.toml
  crates/mod-aws-sigv4/src/lib.rs
  crates/mod-http/Cargo.toml
  crates/mod-http/src/lib.rs
  docs/reference/kumo.crypto/aws_sign_v4.md
  docs/reference/kumo.http/Request.md
Due: build-rust, build-docs

docs: changelog for #458
  docs/changelog/main.md
Due: build-docs

docs: fixup anchor for requestaws_sign_v4params
  docs/changelog/main.md
Due: build-docs

refactor: extract kumo-tls-helper crate from rfc5321
  Cargo.lock
  Cargo.toml
  crates/kumo-tls-helper/Cargo.toml
  crates/kumo-tls-helper/src/lib.rs
  crates/kumo-tls-helper/src/traits.rs
  crates/rfc5321/Cargo.toml
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/lib.rs
Due: build-rust

Add support for AMP in the message builder and injection APIs
  crates/kumod/src/http_server/inject_v1.rs
  crates/mailparsing/src/builder.rs
  crates/mailparsing/src/mimepart.rs
  crates/mod-mimepart/src/builder.rs
  docs/changelog/main.md
  docs/reference/http/api_inject_v1.md
  docs/reference/kumo.mimepart/builder.md
  docs/reference/mimepart/get_simple_structure.md
Due: build-rust, build-docs

feat: Add Suppression List API with RocksDB persistence
  Cargo.lock
  crates/kumo-api-types/src/lib.rs
  crates/kumo-api-types/src/suppression.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/http_server/admin_suppression_v1.rs
  crates/kumod/src/http_server/mod.rs
  crates/kumod/src/mod_kumo.rs
  docs/generate-toc.py
  docs/reference/http/api_admin_suppression_bulk_delete_v1.md
  docs/reference/http/api_admin_suppression_bulk_v1.md
  docs/reference/http/api_admin_suppression_check_v1.md
  docs/reference/http/api_admin_suppression_delete_v1.md
  docs/reference/http/api_admin_suppression_get_v1.md
  docs/reference/http/api_admin_suppression_list_v1.md
  docs/reference/http/api_admin_suppression_summary_v1.md
  docs/reference/http/api_admin_suppression_v1.md
  docs/reference/kumo.api.admin.suppression/_index.md
  docs/reference/kumo.api.admin.suppression/add.md
  docs/reference/kumo.api.admin.suppression/check.md
  docs/reference/kumo.api.admin.suppression/get.md
  docs/reference/kumo.api.admin.suppression/list.md
  docs/reference/kumo.api.admin.suppression/remove.md
  docs/reference/kumo.api.admin.suppression/summary.md
  docs/reference/kumo/configure_suppression_store.md
Due: build-rust, build-docs

feat: add TLS and RFC 1929 auth to KumoProxy
  Cargo.lock
  crates/integration-tests/proxy_with_auth.lua
  crates/integration-tests/source_with_proxy.lua
  crates/integration-tests/src/kumoproxy.rs
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/proxy_basic.rs
  crates/kumo-tls-helper/src/lib.rs
  crates/proxy-server/Cargo.toml
  crates/proxy-server/src/main.rs
  crates/proxy-server/src/mod_proxy.rs
  crates/proxy-server/src/proxy_handler.rs
  docs/changelog/main.md
Due: build-rust, build-docs

Updating headings in Inject API doc so that sidebar menu populates correctly.
  docs/reference/http/api_inject_v1.md
Due: build-docs

docs: update openapi spec for amp_html
  docs/reference/kumod.openapi.json
Due: build-docs

Improve context in jinja template error messages
  crates/kumo-template/src/lib.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/test_http_build_errors.lua
  docs/changelog/main.md
  rust-toolchain.toml
Due: build-rust, build-docs

docs: restore proper version for template_dialect
  docs/reference/http/api_inject_v1.md
Due: build-docs

further improve inject template errors
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/test_http_build_errors.lua
Due: build-rust

ci: trigger image rebuild when rust-toolchain changes
  .github/workflows/builder-images.yml
Due: none

ci: fixup mirror job to not run on dependabot branches
  .github/workflows/mirror.yml
Due: none

ci: try alternate way to exclude dependabot
  .github/workflows/mirror.yml
Due: none

ci: third time's the charm for excluding?
  .github/workflows/mirror.yml
Due: none

Path conditions:
  build-rust: ((((((((((any of: assets/.*.lua) or (any of: assets/.*.service)) or (any of: assets/build-deb.sh)) or (any of: assets/build-rpm.sh)) or (any of: assets/install.sh)) or (any of: assets/accounting.sh)) or (any of: assets/bounce_classifier/.*)) or (any of: assets/policy-extras/.*)) or (any of: assets/run-lua-test)) or (any of: crates/.*)) or (any of: docker/.*)
  build-docs: ((any of: docs/.*) or (any of: mkdocs-base.yml)) or (any of: stylua.toml)
