Repository KumoCorp/kumomta: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-rust, build-docs

.circleci/config.yml:

version: 2.1

# define this file as the setup phase of your dynamic configuration
setup: true

# use the path-filtering orb to continue a pipeline based on
# the path of an updated set of files
orbs:
  path-filtering: circleci/path-filtering@1

workflows:
  always-run:
    jobs:
      # the path-filtering/filter job determines which pipeline
      # parameters to update.
      - path-filtering/filter:
          name: check-updated-files
          # 3-column, whitespace-delimited mapping. One mapping per
          # line:
          # <regex path-to-test> <parameter-to-set> <value-of-pipeline-parameter>
          mapping: |
            assets/.*.lua                   build-rust true
            assets/.*.service               build-rust true
            assets/build-deb.sh             build-rust true
            assets/build-rpm.sh             build-rust true
            assets/install.sh               build-rust true
            assets/accounting.sh            build-rust true
            assets/bounce_classifier/.*     build-rust true
            assets/policy-extras/.*         build-rust true
            assets/run-lua-test             build-rust true
            crates/.*                       build-rust true
            docker/.*                       build-rust true

            docs/.*                         build-docs true
            mkdocs-base.yml                 build-docs true
            stylua.toml                     build-docs true
          base-revision: main
          # this is the path of the configuration we should trigger once
          # path filtering and pipeline parameter value updates are
          # complete.
          config-path: .circleci/continue_config.yml

Updated more provider support. web.de and gmx.net are same provider. Added icloud/apple provider and some others.
  assets/community/shaping.toml
Due: none

Fixed the regex with IP for apple provider with single quote x3
  assets/community/shaping.toml
Due: none

Add changelog entry for community shaping file pull request.
  docs/changelog/main.md
Due: build-docs

docs: add quick links section to README
  README.md
Due: none

fix: DANE downgrade resistance
  Cargo.lock
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
  crates/integration-tests/Cargo.toml
  crates/integration-tests/sink-dane.lua
  crates/integration-tests/source-dane.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/test/dane.rs
  crates/integration-tests/src/test/disconnect_in_data.rs
  crates/integration-tests/src/test/mod.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumo-log-types/src/lib.rs
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/logging/disposition.rs
  crates/kumod/src/lua_deliver.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/kumod/src/smtp_server.rs
  crates/kumod/src/xfer/mod.rs
  crates/mod-dns-resolver/src/lib.rs
  crates/rfc5321/src/client.rs
  docs/changelog/main.md
  docs/reference/kumo.dns/configure_resolver.md
  docs/reference/kumo.dns/define_resolver.md
  docs/reference/kumo/make_egress_path/enable_dane.md
Due: build-rust, build-docs

add dane_result_count metric
  crates/kumod/src/smtp_dispatcher.rs
  docs/reference/kumo/make_egress_path/enable_dane.md
  docs/reference/kumod-metrics.json
  docs/reference/lruttl-caches.json
  docs/reference/metrics/kumod/dane_result_count.md
Due: build-rust, build-docs

track sched->readyq fan in, clean up some internals
  crates/integration-tests/src/test/inspect_ready_q.rs
  crates/kcli/src/inspect_ready_q.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumo-server-common/src/hashable_weak.rs
  crates/kumo-server-common/src/lib.rs
  crates/kumod/src/egress_source.rs
  crates/kumod/src/http_server/inspect_ready_q_v1.rs
  crates/kumod/src/lua_deliver.rs
  crates/kumod/src/queue/queue.rs
  crates/kumod/src/ready_queue.rs
  docs/changelog/main.md
  docs/reference/http/kumod/api_admin_inspect_ready_q_v1_get.md
  docs/reference/http/kumod/schemas/InspectReadyQV1Response.md
  docs/reference/kcli/inspect-ready-q.md
  docs/reference/kumo/make_queue_config/protocol.md
  docs/reference/kumod.openapi.json
Due: build-rust, build-docs

new allow_smtp_auth_plain_without_valid_certificate option
  crates/integration-tests/source.lua
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/allow_smtp_auth_plain_without_valid_certificate.md
  docs/reference/kumo/make_egress_path/enable_dane.md
Due: build-rust, build-docs

dns: add RFC 5011 managed trust anchor option for unbound
  Cargo.lock
  Cargo.toml
  crates/mod-dns-resolver/src/config.rs
  crates/mod-dns-resolver/src/hickory_backend.rs
  crates/mod-dns-resolver/src/unbound_backend.rs
  crates/mod-dns-resolver/test-trust-anchor.lua
  docs/changelog/main.md
  docs/reference/kumo.dns/resolver_options/trust_anchor_file.md
  docs/reference/kumo/make_egress_path/enable_dane.md
Due: build-rust, build-docs

enable DNSSEC when using hickory, allows enable_dane w/o unbound
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/enable_dane.md
Due: build-rust, build-docs

add treat_mx_list_as_secure to SmtpProtocol
  crates/integration-tests/source-dane.lua
  crates/integration-tests/src/test/dane.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/enable_dane.md
  docs/reference/kumo/make_queue_config/protocol.md
Due: build-rust, build-docs

address review feedback on https://github.com/KumoCorp/kumomta/pull/545
  crates/dns-resolver/src/lib.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/reference/kumo/make_egress_path/enable_dane.md
Due: build-rust, build-docs

dane: document the CNAME into unsigned zone case
  docs/reference/kumo/make_egress_path/enable_dane.md
Due: build-docs

ci: maybe add ubuntu 24.04
  assets/ci/build-builder-images.py
  assets/ci/emit-builder-dockerfile.py
Due: none

ci: maybe actually build the builder images
  .github/workflows/builder-images.yml
Due: none

docs: fix broken link
  docs/reference/kumo/make_queue_config/protocol.md
Due: build-docs

improve cgroup memory usage calculation to avoid counting purgeable cache
  crates/kumo-server-memory/src/lib.rs
  docs/changelog/main.md
  docs/reference/memory.md
Due: build-rust, build-docs

extract scan_multipart to eliminate off-by-one error
  crates/mailparsing/src/mimepart.rs
Due: build-rust

fix formatting
  crates/mailparsing/src/mimepart.rs
Due: build-rust

add unit test reproducing control chars in ARC fail reason
  crates/dkim/src/arc.rs
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

add lost comment
  crates/mailparsing/src/rfc5322_parser.rs
Due: build-rust

fix(kumo-log-types): accept obsolete "UTC" timezone in RFC 2822 dates
  crates/kumo-log-types/data/rfc3464/obsolete_arrival_date.eml
  crates/kumo-log-types/src/rfc3464.rs
  crates/kumo-log-types/src/rfc5965.rs
Due: build-rust

dane: engage for secure CNAME into unsigned zone
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
  crates/integration-tests/source-dane.lua
  crates/integration-tests/src/test/dane.rs
  crates/kumod/src/smtp_dispatcher.rs
  docs/changelog/main.md
  docs/reference/kumo/make_egress_path/enable_dane.md
Due: build-rust, build-docs

revert formatting changes to memory.md
  docs/reference/memory.md
Due: build-docs

dns: derive DNSSEC status for hickory negative answers
  crates/dns-resolver/src/lib.rs
  crates/dns-resolver/src/resolver.rs
Due: build-rust

smtp_server: reject invalid UTF-8 command lines with 501
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/random_bytes.rs
  crates/kumod/src/smtp_server.rs
  docs/changelog/main.md
Due: build-rust, build-docs

integration-tests: cover graceful rocksdb spool restart recovery
  crates/integration-tests/source-rocks-spool.lua
  crates/integration-tests/src/test/spool_write_stopped.rs
Due: build-rust

Evaluate MTA-STS during MX resolution to fix aliasing issue
  Cargo.lock
  Cargo.toml
  crates/dns-resolver/src/lib.rs
  crates/kcli/Cargo.toml
  crates/kcli/src/provider_summary.rs
  crates/kcli/src/queue_summary.rs
  crates/kumo-api-types/Cargo.toml
  crates/kumo-api-types/src/egress_path.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/Cargo.toml
  crates/kumod/src/ready_queue.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mailexchanger/Cargo.toml
  crates/mailexchanger/src/lib.rs
  crates/mod-dns-resolver/Cargo.toml
  crates/mod-dns-resolver/src/lib.rs
  crates/mta-sts/Cargo.toml
  crates/mta-sts/src/policy.rs
  docs/changelog/main.md
  docs/reference/kumo.dns/set_mta_sts_enabled.md
  docs/reference/kumo/make_egress_path/enable_mta_sts.md
Due: build-rust, build-docs

allow mocking mta-sts end-to-end, add integration test coverage
  Cargo.lock
  crates/integration-tests/mta-sts.lua
  crates/integration-tests/src/test/mod.rs
  crates/integration-tests/src/test/mta_sts_enforce.rs
  crates/kcli/src/provider_summary.rs
  crates/kcli/src/queue_summary.rs
  crates/kumo-api-types/src/shaping.rs
  crates/kumod/src/smtp_dispatcher.rs
  crates/mailexchanger/Cargo.toml
  crates/mailexchanger/src/lib.rs
  crates/mod-dns-resolver/Cargo.toml
  crates/mod-dns-resolver/src/lib.rs
  crates/mta-sts/src/lib.rs
  docs/reference/kumo.dns/lookup_mx.md
  docs/reference/kumo.dns/set_mta_sts_enabled.md
Due: build-rust, build-docs

Tidy up Option<PolicyMode> -> PolicyMode
  crates/kumod/src/smtp_dispatcher.rs
  crates/mailexchanger/src/lib.rs
  docs/reference/kumo.dns/lookup_mx.md
Due: build-rust, build-docs
