Repository KumoCorp/kumomta: changes, and which Woodpecker steps are due for each by the changed paths.
All: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

amazon:
  steps:
    restore-mtime:
      image: python:3-bookworm
      commands:
      - git config --global --add safe.directory /woodpecker/src
      - ./assets/ci/git-restore-mtime crates
      - git diff-index --name-status HEAD --
    restore-build-cache:
      environment:
        AWS_DISABLESSL: 'true'
      secrets:
  ...

save-build-cache:
  image: meltwater/drone-cache
  environment:
    AWS_DISABLESSL: 'true'
  secrets:
  - source: s3_access_key_id
    target: AWS_ACCESS_KEY_ID
  - source: s3_secret_key
    target: AWS_SECRET_ACCESS_KEY
  - source: s3_endpoint
    target: S3_ENDPOINT
  settings:
    bucket: kumomta-cache
  ...

publish_rpm:
  image: ${BUILDER_IMAGE}
  pull: true
  secrets:
  - source: openrepo_publish_token
    target: TOKEN
  - source: openrepo_gpg_public
    target: PUB
  - source: openrepo_gpg_private
    target: PRIV
  commands:
  - ./assets/sign-rpm.sh *.rpm
  - ./assets/upload-package.sh ${AMAZON_IMAGE} *.rpm

docs:
  steps:
    restore-mtime:
      image: python:3-bookworm
      commands:
      - git config --global --add safe.directory /woodpecker/src
      - ./assets/ci/git-restore-mtime crates
      - git diff-index --name-status HEAD --
    restore-doc-cache:
      environment:
        AWS_DISABLESSL: 'true'
      secrets:
  ...

push-docs:
  image: docker-registry.wezfurlong.org/kumocorp/builder-for-ubuntu:22.04
  secrets:
  - source: gh_pages_deploy_token
    target: TOKEN
  commands:
  - ./assets/ci/push-gh-pages.sh

save-doc-cache:
  image: meltwater/drone-cache
  environment:
    AWS_DISABLESSL: 'true'
  secrets:
  - source: s3_access_key_id
    target: AWS_ACCESS_KEY_ID
  - source: s3_secret_key
    target: AWS_SECRET_ACCESS_KEY
  - source: s3_endpoint
    target: S3_ENDPOINT
  settings:
    bucket: kumomta-cache
    cache_key: docs
    mount:
  ...

rocky:
  steps:
    restore-mtime:
      image: python:3-bookworm
      commands:
      - git config --global --add safe.directory /woodpecker/src
      - ./assets/ci/git-restore-mtime crates
      - git diff-index --name-status HEAD --
    restore-build-cache:
      environment:
        AWS_DISABLESSL: 'true'
      secrets:
  ...

ubuntu:
  steps:
    restore-mtime:
      image: python:3-bookworm
      commands:
      - git config --global --add safe.directory /woodpecker/src
      - ./assets/ci/git-restore-mtime crates
      - git diff-index --name-status HEAD --
    restore-build-cache:
      environment:
        AWS_DISABLESSL: 'true'
      secrets:
  ...

publish_deb:
  depends_on:
  - verify-installable
  image: alpine:3.14
  secrets:
  - source: openrepo_publish_token
    target: TOKEN
  commands:
  - apk --no-cache add curl bash
  - ./assets/upload-package.sh ${UBUNTU_IMAGE} *.deb

dry-run-build-docker-image:
  depends_on:
  - build
  image: plugins/docker
  settings:
    registry: ghcr.io
    repo: ghcr.io/kumocorp/kumomta-dev
    dry_run: true
    tags:
    - dry-run
    dockerfile: docker/kumod/Dockerfile.incremental

Update hello.yml
  .github/workflows/hello.yml
Due: none

Update and rename hello.yml to arc-runner-test.yml
  .github/workflows/arc-runner-test.yml
Due: none

Testing ARC runners (#163)
  .github/workflows/arc-runner-test.yml
Due: none

Add docs build on GH Actions
  .github/workflows/docs.yml
Due: none

Update docs.yml
  .github/workflows/docs.yml
Due: none

ci: update away from deprecated syntax
  .woodpecker/amazon.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: avoid more deprecated syntax
  .woodpecker/docs.yml
Due: docs, push-docs, save-doc-cache

http: allow controlling some timeout and diagnostics on the client
  Cargo.lock
  assets/policy-extras/shaping.lua
  crates/mod-http/Cargo.toml
  crates/mod-http/src/lib.rs
  docs/reference/kumo.http/build_client.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

memoize: add thundering herd protection
  Cargo.lock
  crates/lruttl/src/lib.rs
  crates/mod-memoize/Cargo.toml
  crates/mod-memoize/src/lib.rs
  docs/changelog/main.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

cargo update to pick up resolution for RUSTSEC-2024-0336
  Cargo.lock
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

kumod: logging: migrate from deprecated minijinja functions
  crates/kumod/src/logging.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: avoid running dependabot branches AND PRs
  .woodpecker/amazon.yml
  .woodpecker/docs.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: try again at the when condition
  .woodpecker/amazon.yml
  .woodpecker/docs.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: try again!
  .woodpecker/amazon.yml
  .woodpecker/docs.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: revert when condition changes
  .woodpecker/amazon.yml
  .woodpecker/docs.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: try alternative when syntax
  .woodpecker/docs.yml
Due: docs, push-docs, save-doc-cache

ci: adjust path syntax
  .woodpecker/docs.yml
Due: docs, push-docs, save-doc-cache

ci: try to refine condition
  .woodpecker/docs.yml
Due: docs, push-docs, save-doc-cache

ci: constrain doc build to pushes to main
  .woodpecker/docs.yml
Due: docs, push-docs, save-doc-cache

ci: constrain push to main branch
  .woodpecker/amazon.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

redis: add connect_timeout option
  Cargo.lock
  crates/mod-redis/Cargo.toml
  crates/mod-redis/src/lib.rs
  crates/mod-redis/src/test.rs
  docs/changelog/main.md
  docs/reference/redis/open.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: arrange to clear build cache on cron
  .woodpecker/amazon.yml
  .woodpecker/docs.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: split build into test and (release) build
  .woodpecker/amazon.yml
  .woodpecker/docs.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

ci: add builder image builder
  .github/workflows/publish-builder.yml
Due: none

ci: tweak docker publish for builder images
  .github/workflows/publish-builder.yml
Due: none

ci: fixup copypasta
  .github/workflows/publish-builder.yml
Due: none

ci: use matrix build for images
  .github/workflows/publish-builder.yml
  assets/ci/build-builder-images.py
Due: none

ci: switch to ghcr.io builder images
  .woodpecker/amazon.yml
  .woodpecker/docs.yml
  .woodpecker/rocky.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Path conditions:
  amazon: any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**
  save-build-cache: (any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**)
  publish_rpm: (any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**)
  docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  push-docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  save-doc-cache: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  rocky: any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**
  ubuntu: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  publish_deb: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  dry-run-build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-dev-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
