Repository KumoCorp/kumomta: changes, and which Woodpecker steps are due for each by the changed paths.
All: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Path conditions:
  amazon: any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**
  save-build-cache: (any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**)
  publish_rpm: (any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**)
  docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  push-docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  save-doc-cache: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  rocky: any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**
  ubuntu: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  publish_deb: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  dry-run-build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-dev-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**

Update KumoProxy install instructions
  docs/userguide/operation/proxy.md
Due: docs, push-docs, save-doc-cache

docs: format generate-toc.py
  docs/generate-toc.py
Due: docs, push-docs, save-doc-cache

Update queue.lua to allow protocol field in queues.toml
  assets/policy-extras/queue.lua
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

http_listener: allow configuring max request size
  crates/kumo-server-common/src/http_server/mod.rs
  docs/changelog/main.md
  docs/reference/kumo/start_http_listener.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs: fix link
  docs/userguide/operation/proxy.md
Due: docs, push-docs, save-doc-cache

fix: "invalid return type for message_requeued event"
  crates/kumod/src/ready_queue.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Refactor to use a helper function
  assets/policy-extras/queue.lua
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

kumod: remove Conflicts from systemd service
  assets/kumomta.service
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

cargo update
  Cargo.lock
  crates/tsa-daemon/src/http_server.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Update queue.lua to allow protocol field in queues.toml (#155)
  assets/policy-extras/queue.lua
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs: changelog for #155
  docs/changelog/main.md
Due: docs, push-docs, save-doc-cache

smtp client: don't unconditionally log bind errors
  crates/kumod/src/egress_source.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add serializer for response content field
  crates/rfc5321/src/client_types.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

update formatting
  crates/rfc5321/src/client_types.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add overall_max_message_rate option to queue helper
  Makefile
  assets/policy-extras/policy_utils.lua
  assets/policy-extras/queue.lua
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

fix running new lua unit tests when run as root
  Makefile
Due: none

ci: switch amazon and ubuntu builds to `make test`
  .woodpecker/amazon.yml
  .woodpecker/ubuntu.yml
Due: amazon, save-build-cache, publish_rpm, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

queue helper: add routing_domain option
  assets/policy-extras/queue.lua
  crates/kumod/src/mod_kumo.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

fixup make test to pick up username even if $USER is unset
  Makefile
Due: none

docs: clarify how to access headers in logging templates
  docs/reference/kumo/configure_local_logs.md
Due: docs, push-docs, save-doc-cache

listener_domains: fix fallback issue
  Makefile
  assets/policy-extras/listener_domains.lua
  docs/changelog/main.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

cargo update
  Cargo.lock
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

strip enhanced status code from multi-line responses
  crates/rfc5321/src/client.rs
  docs/changelog/main.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add serializer for response content field (#157)
  crates/rfc5321/src/client_types.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs: changelog for #157
  docs/changelog/main.md
Due: docs, push-docs, save-doc-cache

add tests for and optimize remove_line_break
  crates/rfc5321/src/client_types.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

deps: make reqwest a workspace dependency
  Cargo.toml
  crates/kcli/Cargo.toml
  crates/kumo-api-types/Cargo.toml
  crates/mod-http/Cargo.toml
  crates/mta-sts/Cargo.toml
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

deps: reqwest -> 0.12
  Cargo.lock
  Cargo.toml
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

checkpoint some local testing/hacking in my test configs
  Makefile
  simple_policy.lua
  sink.lua
Due: none

Add back-pressure to enqueue during SMTP reception
  crates/kumod/src/smtp_server.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Add total_messages_received prometheus metric
  crates/kumod/src/metrics_helper.rs
  crates/kumod/src/smtp_server.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add provisional knob to control how aggressive we are at open connections
  crates/kumo-api-types/src/egress_path.rs
  crates/kumod/src/ready_queue.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

amortize ready-q maintainer triggers
  crates/kumod/src/ready_queue.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

bug: math in ideal_connection_count yields too-big values
  crates/kumod/src/ready_queue.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

fix smtp client idle behavior
  crates/kumod/src/ready_queue.rs
  docs/changelog/main.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

fixup low traffic case for maintainer dispatch
  crates/kumod/src/ready_queue.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

fixup tests for 2fbd9d4c4c5cce4e73b45a6f2d1477dba44d698c
  crates/kumo-api-types/src/shaping.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

deps: update criterion, and fixup dkim benchmarks
  Cargo.lock
  crates/dkim/Cargo.toml
  crates/dkim/benches/sign.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

deps: update metrics related deps
  Cargo.lock
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/diagnostic_logging.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image
