Repository KumoCorp/kumomta: changes, and which Woodpecker steps are due for each by the changed paths.
All: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Path conditions:
  amazon: any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**
  save-build-cache: (any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**)
  publish_rpm: (any of: .woodpecker/amazon.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**) or (any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**)
  docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  push-docs: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  save-doc-cache: any of: .woodpecker/docs.yml, docs/**, mkdocs-base.yml, stylua.toml
  rocky: any of: .woodpecker/rocky.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*rpm*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**
  ubuntu: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  publish_deb: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  dry-run-build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-dev-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**
  build-docker-image: any of: .woodpecker/ubuntu.yml, **/Cargo.toml, Cargo.lock, assets/**/*.lua, assets/*.service, assets/*deb*.sh, assets/accounting.sh, assets/bounce_classifier/**, assets/install.sh, assets/policy-extras/**, crates/**, docker/**

deps: update k9
  Cargo.lock
  crates/dkim/Cargo.toml
  crates/dns-resolver/Cargo.toml
  crates/kumo-api-types/Cargo.toml
  crates/kumo-log-types/Cargo.toml
  crates/message/Cargo.toml
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

deps: cargo update
  Cargo.lock
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Expose suspension API to lua
  crates/config/src/lib.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumod/src/http_server/admin_suspend_ready_q_v1.rs
  crates/kumod/src/http_server/admin_suspend_v1.rs
  crates/kumod/src/mod_kumo.rs
  docs/reference/kumod.openapi.json
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

simple_policy/sink: use temporary file for acct db
  simple_policy.lua
  sink.lua
Due: none

new: kumo.spawn_task function
  crates/config/src/lib.rs
  crates/kumo-server-common/src/lib.rs
  docs/reference/kumo/spawn_task.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

tsa: add separate suspension concept
  crates/kumo-api-types/src/lib.rs
  crates/kumo-api-types/src/tsa.rs
  crates/tsa-daemon/src/http_server.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add kumo.http.connect_websocket
  Cargo.lock
  assets/tsa_init.lua
  crates/mod-http/Cargo.toml
  crates/mod-http/src/lib.rs
  docs/reference/kumo.http/connect_websocket.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

tsa: add websocket subscription to suspension data
  crates/kumo-api-types/src/tsa.rs
  crates/tsa-daemon/Cargo.toml
  crates/tsa-daemon/src/http_server.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

tsa: hook up websocket suspension stream
  assets/policy-extras/shaping.lua
  crates/integration-tests/maildir-sink.lua
  crates/integration-tests/shaping.toml
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/main.rs
  crates/integration-tests/src/tsa.rs
  crates/integration-tests/tsa_init.lua
  crates/integration-tests/tsa_source.lua
  crates/kcli/src/suspend_ready_q.rs
  crates/kumo-api-types/src/lib.rs
  crates/kumo-api-types/src/tsa.rs
  crates/kumo-server-common/src/lib.rs
  crates/tsa-daemon/src/http_server.rs
  docs/reference/kumo/sleep.md
  docs/reference/kumod.openapi.json
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

tsa: remove local re-resolve of site-name
  Cargo.lock
  crates/tsa-daemon/Cargo.toml
  crates/tsa-daemon/src/http_server.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

TSA: Add SuspendTenant, SuspendCampaign
  Cargo.lock
  assets/policy-extras/shaping.lua
  crates/integration-tests/shaping.toml
  crates/integration-tests/src/main.rs
  crates/integration-tests/tsa_init.lua
  crates/integration-tests/tsa_source.lua
  crates/kumo-api-types/src/shaping.rs
  crates/kumo-api-types/src/tsa.rs
  crates/tsa-daemon/Cargo.toml
  crates/tsa-daemon/src/http_server.rs
  docs/changelog/main.md
  docs/reference/kumo.shaping/load.md
  docs/reference/kumo/make_egress_path.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs: disable social plugin due to google font breakage
  .woodpecker/docs.yml
Due: docs, push-docs, save-doc-cache

docs: second attempt...
  .woodpecker/docs.yml
Due: docs, push-docs, save-doc-cache

docs: nth time's the charm
  .woodpecker/docs.yml
  mkdocs-base.yml
Due: docs, push-docs, save-doc-cache

trace: increase channel capacity
  crates/kumod/src/http_server/admin_trace_smtp_server_v1.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add glob, read_dir
  Cargo.lock
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-common/src/lib.rs
  crates/mod-filesystem/Cargo.toml
  crates/mod-filesystem/src/lib.rs
  docs/changelog/main.md
  docs/reference/kumo/glob.md
  docs/reference/kumo/read_dir.md
  docs/reference/kumo/uncached_glob.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

expose inject_v1 API via lua
  crates/kumo-server-common/src/http_server/mod.rs
  crates/kumod/src/http_server/inject_v1.rs
  crates/kumod/src/mod_kumo.rs
  docs/changelog/main.md
  docs/generate-toc.py
  docs/reference/http/api_inject_v1.md
  docs/reference/kumo.api.inject/_index.md
  docs/reference/kumo.api.inject/inject_v1.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Add new Rejection log event
  Makefile
  assets/policy-extras/shaping.lua
  crates/integration-tests/src/kumod.rs
  crates/integration-tests/src/main.rs
  crates/kumo-log-types/src/lib.rs
  crates/kumod/src/logging.rs
  crates/kumod/src/smtp_server.rs
  crates/rfc5321/src/client.rs
  crates/rfc5321/src/client_types.rs
  docs/changelog/main.md
  docs/reference/kumo/configure_local_logs.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs: restore social previews
  mkdocs-base.yml
Due: docs, push-docs, save-doc-cache

docs: always pull upstream mkdocs
  docs/build.sh
Due: docs, push-docs, save-doc-cache

Add msg:set_data()
  crates/message/src/message.rs
  docs/reference/message/get_data.md
  docs/reference/message/set_data.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

mailparsing: introduce PartPointer
  crates/mailparsing/src/error.rs
  crates/mailparsing/src/mimepart.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add msg:append_text_html and msg:append_text_html
  crates/mailparsing/src/headermap.rs
  crates/mailparsing/src/mimepart.rs
  crates/message/src/message.rs
  docs/changelog/main.md
  docs/reference/message/append_text_html.md
  docs/reference/message/append_text_plain.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Revert "docs: restore social previews"
  mkdocs-base.yml
Due: docs, push-docs, save-doc-cache

Update shaping based on Comcast documents, add stack trace information to the documentation.
  assets/policy-extras/shaping.toml
  docs/userguide/general/get_help.md
  docs/userguide/operation/troubleshooting.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

add helper script for analyzing stack traces
  Makefile
  assets/bt
Due: none

Create hello.yml
  .github/workflows/hello.yml
Due: none

cargo update
  Cargo.lock
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

Documenting Add support for Routing_Domain in the Queues helper. #141
  docs/userguide/configuration/domains.md
  docs/userguide/configuration/queuemanagement.md
Due: docs, push-docs, save-doc-cache

msg: remove stray debug prints from scheduling logic
  crates/message/src/scheduling.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

fix: msg:set_scheduling didn't immediately recompute due time
  crates/message/src/message.rs
  docs/changelog/main.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

localset: respect TOKIO_WORKER_THREADS concurrency override
  crates/kumo-server-runtime/src/lib.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

mta-sts: reduce scope of cache lock
  crates/mta-sts/src/lib.rs
  docs/changelog/main.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

queue: make bounce_all do spool removal async
  crates/kumod/src/queue.rs
  docs/changelog/main.md
Due: amazon, save-build-cache, publish_rpm, docs, push-docs, save-doc-cache, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

fixup and fully migrate to metrics 0.22
  Cargo.lock
  Cargo.toml
  crates/config/Cargo.toml
  crates/config/src/lib.rs
  crates/kumo-server-common/Cargo.toml
  crates/kumo-server-memory/Cargo.toml
  crates/kumo-server-memory/src/lib.rs
  crates/kumod/Cargo.toml
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

dkim: remove usage of `rsa` crate
  Cargo.lock
  crates/dkim/Cargo.toml
  crates/dkim/benches/sign.rs
  crates/dkim/examples/sign_bench.rs
  crates/dkim/src/lib.rs
  crates/dkim/src/public_key.rs
  crates/dkim/src/sign.rs
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

tsa: make the default queue config for tsa-daemon more aggressive
  assets/policy-extras/shaping.lua
Due: amazon, save-build-cache, publish_rpm, rocky, ubuntu, publish_deb, dry-run-build-docker-image, build-dev-docker-image, build-docker-image

docs: try re-enabling social card preview
  mkdocs-base.yml
Due: docs, push-docs, save-doc-cache

Add a warning to the webhooks helper about proper positioning of the log hooks and queue helper calls.
  docs/userguide/operation/webhooks.md
Due: docs, push-docs, save-doc-cache

Update hello.yml
  .github/workflows/hello.yml
Due: none
